<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/san-pham/" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH" />
  <meta property="og:url" content="/san-pham/" />
  <meta property="og:site_name" content="Minh Anh Group" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Sản Phẩm" />
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <%- include('../partial/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/bds.css">
    <style id='stylesheet-inline-css' type='text/css'>
      .page-id-97.disabled_footer_top .footer_top_holder,
      .page-id-97.disabled_footer_bottom .footer_bottom_holder {
        display: none;
      }
    </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-97 page-parent  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../partial/header.ejs', { page: 'bat-dong-san' , lang: 'vi' , engPage: 'en/project.html' })
        %>
        <div class="content ">
          <div class="content_inner  ">
            <div class="title_outer title_without_animation with_image" data-height="180">
              <div class="title title_size_small  position_right " style="height:180px;">
                <div class="image responsive"><img width="950" height="540"
                  src="/assets/img/bds/banner.png"
                  alt="Minh Anh Park Hill Củ Chi " /></div>
                <div class="title_holder">
                  <div class="container">
                    <div class="container_inner clearfix">
                      <div class="title_subtitle_holder" style="padding-top:80px;">
                        <div class="title_subtitle_holder_inner">
                          <!-- <h1 style="color:#ffffff"><span>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH</span></h1> -->
                          <span class="separator small right"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="full_width">
              <div class="full_width_inner">
                <div class="project-detail">
                  <div class="grid_section">
                    <div class="section_inner">
                      <p><strong>Dự án</strong><strong>&nbsp;Vinhomes Củ Chi Khu Đô Thị Tây Bắc của Tập Đoàn Vingroup&nbsp;</strong>có diện tích khoảng&nbsp;<strong>6.100 ha</strong>&nbsp;tọa lạc trên địa phận của hai huyện Hóc Môn và Củ Chi thuộc Thành phố Hồ Chí Minh. Cụ thể, <strong>khu đô thị</strong>&nbsp;<strong>Vinhomes Củ Chi</strong>&nbsp;thuộc xã Tân Thới Nhì của huyện Hóc Môn; thuộc xã Tân Phú Trung, xã Tân Thông Hội, xã Tân An Hội, xã Phước Hiệp và thị trấn Củ Chi của huyện Củ Chi. Theo quy hoạch,&nbsp;<strong>Vinhomes Củ Chi</strong>&nbsp;sẽ là dự án tổ hợp dịch vụ, thương mại, y tế, văn hóa, giáo dục đào tạo, thể dục thể thao và nghỉ dưỡng vui chơi giải trí hàng đầu khu vực Tây Bắc Sài Gòn.</p>
                      <p style="text-align:center"><img alt="" src="http://quybatdongsan.com/images/Vinhomes-C%E1%BB%A7-Chi-19.jpg"></p>
                      <p style="text-align:center"><span style="font-size:12px"><em>Dự án Đại đô thị Vinhomes Củ Chi</em></span></p>
                      <h5><span style="color:#0000FF"><strong>I. GIỚI THIỆU&nbsp;DỰ ÁN VINHOMES&nbsp;CỦ CHI</strong></span></h5>
                      <p>- Tên dự án:&nbsp;<strong>Vinhomes Củ Chi</strong></p>
                      <p>- Đơn vị xây dựng, thi công: Contecons</p>
                      <p>- Đơn vị phân phối chính:&nbsp;</p>
                      <p>- Tổng diện tích: 6.100 ha</p>
                      <p>- Mật độ xây dựng: 25%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <%- include('../partial/footer.ejs', {lang: 'vi' }) %>
    </div>
  </div>
  <%- include('../partial/bodyAssets.ejs') %>
    <script type='text/javascript' src='/assets/js/jquery.barrating.min.js?ver=5.4.7'></script>
    <script type='text/javascript' src='/assets/js/bds.js?ver=5.4.7'></script>
    <script type="text/javascript">
      var flatsomeVars = { "rtl": "", "sticky_height": "79", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu" }, "options": { "cookie_notice_version": "1" } };
    </script>
    <script type='text/javascript' src='/assets/js/flatsome.js?ver=5.4.7'></script>
    <script type='text/javascript' src='/assets/js/jquery.lazyload.min.js?ver=5.4.7'></script>
    <script type='text/javascript' src='/assets/js/jquery.fancybox.min.js?ver=5.4.7'></script>
</body>

</html>