<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/san-pham/" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH" />
  <meta property="og:url" content="/san-pham/" />
  <meta property="og:site_name" content="Minh Anh Group" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Sản Phẩm" />
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <%- include('../partial/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/bds.css">
    <style id='stylesheet-inline-css' type='text/css'>
      .page-id-97.disabled_footer_top .footer_top_holder,
      .page-id-97.disabled_footer_bottom .footer_bottom_holder {
        display: none;
      }
    </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-97 page-parent  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../partial/header.ejs', { page: 'bat-dong-san' , lang: 'vi' , engPage: 'en/project.html' })
        %>
        <div class="content ">
          <div class="content_inner  ">
            <div class="title_outer title_without_animation with_image" data-height="180">
              <div class="title title_size_small  position_right " style="height:180px;">
                <div class="image responsive"><img width="950" height="540"
                  src="/assets/img/bds/banner.png"
                  alt="Minh Anh Park Hill Củ Chi " /></div>
                <div class="title_holder">
                  <div class="container">
                    <div class="container_inner clearfix">
                      <div class="title_subtitle_holder" style="padding-top:80px;">
                        <div class="title_subtitle_holder_inner">
                          <!-- <h1 style="color:#ffffff"><span>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH</span></h1> -->
                          <span class="separator small right"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="full_width">
              <div class="full_width_inner">
                <div class="vc_row wpb_row section vc_row-fluid  chuoi_gia_tri_home_row grid_section"
                  style=' text-align:left;'>
                  <!-- <div class=" section_inner clearfix"> -->
                    <div class="">
                    <div class='clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <div id="content" class="landing-page-holding">
                              <div id="section_intro">
                                <div class="bg-title pt-40">
                                    <h1 class="font_gradient" style="text-align: center">Minh Anh Park Hill Củ Chi
                                    </h1>
                                    <div id="rating-box">
                                      <select id="rating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                      </select>
                                      <div class="rating-responsive">.Đánh giá của bạn</div>
                                    </div>
                                    <div class="editor col col-sm small-12 large-9 medium-12" style="margin:0 auto;">
                                      <p
                                        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;">
                                        <span id="docs-internal-guid-7e342ecd-7fff-8871-8eff-3e620853fdd2"><span
                                            style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;"><strong>Minh Anh Park Hill</strong> của Công ty Cổ phần Đầu tư Công nghệ Minh Anh có diện tích khoảng 2,2 ha tọa lạc trên địa phận xã Hòa Phú, Huyện Củ Chi thuộc Thành phố Hồ Chí Minh. Theo quy hoạch, Minh Anh Park Hill sẽ là dự án tổ hợp dịch vụ, thương mại, văn hóa và vui chơi giải trí tại khu vực Tây Bắc Sài Gòn.
                                          </span></span></p>
                                      
                                      <div></div>
                                    </div>
                                </div>
                                <div
                                  class="box-lydo row row-full-width fix-slider slider-wrapper large-columns-5 medium-columns-2 small-columns-1 slider row-slider flickity-enabled align-equal noibat"
                                  data-flickity-options='{
                                     "imagesLoaded": true,
                                     "arrowShape": "M 10,50 L 60,100 L 65,100 L 15,50 L 65,0 L 60,0 Z",
                                     "groupCells": "100%",
                                     "dragThreshold" : 5,
                                     "cellAlign": "left",
                                     "wrapAround": true,
                                     "prevNextButtons": false,
                                     "percentPosition": false,
                                     "pageDots": true,
                                     "rightToLeft": false,
                                     "autoPlay" : true}' tabindex="0">
                                  <div class="col">
                                    <div class="col-inner dark icon-why">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image"><img width="44" height="44"
                                            src="https://batdongsanexpress.vn/template_detail/img/icon-1.png"
                                            alt="icon 1" /></div>
                                        <div class="box-text text-center">
                                          <div class="box-text-inner">
                                            Minh Anh Park Hill Củ Chi đã được đầu tư và quy hoạch hệ thống hạ tầng
                                            tiện ích dịch vụ hiện đại giúp mang lại một KĐT phồn hoa đáng sống, an lành
                                            nhất cho cư dân. </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="col-inner dark icon-why">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image"><img width="44" height="44"
                                            src="https://batdongsanexpress.vn/template_detail/img/icon-2.png"
                                            alt="icon 2" /></div>
                                        <div class="box-text text-center">
                                          <div class="box-text-inner">
                                            Chủ đầu tư đã hoàn thiện mọi thủ tục pháp lý liên quan, thời gian sở hữu sản
                                            phẩm lâu dài cho khách hàng. Vì thế mọi người hoàn toàn an tâm khi lựa chọn
                                            an cư sinh sống hay đầu tư tại dự án. </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="col-inner dark icon-why">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image"><img width="44" height="44"
                                            src="https://batdongsanexpress.vn/template_detail/img/icon-3.png"
                                            alt="icon 3" /></div>
                                        <div class="box-text text-center">
                                          <div class="box-text-inner">
                                            Minh Anh Group đã trở thành một thương hiệu nổi tiếng, uy tín trên thị trường BĐS
                                            Việt Nam khi thành công với hàng loạt dự án nổi tiếng trong cung cấp các mô
                                            hình đại đô thị hiện đại quy tụ đầy đủ cơ sở hạ tầng và tiêu chuẩn dịch vụ
                                            Minh Anh Group. </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="col-inner dark icon-why">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image"><img width="44" height="44"
                                            src="https://batdongsanexpress.vn/template_detail/img/icon-4.png"
                                            alt="icon 4" /></div>
                                        <div class="box-text text-center">
                                          <div class="box-text-inner">
                                            Minh Anh Park Hill Củ Chi có tổng diện tích quy hoạch 110 ha với mật
                                            độ xây dựng khá thấp và phần lớn là khoảng không gian sống xanh cùng chuỗi
                                            tiện ích dịch vụ đắt giá được triển khai từ năm 2022. </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="col-inner dark icon-why">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image"><img width="44" height="44"
                                            src="https://batdongsanexpress.vn/template_detail/img/icon-5.png"
                                            alt="icon 5" /></div>
                                        <div class="box-text text-center">
                                          <div class="box-text-inner">
                                            Dự án được quy hoạch thành một khu phức hợp với vị trí tọa lạc tại phường
                                            Hải Hoà, thành phố Củ Chi ngay liền kề lài sông Ka Long; cầu Bắc Luân 2;
                                            cửa khẩu Bắc Luân 2;…có tiềm năng giao thương và đầu tư sinh lời hấp dẫn.
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="col-inner dark icon-why">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image"><img width="44" height="44"
                                            src="https://batdongsanexpress.vn/template_detail/img/icon-6.png"
                                            alt="icon 6" /></div>
                                        <div class="box-text text-center">
                                          <div class="box-text-inner">
                                            Tới với dự án, khách hàng có thể lựa chọn sở hữu các căn liền kề; nhà phố
                                            thiết kế tiêu chuẩn hiện đại để ở cũng như đầu tư sinh lời phù hợp với nhu
                                            cầu cũng như tầm tài chính. </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <section class="section tongquan">
                                <div class="bg section-bg fill bg-fill bg-loaded">
                                  <div class="section-bg-overlay absolute fill"></div>
                                </div>
                                <div class="section-content relative">
                                  <div class="col-inner text-center">
                                    <h2 class="font_gradient">Tổng quan Minh Anh Park Hill Củ Chi </h2>
                                  </div>
                                  <div id="gap-1543265841" class="gap-element clearfix"
                                    style="display:block; height:auto;"></div>
                                  <div class="tongquan_inner" style="padding:0;">
                                    <div class="row row-full-width">
                                      <div class="col small-12 large-6 medium-12" style="padding: 0;">
                                        <div class="img-inner dark">
                                          <img class="lazy" width="540" height="540"
                                            src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs="
                                            data-src="/assets/img/bds/minhanh_cuchi_tongquan.PNG"
                                            alt="Tổng quan Minh Anh Park Hill Củ Chi" />
                                        </div>
                                      </div>
                                      <div class="col small-12 large-6 medium-12 tongquan_text">
                                        <div class="editor col-inner tbltongquan thinscroll"
                                          style="max-width:1000px;margin: 0 auto;">
                                          <ul dir="ltr">
                                            <li
                                              style="line-height: 1.38; text-align: justify; margin-top: 0pt; margin-bottom: 0pt;">
                                              <span id="docs-internal-guid-880791c0-7fff-2618-f2cb-36f35bf9504e"><span
                                                  style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Dự án:</span><span
                                                  style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Minh Anh Pakr Hill Củ Chi</span></span>
                                            </li>
                                            
                                          </ul>
                                          <div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <section class="form2 relative"
                                style="background: url('https://batdongsanexpress.vn/upload/2023/06/banner-Minh Anh Group-golden-avenue-41.jpg');">
                                <div class="bg section-bg fill bg-fill">
                                  <div class="section-bg-overlay absolute fill"></div>
                                </div>
                                <div class="col-inner">
                                  <p class="title_form text-center">Đăng ký nhận bảng giá & ưu đãi từ chủ đầu tư</p>
                                  <div class="row align-middle align-center" style="max-width: 800px;margin: auto;">
                                    <div class="col small-12 medium-4 large-4">
                                      <img width="60" height="75"
                                        src="/assets/img/bds/icon-banggia.png"
                                        alt="Icon bảng giá" /> Bảng giá tháng 07/2023
                                    </div>
                                    <div class="col small-12 medium-4 large-4">
                                      <img width="60" height="75"
                                        src="https://batdongsanexpress.vn/template_detail/img/icon-phaply.png"
                                        alt="Icon hồ sơ pháp lý" /> Hồ sơ pháp lý
                                    </div>
                                    <div class="col small-12 medium-4 large-4">
                                      <img width="60" height="75"
                                        src="https://batdongsanexpress.vn/template_detail/img/icon-csbh.png"
                                        alt="Icon chính sách bán hàng" /> Chính sách bán hàng
                                    </div>
                                  </div>
                                  <div class="clearfix clear"></div>
                                </div>
                                <div class="col-inner">
                                  <form action="#" method="post" id="frm_018" class="wpcf7-form">
                                    <input name="title" type="hidden" value="Minh Anh Park Hill CỦ CHI ">
                                    <input name="_url" type="hidden"
                                      value="https://batdongsanexpress.vn/Minh Anh Group-golden-avenue-mong-cai.html">
                                    <div class="row">
                                      <div class="col small-12 medium-3 large-3"><input type="text" name="name"
                                          class="form-control required" placeholder="Họ tên (*)" /></span></div>
                                      <div class="col small-12 medium-3 large-3"><input type="tel" name="phone"
                                          class="form-control required number" placeholder="Điện thoại (*)" /></span>
                                      </div>
                                      <div class="col small-12 medium-3 large-3"><input type="email" name="email"
                                          class="form-control email" placeholder="Email" /></span></div>
                                      <div class="col small-12 medium-3 large-3"><input
                                          onclick="" type="button"
                                          value="Đăng ký ngay" /></div>
                                    </div>
                                    <div class="res"></div>
                                  </form>
                                </div>
                              </section>
                              <section class="section svitri" id="section_vitri">
                                <div class="bg section-bg fill bg-fill">
                                  <div class="section-bg-overlay absolute fill"></div>
                                </div>
                                <div class="section-content relative">
                                  <div class="col-inner text-center">
                                    <h2 class="font_gradient_no text-uppercase"><span>Vị trí đắt
                                        giá</span><br />Minh Anh Park Hill CỦ CHI </h2>
                                  </div>
                                  <div class="row">
                                    <div class="col small-12 large-12">
                                      <div class="editor col-inner">
                                        <p
                                          style="line-height:1.38;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
                                          <span id="docs-internal-guid-7062aa42-7fff-f61f-f189-c8e47d863cb7"><span
                                              style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </span></span>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="bg_lienketvung">
                                    <div class="row row-full-width align-middle align-center">
                                      <div class="col small-12 large-6 medium-12 p0 left-img">
                                        <div class="img-inner dark">
                                          <a data-fancybox="img-vitri" data-type="image"
                                            href="">
                                            <img class="lazy" width="1200" height="1000"
                                              src="/assets/img/bds/minhanh_cuchi_lienketvung.png"                                              
                                              alt="Minh Anh Park Hill Củ Chi" />
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col small-12 large-6 medium-12">
                                        <div class="col-inner text-lienketvung"
                                          style="max-width:1000px;margin: 0 auto;">
                                          <p class="title">Liên kết vùng</p>
                                          <ul>
                                            <li><span class="num">1</span> Cách trung tâm Thành Phố 22 KM</li>
                                            <li><span class="num">2</span> Cách trung tâm Thủ Dầu Một 5 KM</li>
                                            <li><span class="num">3</span> Cách ngã tư Tân Quy 3 KM</li>
                                            <li><span class="num">4</span> Cách chợ Hóc Môn 10 KM</li>
                                            <li><span class="num">5</span> Cách Đông Thạnh Quận 12 10 KM</li>
                                            <li><span class="num">6</span> Cách quốc lộ 22 14 KM</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <section class="section tienich bg-title pt-40 pb-0">
                                <div class="bg section-bg fill bg-fill"></div>
                                <div class="section-content relative">
                                  <div class="col-inner text-center">
                                    <h2 class="font_gradient_no text-uppercase"><span>Tiện ích cao cấp
                                      </span><br />Minh Anh Park Hill Củ Chi </h2>
                                  </div>
                                  <div class="row">
                                    <div class="col small-12 large-12">
                                      <div class="editor col-inner">
                                        <p
                                          style="line-height:1.38;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
                                          <span id="docs-internal-guid-73fbb7e2-7fff-3a42-b538-e9c202872af2"><span
                                              style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </span></span></p>
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <section>
                                <div class="row row-full-width">
                                  <div class="clearfix"></div>
                                  <div class="col col-sm medium-4 small-12 large-4">
                                    <div class="col-inner">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image">
                                          <a data-fancybox="img-thietke" data-type="image"
                                            href="/assets/img/bds/sp-mo-ban-vinhomes-mong-cai-101.jpg" title="NHÀ MẪU 1">
                                            <div class="itrans-01"><img width="370" height="290"
                                                src="/assets/img/bds/sp-mo-ban-vinhomes-mong-cai-101-370x290.jpg" alt="NHÀ MẪU 1" /></div>
                                            <p><span class="_1line">NHÀ MẪU 1</span></p>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col col-sm medium-4 small-12 large-4">
                                    <div class="col-inner">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image">
                                          <a data-fancybox="img-thietke" data-type="image"
                                            href="/assets/img/bds/sp-mo-ban-vinhomes-mong-cai-93.jpg" title="NHÀ MẪU 2">
                                            <div class="itrans-01"><img width="370" height="290"
                                                src="/assets/img/bds/sp-mo-ban-vinhomes-mong-cai-93-370x290.jpg" alt="NHÀ MẪU 2" /></div>
                                            <p><span class="_1line">NHÀ MẪU 2</span></p>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col col-sm medium-4 small-12 large-4">
                                    <div class="col-inner">
                                      <div class="box has-hover has-hover box-text-bottom">
                                        <div class="box-image">
                                          <a data-fancybox="img-thietke" data-type="image"
                                            href="/assets/img/bds/sp-mo-ban-vinhomes-mong-cai-51.jpg" title="NHÀ MẪU 3">
                                            <div class="itrans-01"><img width="370" height="290"
                                                src="/assets/img/bds/sp-mo-ban-vinhomes-mong-cai-51-370x290.jpg" alt="NHÀ MẪU 3" /></div>
                                            <p><span class="_1line">NHÀ MẪU 3</span></p>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <section style="background: #ffffec;">
                                <div class="section-content relative">
                                  <div class="row row-fluid align-middle align-center">
                                    <div id="col-150993186" class="col small-12 large-12">
                                      <div class="col-inner">
                                        <div class="text-center container section-title-container">
                                          <p class="title font_gradient">CÂU HỎI THƯỜNG GẶP VỀ Minh Anh Park Hill Củ Chi
                                            Củ Chi </p>
                                        </div>
                                        <div class="accordion">
                                          
                                          <div class="accordion-item">
                                            <a href="#" class="accordion-title plain">
                                              <button class="toggle" aria-label="Toggle"><i
                                                  class="icon-angle-down"></i></button>
                                              <span> Minh Anh Park Hill Củ Chi có diện tích bao nhiêu?</span>
                                            </a>
                                            <div class="accordion-inner">
                                              Theo như quy hoạch, dự án Minh Anh Park Hill Củ Chi có tổng diện tích rộng
                                              rãi vào khoảng 116 ha. </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <section id="duan_khac" class="phankhu section">
                                <div class="col-inner">
                                  <div class="text-center container section-title-container">
                                    <p class="title font_gradient">Xem thêm dự án nổi bật khác</p>
                                  </div>
                                  <div class="row row-full-width">
                                    <div class="col small-12 large-4">
                                      <div class="col-inner">
                                        <div class="img has-hover x md-x lg-x y md-y lg-y" style="width: 100%;">
                                          <div class="img-inner image-cover dark">
                                            <a target="_blank" title="Eco Village Saigon River"
                                              href="/bds/minh-anh-park-hill-cu-chi.html"
                                              class="itrans-01" style="position: unset;" data-wpel-link="internal">
                                              <img alt="Eco Village Saigon River" width="600" height="400"
                                                src="/assets/img/bds/ecopark-nhon-trach-dong-nai-31-370x290.jpg" />
                                            </a>
                                          </div>
                                          <div class="phankhu_text">
                                            <div class="phankhu_text_inner">
                                              <h3>Minh Anh Park Hill Hóc Môn</h3>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="phankhu_button">
                                          <a target="_blank"
                                            href="" class="button" data-wpel-link="internal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14"
                                              fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                              <path
                                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                              </path>
                                            </svg> Xem chi tiết
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <%- include('../partial/footer.ejs', {lang: 'vi' }) %>
    </div>
  </div>
  <%- include('../partial/bodyAssets.ejs') %>
    <script type='text/javascript' src='/assets/js/jquery.barrating.min.js?ver=5.4.7'></script>
    <script type='text/javascript' src='/assets/js/bds.js?ver=5.4.7'></script>
    <script type="text/javascript">
      var flatsomeVars = { "rtl": "", "sticky_height": "79", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu" }, "options": { "cookie_notice_version": "1" } };
    </script>
    <script type='text/javascript' src='/assets/js/flatsome.js?ver=5.4.7'></script>
    <script type='text/javascript' src='/assets/js/jquery.lazyload.min.js?ver=5.4.7'></script>
    <script type='text/javascript' src='/assets/js/jquery.fancybox.min.js?ver=5.4.7'></script>
</body>

</html>