.property-location p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 0;
  padding-left: 20px;
  color: inherit;
}

.property-location {
  position: relative
}

.property-location:before {
  background: url(../img/bds/icon-diachi.png) center center no-repeat;
  width: 15px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-size: contain
}

.icon-dientich {
  background: url(../img/bds/icon-dientich.gif) center center no-repeat;
  width: 22px;
  height: 22px;
  background-size: cover;
  display: inline-block;
  background-size: contain
}

.icon-pn {
  background: url(../img/bds/icon-pn.gif) center center no-repeat;
  width: 22px;
  height: 22px;
  background-size: contain;
  display: inline-block;
  background-size: contain
}

.icon-wc {
  background: url(../img/bds/icon-wc.gif) center center no-repeat;
  width: 22px;
  height: 22px;
  background-size: contain;
  display: inline-block
}

.property-desc p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 0;
  height: 66px;
  overflow: hidden
}

.property-desc {
  background: #fff!important;
  padding: 20px 20px 0;
  max-height: 194px;
  border: 1px solid #f0f0f0;
  overflow: hidden
}

.property-bottom-list img {
  vertical-align: baseline
}

.property-bottom-list ul li {
  color: #fff;
  display: inline-block;
  padding-left: 29px;
}

.property-desc-top h6 a:hover {
  color: #ddb60f;
}

.property-bottom-list ul li:first-child {
  padding-left: 0;
}

.property-bottom-list ul li span {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}

.read-more {
  text-align: center;
  margin: 20px 0
}

.read-more a {
  font-size: 15px;
  color: #777;
  border: 1px solid #ddb60f;
  padding: 10px 20px;
  border-radius: 20px;
  background: #fff
}

.single-property {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.single-property:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(7,22,69,.3);
  -moz-box-shadow: 0 0 10px 0 rgba(7,22,69,.3);
  box-shadow: 0 0 10px 0 rgba(7,22,69,.3)
}
.property-meta {
  border-top: 1px solid #f0f0f0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  color: #666;
  margin-top: 15px;
  margin-left: -20px;
  margin-right: -20px;
  /* margin-bottom: 20px; */
}

.property-meta .price {
  overflow: hidden
}

.property-meta .row {
  margin-left: 0;
  margin-right: 0
}

.property-meta .col-md-6 {
  padding-left: 0;
  padding-right: 0
}

.property-meta .col-md-6:first-child {
  border-right: 1px solid #f0f0f0;
  margin-left: -1px;
}

.property-meta a {
  color: #666
}

.single-property:hover .property-meta,.single-property:hover .property-meta a {
  color: #ddb60f
}

.single-property .name_product {
  margin: 0;
  line-height: 25px
}

.single-property .name_product a {
  color: #fff
}

.single-services-desc {
  margin-top: 24px;
}

.single-services-desc > p {
  color: #606060;
  font-weight: 300;
  margin-bottom: 0;
}

.single-services h5 {
  color: #303030;
  text-transform: uppercase;
}

.single-property {
  margin-top: 30px;
  position: relative;
}

.single-property > span {
  background: #ddb60f;
  color: #fff;
  padding: 2px 5px;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10px;
  z-index: 99;
  font-size: 13px;
  line-height: 15px;
  border-radius: 2px;
}

.single-property span.bg-blue {
  background: #15539e none repeat scroll 0 0;
}

.title-1 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: 1px 1px 3px #000;
  text-transform: uppercase
}

.title-2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #000
}

.title-2 span {
  color: #ddb60f
}

.title_services {
  color: #303030;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700
}

.title18 {
  color: #303030;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 35px
}

.title26 {
  color: #ddb60f;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px
}

.title26_xanh {
  color: #004395;
  font-size: 26px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px
}

.property-location p {
  margin-bottom: 0
}

.property-desc-top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,67,149,.9) 85%);
  padding: 20px 15px 10px 20px
}

.name_product {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700
}

.name_product a {
  color: #337ab7
}

.property-img {
  position: relative;
  color: #fff
}

.property-img .name_product {
  color: #fff;
  margin: 0 0 15px 0
}

.property-desc-top h2 {
  color: #ddb60f;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 6px
}

.property-img {
  overflow: hidden;
}

.property-img a img {
  transition: all 0.5s ease 0s;
  width: 100%;
  display: block;
}

.single-property:hover .property-img a img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.property-list .col-md-4 {
  width: 100%;
}

.property-list.owl-theme .owl-buttons > div, .property_list.owl-theme .owl-buttons > div, .happy-client-list.owl-theme .owl-buttons > div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  color: #303030;
  font-size: 22px;
  height: 40px;
  ;line-height: 38px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
  width: 40px;
}

.property-img > a {
  display: block;
}

.property-list.owl-theme:hover .owl-buttons > div, .property_list.owl-theme:hover .owl-buttons > div, .happy-client-list.owl-theme:hover .owl-buttons > div {
  opacity: 1;
}

.property-list.owl-theme .owl-buttons > div,.property_list.owl-theme .owl-buttons > div {
  left: -5px;
}

.property-list.owl-theme .owl-buttons .owl-next, .property_list.owl-theme .owl-buttons .owl-next {
  left: auto;
  right: -5px;
}

.property-list.owl-theme .owl-buttons > div:hover,.property_list.owl-theme .owl-buttons > div:hover,.happy-client-list.owl-theme .owl-buttons > div:hover {
  background: #ffc400 none repeat scroll 0 0;
  border-color: #ffc400;
  color: #fff;
}

.property_list.owl-theme .owl-controls,.property-list.owl-theme .owl-controls {
  margin-top: 0;
}

.pagination-box {
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 50px;
}

.pagination-box li a.active,.pagination-box li a:hover {
  background: #ddb60f
}

.pagination-box li a {
  display: block;
  padding: 5px 15px;
  background: #004395;
  color: #fff
}

.pagination-box li {
  display: inline-block;
  margin: 0 5px
}

.logo-caption {
  -webkit-box-shadow: 0 0 10px 0 rgba(7,22,69,.3);
  -moz-box-shadow: 0 0 10px 0 rgba(7,22,69,.3);
  box-shadow: 0 0 10px 0 rgba(7,22,69,.3);
  position: absolute;
  width: 50px;
  height: 70px;
  border-radius: 0 10px 50px 50px;
  top: -5px;
  right: 10px;
  border: 2px solid #ddb60f;
  border-top: 0;
  background: #004395
}

.logo-caption span {
  background: #004395 url(../img/logo.png) center center no-repeat;
  background-size: contain;
  width: 40px;
  height: 31px;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 100;
}

.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility .5s;
  left: 0;
  bottom: 0;
  display: block
}

.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: -15px;
  left: 9px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: .5
}

.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 0;
  left: 24px;
  position: absolute;
  background-color: rgba(230,8,8,.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.hotline-phone-ring-img-circle {
  background-color: #e60808;
  width: 33px;
  height: 33px;
  top: 11px;
  left: 36px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center
}

.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px
}

.hotline-bar {
  position: absolute;
  background: rgba(230,8,8,.75);
  height: 40px;
  width: 170px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all .8s;
  -webkit-transition: all .8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.1);
  border-radius: 50px!important;
  left: 32px;
  bottom: 62px
}

.hotline-bar>a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  text-indent: 36px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial
}

.hotline-bar>a:active,.hotline-bar>a:hover {
  color: #fff
}

@-webkit-keyframes phonering-alo-circle-anim {
  0% {
      -webkit-transform: rotate(0) scale(.5) skew(1deg);
      -webkit-opacity: .1
  }

  30% {
      -webkit-transform: rotate(0) scale(.7) skew(1deg);
      -webkit-opacity: .5
  }

  100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: .1
  }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
      -webkit-transform: rotate(0) scale(.7) skew(1deg);
      opacity: .6
  }

  50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      opacity: .6
  }

  100% {
      -webkit-transform: rotate(0) scale(.7) skew(1deg);
      opacity: .6
  }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
}

.title_header {
  color: #ddb60f;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  padding: 0;
  margin-bottom: 15px
}

.br_line {
  text-align: center;
  margin-bottom: 10px
}

.services_text {
  font-size: 16px;
}

.font_gradient,.font_gradient_no {
  font-weight: 700;
  display: block;
  color: #ddb60f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( 360deg ,#ddb60f,#d19500);
}

.font_gradient::after, .font_gradient::before {
  content: ' ';
  width: 60px;
  height: 1px;
  margin: 0 20px 20px 20px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #ddb60f;
}
#rating-box {
  margin-bottom: 15px;
  text-align: center;
}

.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}

#rating-box .br-wrapper {
  display: inline-block;
}

#rating-box .kksr-legend {
  display: inline-block;
}

#rating-box .rating-responsive {
  display: inline-block;
}

.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}

.br-theme-fontawesome-stars .br-widget a {
  margin-right: 2px;
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  background: url(../img/bds/star-active.gif) center center no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0px;
  content: "";
}

.br-theme-fontawesome-stars .br-widget a:after {
  background: url(../img/bds/star.gif) center center no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0px;
  content: "";
}

#rating-box .kksr-title {
  display: none;
}
#content {
  font-size: 16px;
  line-height: 1.38;
}
.slider-wrapper {
  position: relative
}

.slider>.img,.flickity-slider>.img,.slider-wrapper:last-child {
  margin-bottom: 0
}

.slider,.row-slider {
  position: relative;
  scrollbar-width: none
}

.slider-full .flickity-slider>.col {
  padding: 0 !important
}

.slider-load-first {
  transition: max-height 2s;
  max-height: 999px
}

.slider-load-first:not(.flickity-enabled) {
  max-height: 500px
}

.slider-load-first:not(.flickity-enabled)>div {
  opacity: 0
}

.slider:not(.flickity-enabled) {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  width: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar
}

.slider::-webkit-scrollbar,.row-slider::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important
}

.row-slider:not(.flickity-enabled) {
  display: block !important
}

.slider:not(.flickity-enabled)>* {
  display: inline-block !important;
  white-space: normal !important;
  vertical-align: top;
}

.slider:not(.flickity-enabled)>a {
  width: 100%
}

.slider>div:not(.col),.slider>a,.slider>p,.slider>a>img,.slider>img {
  width: 100%
}

.flickity-slider>div:not(.col),.flickity-slider>a,.flickity-slider>p,.flickity-slider>a>img,.flickity-slider>img,.flickity-slider>figure {
  width: 100% !important;
  padding: 0;
  margin: 0;
  transition: transform .6s, opacity .6s, box-shadow 0.6s
}

.flickity-slider>.row:not(.is-selected) {
  opacity: 0
}

.flickity-enabled {
  position: relative
}

.flickity-enabled:focus {
  outline: none
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%
}

.slider-has-parallax .bg {
  transition: opacity 0.3s !important
}

.is-dragging .flickity-viewport .flickity-slider {
  pointer-events: none
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

.flickity-prev-next-button {
  position: absolute;
  top: 40%;
  bottom: 40%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 36px;
  color: #111;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: transform .3s, opacity .3s, background .3s, box-shadow .3s
}

.flickity-prev-next-button.next {
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
  right: 2%
}

.flickity-prev-next-button.previous {
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  left: 2%
}

.slider-show-nav .flickity-prev-next-button,.slider:hover .flickity-prev-next-button {
  opacity: 0.7;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important
}

.slider .flickity-prev-next-button:hover {
  box-shadow: none;
  opacity: 1
}

.slider .flickity-prev-next-button:hover svg,.slider .flickity-prev-next-button:hover .arrow {
  fill: #004395
}

@media (min-width: 850px) {
  .slider-nav-outside .flickity-prev-next-button.next {
      right:auto;
      left: 100%
  }

  .slider-nav-outside .flickity-prev-next-button.previous {
      left: auto;
      right: 100%
  }
}

.flickity-prev-next-button:disabled,button.flickity-prev-next-button[disabled] {
  opacity: 0 !important;
  background: none !important;
  cursor: auto;
  box-shadow: none !important;
  pointer-events: none
}

.flickity-prev-next-button svg {
  position: absolute;
  padding: 5px;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 100%;
  padding: 20%;
  max-height: 100%;
  height: auto;
  transition: all 0.3s;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.slider-nav-push:not(.slider-nav-reveal) .flickity-prev-next-button {
  margin-top: -10%
}

.slider-nav-push.slider-nav-reveal .flickity-prev-next-button svg {
  margin-top: -40px
}

.flickity-prev-next-button svg,.flickity-prev-next-button .arrow {
  border-color: currentColor;
  fill: currentColor;
  transition: all 0.3s
}

.slider-auto-height,.animate-height {
  transition: height .2s
}

.flickity-prev-next-button.no-svg {
  color: #111;
  font-size: 26px
}

.slider-no-arrows .flickity-prev-next-button {
  display: none !important
}

.slider-type-fade .flickity-slider {
  -ms-transform: none !important;
  transform: none !important
}

.slider-type-fade .flickity-slider>* {
  opacity: 0.0;
  z-index: 1;
  left: 0 !important
}

.slider-type-fade .flickity-slider>*.is-selected {
  opacity: 1.0;
  z-index: 2
}

.slider-type-fade .flickity-prev-next-button,.slider-type-fade .flickity-page-dots {
  z-index: 3
}

.flickity-page-dots {
  position: absolute;
  bottom: 15px;
  left: 20%;
  right: 20%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1
}

.slider-nav-outside .flickity-page-dots,.row-slider .flickity-page-dots {
  bottom: 0
}

.flickity-rtl .flickity-page-dots {
  direction: rtl
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: 3px solid #111;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .3s
}

.nav-dots-small .flickity-page-dots .dot,.row-slider .flickity-page-dots .dot {
  opacity: 0.2;
  width: 10px;
  height: 10px;
  border: 0;
  background-color: #111
}

.flickity-page-dots .dot:hover {
  opacity: 0.7
}

.flickity-page-dots .dot.is-selected {
  background-color: #111;
  opacity: 1 !important
}

.slider-nav-dots-dashes .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0
}

.slider-nav-dots-dashes-spaced .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  border-radius: 0
}

.slider-nav-dots-simple .flickity-page-dots .dot {
  background-color: #111
}

.slider-nav-dots-square .flickity-page-dots .dot {
  border-radius: 0
}

.slider-nav-circle .flickity-prev-next-button svg,.slider-nav-circle .flickity-prev-next-button .arrow {
  border-radius: 100%;
  border: 2px solid currentColor
}

.slider-nav-circle .flickity-prev-next-button:hover svg,.slider-nav-circle .flickity-prev-next-button:hover .arrow {
  background-color: #004395;
  border-color: #004395;
  fill: #fff !important
}

.slider-nav-outside.slider-nav-circle .next {
  -ms-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important
}

.slider-nav-outside.slider-nav-circle .previous {
  -ms-transform: translateX(50%) !important;
  transform: translateX(50%) !important
}

.slider-nav-reveal {
  padding-top: 0;
  overflow: hidden
}

.slider-nav-reveal .flickity-prev-next-button:hover,.slider-nav-reveal .flickity-prev-next-button {
  width: 30px;
  top: -2px;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 -150px 15px 0 rgba(0,0,0,0.3);
  margin: 0 !important
}

.noibat .col-inner {
  min-height: 430px;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  overflow-x: hidden;
  font-size: 16px;
  background: linear-gradient(3deg,#0752ae,#2d80e6 90%);
}

.noibat .box-image {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 80px;
  padding: 15px;
  height: 80px;
  border-radius: 100%;
  margin: 0 auto;
  -webkit-text-fill-color: transparent;
  background-color: #ddb60f;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#section_intro,.bg_1 {
  background: url(../img/bds/background-lydo.webp) center bottom no-repeat;
  background-size: contain;
}

section.tongquan {
  padding-top: 30px;
  padding-bottom: 0px;
}

section.tongquan h2 {
  margin-bottom: 0.5rem;
}

.coltongquan {
  border-right: solid 1px #e0e0e0;
}

.tongquan_inner {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
  padding: 40px 0px 10px;
  background-position: left;
  background: linear-gradient(to bottom,#232461 0%,#2d4060 40%,#2d4060 100%);
}


.tongquan_text {
  background: linear-gradient(180deg, #6AB43E 0%, #6AB43E 100%);
}

.tongquan_text {
  padding-top: 20px;
  background: url("../img/bds/bg_tongquan.jpg") center center no-repeat;
  background-size: cover;
}

.tongquan_text ul li {
  margin-bottom: 5px;
}

@media screen and (min-width: 850px) {
  .tongquan_inner .img-inner a img {
      width: 100%;
      max-width: 677px;
      float: right;
  }
}

.text-center {
  text-align: center;
}

.box-text.text-center {
  font-size: 16px;
}

.pt-40 {
  padding-top: 40px;
}

.icon-why .title_why {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 15px;
  height: 40px;
}

.noibat {
  margin-bottom: 30px;
}

.noibat .box-text p {
  text-align: justify;
  color: #fff;
}

.noibat .box-text:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13), #fff, rgba(255, 255, 255, 0.13));
  top: 0;
  left: 0;
}

.icon-why img {
  height: 44px;
  width: inherit !Important;
  padding: 0px !Important;
}

.box-image {
  position: relative;
  height: auto;
  margin: 0 auto;
  overflow: hidden
}

.box-image[style*="-radius"] {
  -webkit-mask-image: -webkit-radial-gradient(white, black)
}

.box-image-inner {
  position: relative;
  overflow: hidden;
  z-index: 0
}

.box-text.text-center {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.7em;
  padding-bottom: 1.4em;
  position: relative;
}

.box-image img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto
}

.box-label {
  overflow: hidden
}

.box-label .box-text.text-center {
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  margin: 10% 0
}

.box-label .box-text.text-right {
  right: 0;
  left: auto
}

.box-label .box-text {
  position: absolute;
  bottom: 0;
  width: auto;
  padding: 0;
  margin: 10%;
  padding: .5em 1.5em .55em;
  background-color: #FFF;
  opacity: .95;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1)
}

.box-label:hover .box-text {
  opacity: 1
}

.box-badge {
  overflow: hidden
}

.box-badge .box-text {
  background-color: rgba(255,255,255,0.95);
  padding: .8em 1em 1em;
  position: absolute;
  bottom: 15%;
  transition: background .3s;
  z-index: 1
}

.dark .box-badge .box-text {
  background-color: rgba(0,0,0,0.95)
}

.box-badge:hover .box-text {
  background-color: #004395
}

.box-bounce .box-text {
  padding: 15px 15px 20px;
  z-index: 1
}

.box-bounce:hover .box-text {
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  background-color: #fff
}

.dark .box-bounce:hover .box-text {
  background-color: #222
}

.box-bounce:hover .box-image {
  -ms-transform: translateY(-5px);
  transform: translateY(-5px)
}

.box-push .box-text {
  padding: 15px 20px;
  background-color: rgba(255,255,255,0.95);
  max-width: 85%;
  margin: -15% auto 0
}

.box-overlay .box-text,.box-shade .box-text {
  position: absolute;
  width: 100%;
  max-height: 100%;
  bottom: 0;
  padding-left: 1.5em;
  padding-right: 1.5em
}

.box-overlay.dark .box-text,.box-shade.dark .box-text {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

.box-none .box-text {
  display: none !important
}

.has-post-icon:hover .box-shade .box-text,.has-post-icon:hover .box-overlay .box-text {
  opacity: 0 !important
}

.box-text-middle.box-overlay .box-text,.box-text-middle.box-shade .box-text {
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  bottom: auto !important;
  z-index: 16;
  left: 0;
  right: 0
}

.box-text-top.box-overlay .box-text,.box-text-top.box-shade .box-text {
  position: absolute;
  top: 0;
  bottom: auto !important;
  z-index: 16;
  left: 0;
  right: 0
}

.box-vertical .box-text-middle .box-text {
  position: relative;
  top: auto;
  bottom: auto;
  -ms-transform: translateY(0);
  transform: translateY(0)
}

.has-box-vertical .col {
  width: 100% !important;
  max-width: 100% !important
}

@media screen and (max-width: 549px) {
  .box-vertical .box-image {
      width:100% !important
  }
}

@media screen and (min-width: 550px) {
  .box-list-view .col {
      -ms-flex-preferred-size:100% !important;
      flex-basis: 100% !important;
      max-width: 100% !important
  }

  .box-list-view .box,.box-vertical {
      display: table;
      width: 100%
  }

  .box-list-view .box .image-right,.box-vertical .image-right {
      direction: rtl
  }

  .box-list-view .box .box-image,.box-list-view .box .box-text,.box-vertical .box-image,.box-vertical .box-text {
      direction: ltr;
      display: table-cell;
      vertical-align: middle
  }

  .box-list-view .box .box-text,.box-vertical .box-text {
      padding-left: 1.5em;
      padding-right: 1.5em
  }

  .box-list-view .box .box-image,.box-vertical .box-image {
      width: 50%
  }

  .box-list-view .box.align-top .box-text,.box-vertical.align-top .box-text {
      vertical-align: top
  }
}

.col,.gallery-item,.columns {
  position: relative;
  margin: 0;
  padding: 0 15px 30px;
  width: 100%
}

.col-fit {
  -ms-flex: 1;
  flex: 1
}

.col-first {
  -ms-flex-order: -1;
  order: -1
}

.col-last {
  -ms-flex-order: 1;
  order: 1
}

.col-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

.col-has-radius {
  overflow: hidden
}

@media screen and (min-width: 850px) {
  .col:first-child .col-inner {
      margin-left:auto;
      margin-right: 0
  }

  .col+.col .col-inner {
      margin-right: auto;
      margin-left: 0
  }
}

@media screen and (max-width: 549px) {
  .small-col-first {
      -ms-flex-order:-1;
      order: -1
  }
}

@media screen and (min-width: 850px) {
  .large-col-first {
      -ms-flex-order:-1;
      order: -1
  }
}

@media screen and (max-width: 849px) {
  .medium-col-first {
      -ms-flex-order:-1;
      order: -1
  }

  .col {
      padding-bottom: 30px
  }
}

@media screen and (min-width: 850px) {
  .row-divided>.col+.col:not(.large-12) {
      border-left:1px solid #ececec
  }

  .row-divided.row-reverse>.col+.col:not(.large-12) {
      border-left: 0;
      border-right: 1px solid #ececec
  }

  .col-divided {
      padding-right: 30px;
      border-right: 1px solid #ececec
  }

  .col.col-divided:not(.col-first):last-child {
      border-right: 0;
      padding-right: 0;
      padding-left: 30px;
      border-left: 1px solid #ececec
  }

  .col-border {
      padding-right: 0;
      border-right: 1px solid #ececec
  }

  .col-border+.col,.col-divided+.col {
      padding-left: 30px
  }
}

.dark .col-divided {
  border-color: rgba(255,255,255,0.2)
}

.align-equal>.col {
  display: -ms-flexbox;
  display: flex
}

.align-middle {
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
  vertical-align: middle !important
}

.align-bottom {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
  vertical-align: bottom !important
}

.align-top {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
  vertical-align: top !important
}

.align-center {
  -ms-flex-pack: center !important;
  justify-content: center !important
}

.align-right {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important
}

.small-1 {
  max-width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%
}

.small-2 {
  max-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%
}

.small-3 {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%
}

.small-4 {
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%
}

.small-5 {
  max-width: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%
}

.small-6 {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%
}

.small-7 {
  max-width: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%
}

.small-8 {
  max-width: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%
}

.small-9 {
  max-width: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%
}

.small-10 {
  max-width: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%
}

.small-11 {
  max-width: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%
}

.small-12 {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%
}

.small-columns-1>.col,.small-columns-1 .flickity-slider>.col {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%
}

.small-columns-2>.col,.small-columns-2 .flickity-slider>.col {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%
}

.small-columns-3>.col,.small-columns-3 .flickity-slider>.col {
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%
}

.small-columns-4>.col,.small-columns-4 .flickity-slider>.col {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%
}

.small-columns-5>.col,.small-columns-5 .flickity-slider>.col {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%
}

.small-columns-6>.col,.small-columns-6 .flickity-slider>.col {
  max-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%
}

.small-columns-7>.col,.small-columns-7 .flickity-slider>.col {
  max-width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
  flex-basis: 14.28571%
}

.small-columns-8>.col,.small-columns-8 .flickity-slider>.col {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%
}

@media screen and (min-width: 550px) {
  .medium-1 {
      max-width:8.33333%;
      -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%
  }

  .medium-2 {
      max-width: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%
  }

  .medium-3 {
      max-width: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%
  }

  .medium-4 {
      max-width: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%
  }

  .medium-5 {
      max-width: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%
  }

  .medium-6 {
      max-width: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%
  }

  .medium-7 {
      max-width: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%
  }

  .medium-8 {
      max-width: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%
  }

  .medium-9 {
      max-width: 75%;
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%
  }

  .medium-10 {
      max-width: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%
  }

  .medium-11 {
      max-width: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%
  }

  .medium-12 {
      max-width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%
  }

  .medium-columns-1>.col,.medium-columns-1 .flickity-slider>.col {
      max-width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%
  }

  .medium-columns-2>.col,.medium-columns-2 .flickity-slider>.col {
      max-width: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%
  }

  .medium-columns-3>.col,.medium-columns-3 .flickity-slider>.col {
      max-width: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%
  }

  .medium-columns-4>.col,.medium-columns-4 .flickity-slider>.col {
      max-width: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%
  }

  .medium-columns-5>.col,.medium-columns-5 .flickity-slider>.col {
      max-width: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%
  }

  .medium-columns-6>.col,.medium-columns-6 .flickity-slider>.col {
      max-width: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%
  }

  .medium-columns-7>.col,.medium-columns-7 .flickity-slider>.col {
      max-width: 14.28571%;
      -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%
  }

  .medium-columns-8>.col,.medium-columns-8 .flickity-slider>.col {
      max-width: 12.5%;
      -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%
  }
}

@media screen and (min-width: 850px) {
  .large-1 {
      max-width:8.33333%;
      -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%
  }

  .large-2 {
      max-width: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%
  }

  .large-3 {
      max-width: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%
  }

  .large-4 {
      max-width: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%
  }

  .large-5 {
      max-width: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%
  }

  .large-6 {
      max-width: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%
  }

  .large-7 {
      max-width: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%
  }

  .large-8 {
      max-width: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%
  }

  .large-9 {
      max-width: 75%;
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%
  }

  .large-10 {
      max-width: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%
  }

  .large-11 {
      max-width: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%
  }

  .large-12 {
      max-width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%
  }

  .gallery-columns-1 .gallery-item,.large-columns-1>.col,.large-columns-1 .flickity-slider>.col {
      max-width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%
  }

  .gallery-columns-2 .gallery-item,.large-columns-2>.col,.large-columns-2 .flickity-slider>.col {
      max-width: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%
  }

  .gallery-columns-3 .gallery-item,.large-columns-3>.col,.large-columns-3 .flickity-slider>.col {
      max-width: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%
  }

  .gallery-columns-4 .gallery-item,.large-columns-4>.col,.large-columns-4 .flickity-slider>.col {
      max-width: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%
  }

  .gallery-columns-5 .gallery-item,.large-columns-5>.col,.large-columns-5 .flickity-slider>.col {
      max-width: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%
  }

  .gallery-columns-6 .gallery-item,.large-columns-6>.col,.large-columns-6 .flickity-slider>.col {
      max-width: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%
  }

  .gallery-columns-7 .gallery-item,.large-columns-7>.col,.large-columns-7 .flickity-slider>.col {
      max-width: 14.28571%;
      -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%
  }

  .gallery-columns-8 .gallery-item,.large-columns-8>.col,.large-columns-8 .flickity-slider>.col {
      max-width: 12.5%;
      -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%
  }
}

.has-shadow>.col>.col-inner {
  background-color: #FFF
}

.col-hover-focus .col-inner,.col-hover-fade .col-inner,.col-hover-blur .col-inner {
  transition: all, .2s
}

.col-hover-fade .col-inner {
  opacity: .6
}

.col-hover-fade:hover .col-inner {
  opacity: 1
}

.col-hover-blur .col-inner {
  filter: blur(3px)
}

.col-hover-blur:hover .col-inner {
  filter: blur(0px)
}

.col-hover-focus:hover .col-inner {
  opacity: 1
}

.row:hover .col-hover-focus .col:not(:hover) {
  opacity: .6
}

.icon-why img {
  max-width: 100%;
  height: auto !important;
  width: inherit !important;
  padding: 0px !important;
}
#section_intro h1 {
  margin-bottom: 0.5rem;
}
.row-full-width img {
  width: 100%;
}

.form2 {
  background: url("../img/bg_form2_2.jpg") bottom center no-repeat;
  color: #fff;
  background-size: cover !important;
  background-position: center center !important;
  padding-top: 60px;
  padding-bottom: 40px;
}

table {
  width: 100% !important;
  height: auto !important;
}

.relative {
  position: relative !important
}

.absolute {
  position: absolute !important
}

.fixed {
  position: fixed !important;
  z-index: 12
}

.top {
  top: 0
}

.right {
  right: 0
}

.left {
  left: 0
}

.bottom {
  bottom: 0
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important
}

.form2 .section-bg {
  background: linear-gradient(52deg, rgba(6, 7, 149, 1), rgba(13, 81, 72, 0.3)) ;
}

.landing-page-holding .row {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.landing-page-holding .font_gradient, .landing-page-holding .font_gradient_no {
  margin-bottom: 0.5rem;
}

.landing-page-holding .col-text {
  max-width: 980px;
  margin: 10px auto;
}

.landing-page-holding .title {
  height: auto;
}

img {
  vertical-align: middle;
}

.form2 input[type="text"], .form2 input[type="tel"], .form2 input[type="email"] {
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff !Important;
  padding-left: 0px;
  box-shadow: none !Important;
  width: 100%;
  height: 45px;
}

.form2 .title_form {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px !important;
  text-transform: uppercase;
}

.form2 img {
  height: 70px;
  width: auto;
}

.form2 input::-webkit-input-placeholder {
  color: #fff;
}

.form2 input[type="button"] {
  border: 1px solid #fff;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: linear-gradient( 90deg,#bd8504 0,#ffdd80 50%,#bd8504 100%);
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
  width: 100%;
}

#section_vitri .section-bg.bg-loaded {
  background: #FFFBE5 url(../img/bds/partent-line.png);
  background-size: contain !important;
}

.bg_lienketvung {
  background-image: url(../img/bg_lienketvung.webp);
  background-size: 85%!important;
  background-repeat: repeat;
  background-color: #004395;
}

.bg_lienketvung .title {
  font-weight: 700;
  display: block;
  color: #ddb60f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( 360deg ,#ddb60f,#d19500);
  text-transform: uppercase;
  font-size: 24px;
}

.text-lienketvung .num {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 28px;
  margin-right: 10px;
  display: inline-block;
  background-image: linear-gradient(to right,#c68426,#f0ae1d);
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto 0px;
}

.text-lienketvung {
  color: #fff;
  padding: 10px 40px;
}

.text-lienketvung li {
  list-style: none;
  margin-bottom: 0px;
  margin-left: 0px !Important;
  line-height: 22px;
  padding: 10px 0px;
  padding-left: 47px;
  position: relative;
}