<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH TECHNOLOGY INVESTMENT JOINT STOCK COMPANY - 6 STEPS IN FORMULATING LIVESTOCK FEED</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="6 STEPS IN FORMULATING LIVESTOCK FEED" />
  <meta property="og:description"
    content="Formulating feed remains a mystery not only to most fresh graduates but also to some experts who may have only recently encountered this issue." />
  <meta property="og:url" content="/6-buoc-trong-lap-cong-thuc-thuc-an-chan-nuoi-en/" />
  <meta property="og:site_name" content="" />
  <meta property="article:section" content="LIVESTOCK KNOWLEDGE" />
  <meta property="article:published_time" content="2020-06-20T03:50:49+00:00" />
  <meta property="article:modified_time" content="2020-06-22T08:13:19+00:00" />
  <meta property="og:updated_time" content="2020-06-22T08:13:19+00:00" />
  <meta property="og:image" content="" />
  <meta property="og:image:secure_url"
    content="" />
  <meta property="og:image:width" content="440" />
  <meta property="og:image:height" content="260" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description"
    content="Formulating feed remains a mystery not only to most fresh graduates but also to some experts who may have only recently encountered this issue." />
  <meta name="twitter:title" content="6 STEPS IN FORMULATING LIVESTOCK FEED" />
  <meta name="twitter:image" content="" />
  <%- include('../../partial/head.ejs') %>
  
</head>

<body data-rsssl=1
  class="post-template-default single postid-393 single-format-standard  qode-title-hidden qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">      
      <%- include('../../partial/header.ejs', { page: '', lang: 'en' , viPage: '/tin-tuc/6-buoc-trong-lap-cong-thuc-thuc-an-chan-nuoi.html'}) %>
      <div class="content content_top_margin">
        <div class="content_inner  ">
          <div class="container">
            <div class="container_inner default_template_holder">
              <div class="blog_single blog_holder">
                <article id="post-393"
                  class="post-393 post type-post status-publish format-standard has-post-thumbnail hentry category-kien-thuc-chan-nuoi">
                  <div class="post_detail_vietacc">
                    <div class="banner_post">
                      <div class="img_post">
                        <img src="/assets/img/tin-tuc/banner.png">
                      </div>
                      <div class="banner_post_content">
                        <div class="title_h1">
                          <h1>LIVESTOCK KNOWLEDGE</h1>
                        </div>
                      </div>
                    </div>
                    <div class="post_content_vietacc">
                      <h3>6 STEPS IN FORMULATING LIVESTOCK FEED</h3>
                      <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020
                      </div>
                      <div class="noidung-s">
                        <p><strong>Formulating feed remains a mystery not only to most fresh graduates but also to some experts who may have only recently encountered this issue.</strong></p>
                        <p>Most universities cover feed formulation in one or two sessions, and then it remains superficial because any in-depth analysis requires practical experience; laboratories specializing in feed formulation are very rare! As a result, most graduates with degrees in animal or veterinary sciences have a vague idea of how feed is formulated. It is through bitter experience, known as trial and error, that most experts go through to gain a clear understanding of the methods used to create a feed formula.</p>
                        <p>Of course, self-learning feed formulation is not an impossible task. There are some books on this subject, and the internet provides valuable information. However, without a mentor or a course on feed formulation, it is challenging to acquire the skills to differentiate between those who understand the process and those who can actually build a successful product. This seems paradoxical, given the large number of nutrition experts who create livestock feed formulas daily. In my experience, as in any profession, there are different levels of expertise, and while most can create basic rations, when it comes to specific products or significant modifications, the majority may not know what to do other than follow conventional standards.</p>
                        <p><img class="size-full wp-image-338 aligncenter"
                            src="/assets/img/tin-tuc/1528276943562.png" alt=""
                            width="440" height="260"
                            srcset="/assets/img/tin-tuc/1528276943562.png 440w, /assets/img/tin-tuc/06/1528276943562-300x177.png 300w"
                            sizes="(max-width: 440px) 100vw, 440px" /></p>
                        <p><strong>Creating successful formulas with a purpose</strong></p>
                        <p>Here, I would like to mention two real-life cases from my career. As a professional nutritionist, with nearly 30 years of experience in feed formulation, I developed my own feed formulation program during my first year of university using IBM code. I often use the following two examples as an illustration of how the livestock feed industry perceives the process of feed formulation.</p>
                        <p>The first case involves a piglet feed formulation designed for a national feed company to replace an outdated product that was no longer suitable for their market. When the CEO saw how well the new product was performing, she immediately locked down the formula and even prohibited me from making any changes. Only when difficulties arose due to unavailable ingredients did she ask me to modify the original formula, and she had no doubt about my capabilities – she even tested the new formula before approving it for production.</p>
                        <p>The second case is about an organic acid blend for poultry that I designed for another long-standing client. This customer continues to use it after many years, despite my offer to update the blend with new technology (free of charge). Instead, he prefers to pay for expensive (but outdated) raw materials. Now, I am a true believer in the saying 'if it ain't broke, don't fix it,' but these two examples illustrate how some approaches almost revere successful formulas in our industry. I often get the impression that some people think successful formula design is more a matter of chance than intention.</p>
                        <p>Therefore, to explain that feed formulation is not magic but the result of research and experience, I have attempted to outline the entire process in six steps below. This is not meant to teach how to build, but rather to help understand the process of feed formulation. It requires long-term interaction and training on the relevant issues. The second (meaning understanding) is essential for all of us to discuss formulas with those who design or use them.</p>
                        <p><strong>1. Determining the target livestock that will consume the feed according to the formulated formula. </strong></p>
                        <p>Requiring a nutrition expert to prepare a broiler chicken formula is like asking an architect to design a house, as there is no other detailed template. Identifying the animal species is not enough. We need to determine the weight of the bird or its age at the start and end – even genetic characteristics. Therefore, a formula designed for a Ross broiler chicken fed from two to four weeks will differ from a Brob broiler of the same age. Similarly, even within the same genetic lineage, the starting feed differs significantly from the finishing feed. Furthermore, specific feed requires more detailed information, but this is beyond the scope of this discussion.</p>
                        <p><strong>2. Selecting the appropriate data on nutritional requirements. </strong></p>
                        <p>Many genetic companies publish their estimations of nutritional requirements for each age or stage to be used in conjunction with their products. Experienced nutritionists will consider this information as a starting point and adjust it to fit the needs of each farm. For example, a broiler farm experiencing early mortality in the fastest-growing chickens will require feed with lower energy/nutrient levels than the recommended normal levels. There are many such cases, most of which are common, but some may be more peculiar. When genetic companies do not publish their nutritional requirement tables – or when nutritionists feel they are inadequate – there are numerous scientific bodies that provide similar information. Choosing the right essential information remains one of the hottest topics in the ongoing debate among nutrition experts.</p>
                        <p><strong>3. Creating a list of available ingredients with their characteristics and prices.<br />
                          </strong></p>
                        <p>Animals will receive energy and nutrients from the ingredients. Therefore, a commercial nutritionist needs to work on the ingredients rather than pure nutrients. The list of available ingredients and their cost is often all that is easily obtainable, but in most cases, more information about the characteristics of the ingredients is needed. Wheat is an ingredient that provides a very interesting example. Wheat is not just wheat. There are soft and hard wheats with significant differences in crude protein content. There is wheat from local or international sources, which used to be easily described, but now it is nearly impossible. Even wheat from the same genetic lineage can differ significantly in its nutritional composition depending on the region and climate in which it was grown. All such information will help nutritionists select or prepare a nutrient matrix for precise ingredient use. Not doing so will result in animals being undernourished or overfed, both of which are unfavorable outcomes.</p>
                        <p><strong>4. Determine the maximum and minimum usage limits.<br />
                          </strong></p>
                        <p>Not all ingredients can be used without limitations. Corn and soybean meal are two components rarely restricted in most feed formulas. Other components may require a maximum level because they are either too expensive or contain excessive anti-nutritional factors. Fish meal is an example; using too much of it becomes costly. Some animals may not be fed diets containing fish oil and their products due to its odor affecting the product's smell (eggs, milk, etc.). In some cases, minimums need to be established, for instance, young animals' diets may require sensitive and expensive ingredients. While there are tables listing the maximum allowable levels for most specific ingredients, these figures often change based on new research and advancements in crop breeding or ingredient production processes. Hence, nutrition experts decide to reduce or increase those maximum limits (e.g., when using unspecified by-products), (e.g., when using different plant sources known to have fewer anti-nutritional factors).</p>
                        <p><strong>5. Use a feed formulation software to prepare the formula.<br />
                          </strong></p>
                        <p>Some people believe that having a feed formulation software is all you need to build a feed formula. They assume incorrectly that the data it contains has been pre-entered and is accurate; nothing could be further from the truth. Most companies selling feed formulation software do not take responsibility for the data they provide; it is merely for training or testing their demo software. However, even when you lack the necessary data to run a feed formulation software, choosing the right program is a challenging experience. Free, standalone, complex programs often come with glitches. Cloud-based programs are better-supported and increasingly available – basic versions are free, but they may have limited capabilities, often slightly more than a free demo version. A spreadsheet program like Microsoft Excel with an additional Solver function can be used to create your own optimized feed formulation program, but it requires advanced Excel knowledge. Finally, professional software may be available at different price points for different features. Here, a user-friendly interface is crucial because most programs focus on functionality, often being rough conversions from old DOS operating systems, forgetting that Windows users need different interfaces.</p>
                        <p><strong>6. Review and adjust the formula to meet the constraints of the production process.<br />
                          </strong></p>
                        <p>Is having a formula all there is to it? Unfortunately, a new formula is just the beginning. A formula is never built with just one run of the software. The initial draft needs to be reviewed. Usually, some inexpensive ingredients like salt or limestone are overused because some nutritional requirement tables have no lower limits to force the program to use costly ingredients, so to reduce the formula cost, the program will use more of the cheaper ingredients. Even after fixing these discrepancies, we still need to look at the formula from a production standpoint. For example, does the formula really need 0.15% wheat (1.5 kg/ton) when most mixers have a minimum loading of 5 kg? Or can the mixer handle 10% soybean oil? Or can the pelleting machine handle 40% milk powder? These questions require an understanding of the feed production process at the very place where the formula will be turned into a tangible product. These are things you learn in the field!</p>
                        <p>TI frequently receive questions about which feed formulation software is suitable. I refuse to answer them, and I hope now you understand why. Building a feed formula is a task that demands high responsibility. In my first job, there was a case that required three nutrition Ph.D.s to review and sign off on each minor change in the formula – one of them was the one implementing the changes. This first lesson taught me to be extremely cautious with every formula I design and never to make any assumptions before I am confident that all the steps have been taken. Anything less would harm the customers, the animals, the environment, the consumers, and my reputation as an advisor.</p>
                      </div>
                    </div>
                    <div class="post_relasted">
                      <div class="post_relasted_content">
                        <h3>The same article</h3>
                        <div class="Related-Post-By-Category">
                          <ul>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html"
                                  title="CAN VITAMIN E BE REDUCED OR REPLACED IN LIVESTOCK FEED ?" thumbnail=""" ><img width="
                                  792" height="618"
                                  src="/assets/img/tin-tuc/img_chuoi_1.jpg"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                  srcset="/assets/img/tin-tuc/img_chuoi_1.jpg 792w, /assets/img/tin-tuc/img_chuoi_1-300x234.jpg 300w, /assets/img/tin-tuc/img_chuoi_1-768x599.jpg 768w, /assets/img/tin-tuc/img_chuoi_1-700x546.jpg 700w"
                                  sizes="(max-width: 792px) 100vw, 792px" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a
                                      href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html">CAN VITAMIN E BE REDUCED OR REPLACED IN LIVESTOCK FEED ?
                                    </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Vitamin E can be partially substituted or economized by using other antioxidants, but it can never be fully replaced; this article explains why vitamin E is crucial for&#8230;</p>
                                  <div class="view_more_relasted"><a
                                      href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html">Read more</a></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html"
                                  title="BUFFER VALUE CONTROL IN PIGLET FEED" thumbnail="" ><img width=" 800"
                                  height="560"
                                  src="/assets/img/tin-tuc/iStock_487525682-e1529470879149.jpg"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a
                                      href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html">BUFFER VALUE CONTROL IN PIGLET FEED
                                    </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Practical formulation of modern piglet diets requires considering the buffering capacity of the ration, with the target buffer value being below 650 meq/kg. In any intensive pig farming system&#8230;</p>
                                  <div class="view_more_relasted"><a
                                      href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html">Read more</a></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html"
                                  title="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE" thumbnail="" ><img width="
                                  664" height="524" src="/assets/img/tin-tuc/tin_4.png"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                  srcset="/assets/img/tin-tuc/tin_4.png 664w, /assets/img/tin-tuc/tin_4-300x237.png 300w"
                                  sizes="(max-width: 664px) 100vw, 664px" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a href="/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html">ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE

                                  </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Healthier piglets will contribute to increased profitability during the rearing process. Based on recent experiments and the results of implementing advanced nutrition programs, it has been confirmed that improving nutrition for piglets&#8230;</p>
                                  <div class="view_more_relasted"><a href="/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </article> <br /><br />
              </div>
            </div>
          </div>

        </div>
      </div>      
      <%- include('../../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../../partial/bodyAssets.ejs') %>
</body>

</html>