<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH TECHNOLOGY INVESTMENT JOINT STOCK COMPANY - ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE" />
  <meta property="og:description"
    content="Vitamin E can be partially substituted or economized by using other antioxidants, but it can never be fully replaced; this article explains why vitamin E is crucial for…" />
  <meta property="og:url" content="/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en/" />
  <meta property="og:site_name" content="" />
  <meta property="article:section" content="LIVESTOCK KNOWLEDGE" />
  <meta property="article:published_time" content="2018-06-20T03:50:49+00:00" />
  <meta property="article:modified_time" content="2018-06-22T08:13:19+00:00" />
  <meta property="og:updated_time" content="2018-06-22T08:13:19+00:00" />
  <meta property="og:image" content="" />
  <meta property="og:image:secure_url"
    content="" />
  <meta property="og:image:width" content="440" />
  <meta property="og:image:height" content="260" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description"
    content="Vitamin E can be partially substituted or economized by using other antioxidants, but it can never be fully replaced; this article explains why vitamin E is crucial for…" />
  <meta name="twitter:title" content="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE" />
  <meta name="twitter:image" content="" />
  <%- include('../../partial/head.ejs') %>
  
</head>

<body data-rsssl=1
  class="post-template-default single postid-393 single-format-standard  qode-title-hidden qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">      
      <%- include('../../partial/header.ejs', { page: '', lang: 'en' , viPage: '/tin-tuc/dieu-chinh-che-do-dinh-duong-cho-heo-nai.html'}) %>
      <div class="content content_top_margin">
        <div class="content_inner  ">
          <div class="container">
            <div class="container_inner default_template_holder">
              <div class="blog_single blog_holder">
                <article id="post-393"
                  class="post-393 post type-post status-publish format-standard has-post-thumbnail hentry category-kien-thuc-chan-nuoi">
                  <div class="post_detail_vietacc">
                    <div class="banner_post">
                      <div class="img_post">
                        <img src="/assets/img/tin-tuc/banner.png">
                      </div>
                      <div class="banner_post_content">
                        <div class="title_h1">
                          <h1>LIVESTOCK KNOWLEDGE</h1>
                        </div>
                      </div>
                    </div>
                    <div class="post_content_minhanh">
                      <h3>ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE</h3>
                      <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020
                      </div>
                      <p><strong>Piglets with better vitality will help increase profitability in the farming process. Based on recent experiments and the results of implementing an advanced nutrition program, it has been confirmed that improving the nutrition for sows during critical stages in the reproductive cycle will enhance the birth weight and vitality of piglets.</strong></p>
                      <p>The average piglet survival rate in Europe is 83%, ranging from 70% to 90%. This figure is influenced by the number of mummified fetuses and pre-weaning mortality within a litter. If we can reduce the incidence of these two factors during farrowing, the survival rate will increase, promoting the performance of sows and the welfare of piglets..</p>
                      <p>A larger litter size is a challenging factor for piglet survival. There may be more piglets born later, adding difficulty for the sow during farrowing and reducing uniformity within the litter. Lightweight piglets, in particular, are at higher risk of pre-weaning mortality.</p>
                      <p><a href="/assets/img/tin-tuc/heo-nai-de.png"><img
                            class="aligncenter wp-image-17214 size-full" src="/assets/img/tin-tuc/heo-nai-de.png"
                            sizes="(max-width: 469px) 100vw, 469px"
                            srcset="/assets/img/tin-tuc/heo-nai-de.png 469w, /assets/img/tin-tuc/heo-nai-de-300x192.png 300w"
                            alt="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE"
                            width="469" height="300"></a></p>
                      <p><em>Piglet survival can be improved by providing adequate nutrition to the sow during the late gestation and transition phase from pregnancy to lactation.</em></p>
                      <p>&nbsp;</p>
                      <p><strong>Addressing the challenges during the transition process</strong></p>
                      <p>&nbsp;</p>
                      <p>Supporting sows by improving their diet during the late gestation and transition phase, the period from pregnancy to lactation, can significantly impact piglet survival. This has been the focus of recent research programs on pigs, leading to the development of the Livelle Transition feeding strategy. Breakthroughs in nutrition can help support larger litter sizes for sows, from giving birth to weaning.</p>
                      <p>There are three crucial steps in the transition phase:</p>
                      <p>1. The week before giving birth,</p>
                      <p>2. During delivery</p>
                      <p>3. The first week of nursing the piglets.</p>
                      <p>The physiological changes in sows during the transition phase are marked by negative energy balance and high oxidative stress, as shown in Figure 1. These changes are more pronounced in sows with larger litter sizes and require special attention to nutrition.
                      </p>
                      <p><a href="/assets/img/tin-tuc/hinh-1-chuyen-tiep-heo-con.png"><img
                            class="aligncenter wp-image-17215 size-full"
                            src="/assets/img/tin-tuc/hinh-1-chuyen-tiep-heo-con.png"
                            sizes="(max-width: 469px) 100vw, 469px"
                            srcset="/assets/img/tin-tuc/hinh-1-chuyen-tiep-heo-con.png 469w, /assets/img/tin-tuc/hinh-1-chuyen-tiep-heo-con-300x224.png 300w"
                            alt="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE"
                            width="469" height="350"></a></p>
                      <p><strong>1. Initiate the transition phase</strong></p>
                      <p>The transition phase starts from the week before farrowing. The metabolic processes during this time shift from an anabolic state to a catabolic state, supporting the high-level development of fetuses, preparing the body for parturition, producing colostrum, and early lactation for nursing the piglets.</p>
                      <p><strong>2. The parturition stage</strong></p>
                      <p>The farrowing duration should not exceed 5 hours, but it can vary significantly from one sow to another. This time will be influenced by the sow's physical condition, her ability to mobilize energy and increase mineral reserves, especially calcium. Providing an adequate water supply and ensuring a sufficient intake of feed, supplemented with fermented fiber, easily digestible amino acids, and balanced electrolytes, will greatly support the farrowing process.</p>
                      <p><strong>3. The nursing stage</strong></p>
                      <p>The milk production process begins immediately after farrowing and gradually increases each day, at a faster rate than the amount of feed the sow consumes. This affects the mobilization of reserves in the sow's body. During this stage, precise management and nutrition of the sow can significantly improve the survival rate of the piglets.</p>
                      <p><strong>Increase piglets' survival rate by an additional 3%.</strong></p>
                      <p>• Applying the nutrition strategy during the transition period as mentioned above to the sow's diet from the time of moving to the farrowing crate until the start of nursing piglets can enhance performance during this critical period. This program includes products that stimulate liver function and provide additional energy for the sow during farrowing and early nursing stages. Research has shown that this program can improve piglet survival by up to 3% and reduce sow body losses during the nursing period.</p>
                      <p>• The nutrition strategy also includes antioxidant supplements and essential nutrients that support the metabolic processes of the sow, fetal development, and provide antioxidant support.</p>
                      <p>• By using a balanced formula with fermentable fiber, electrolyte balance, and easily digestible amino acids, the sow's gut is supported, mineral mobilization is enhanced, and milk secretion is boosted.</p>
                      <p>Expanded research has demonstrated significant benefits of the nutrition program during the transition period. Test results showed an additional 2.7% improvement in birth weight of piglets and a 2.1% increase in survival rate, as shown in Figure 2. These improvements equate to having 0.75 more piglets or 50 kg more meat per sow per year. The extent of improvement will vary based on the sow's initial performance level.</p>
                      <p><a href="/assets/img/tin-tuc/hinh-2-heo-nai.png"><img
                            class="aligncenter wp-image-17216 size-full" src="/assets/img/tin-tuc/hinh-2-heo-nai.png"
                            sizes="(max-width: 469px) 100vw, 469px"
                            srcset="/assets/img/tin-tuc/hinh-2-heo-nai.png 469w, /assets/img/tin-tuc/hinh-2-heo-nai-300x174.png 300w"
                            alt="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE"
                            width="469" height="272"></a></p>
                      <p><strong>Improving the diet/nutrition regimen.</strong></p>
                      <p>&nbsp;</p>
                      <p>Improving the nutrition for sows from the time of weaning to rebreeding can also bring long-term benefits to the survivability of piglets. This is the period from 4 to 6 days when the sow is recovering from the nursing phase and preparing for breeding again. A better nutrition regime can enhance the quality of egg production, laying the foundation for a consistently high-quality litter.</p>
                      <p>&nbsp;</p>
                      <p>• To aid in achieving this, scientists have developed and tested a glycogenic-rich supplement that stimulates reproductive hormones and provides essential nutrients for early embryo development.</p>
                      <p>&nbsp;</p>
                      <p>• The trials conducted using the supplemented feeding program resulted in a significant increase of up to 11.5% in the birth weight of piglets, as shown in Figure 3. In the same trial, sows fed with the supplemented food had less than 40% of piglets weighing below 1kg compared to the control group.</p>
                      <p><a href="/assets/img/tin-tuc/hinh-3-heo-nai.png"><img
                            class="aligncenter wp-image-17217 size-full" src="/assets/img/tin-tuc/hinh-3-heo-nai.png"
                            sizes="(max-width: 469px) 100vw, 469px"
                            srcset="/assets/img/tin-tuc/hinh-3-heo-nai.png 469w, /assets/img/tin-tuc/hinh-3-heo-nai-300x225.png 300w"
                            alt="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE"
                            width="469" height="351"></a></p>
                      <p><strong>Conclusion</strong></p>
                      <p>&nbsp;</p>
                      <p>In the past decade, the average litter size in many sows has increased by over 30%. The number of nursing piglets struggling to survive after birth has also risen. Selecting genetically superior breeding animals, proper management, and hygiene practices contribute to improving piglet survival rates. Implementing a specific nutritional strategy for sows from weaning to the postpartum period, and during the transition from pregnancy to lactation, can significantly enhance the performance of sows.</p>
                    </div>
                    <div class="post_relasted">
                      <div class="post_relasted_content">
                        <h3>The same article</h3>
                        <div class="Related-Post-By-Category">
                          <ul>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html"
                                  title=""CAN VITAMIN E BE REDUCED OR REPLACED IN LIVESTOCK FEED ?" thumbnail=""" ><img width="
                                  792" height="618"
                                  src="/assets/img/tin-tuc/img_chuoi_1.jpg"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                  srcset="/assets/img/tin-tuc/img_chuoi_1.jpg 792w, /assets/img/tin-tuc/img_chuoi_1-300x234.jpg 300w, /assets/img/tin-tuc/img_chuoi_1-768x599.jpg 768w, /assets/img/tin-tuc/img_chuoi_1-700x546.jpg 700w"
                                  sizes="(max-width: 792px) 100vw, 792px" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a
                                      href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html">CAN VITAMIN E BE REDUCED OR REPLACED IN LIVESTOCK FEED ?
                                    </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Vitamin E can be partially substituted or economized by using other antioxidants, but it can never be fully replaced; this article explains why vitamin E is crucial for&#8230;</p>
                                  <div class="view_more_relasted"><a
                                      href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html">Read more</a></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html"
                                  title="BUFFER VALUE CONTROL IN PIGLET FEED" thumbnail="" ><img width=" 800"
                                  height="560"
                                  src="/assets/img/tin-tuc/iStock_487525682-e1529470879149.jpg"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a
                                      href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html">BUFFER VALUE CONTROL IN PIGLET FEED
                                    </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Practical formulation of modern piglet diets requires considering the buffering capacity of the ration, with the target buffer value being below 650 meq/kg. In any intensive pig farming system&#8230;</p>
                                  <div class="view_more_relasted"><a
                                      href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html">Read more</a></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html"
                                  title="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE" thumbnail="" ><img width="
                                  664" height="524" src="/assets/img/tin-tuc/tin_4.png"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                  srcset="/assets/img/tin-tuc/tin_4.png 664w, /assets/img/tin-tuc/tin_4-300x237.png 300w"
                                  sizes="(max-width: 664px) 100vw, 664px" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a href="/en/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html">ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE

                                  </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Healthier piglets will contribute to increased profitability during the rearing process. Based on recent experiments and the results of implementing advanced nutrition programs, it has been confirmed that improving nutrition for piglets&#8230;</p>
                                  <div class="view_more_relasted"><a href="/en/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </article> <br /><br />
              </div>
            </div>
          </div>

        </div>
      </div>      
      <%- include('../../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../../partial/bodyAssets.ejs') %>
</body>

</html>