<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH TECHNOLOGY INVESTMENT JOINT STOCK COMPANY - BUFFER VALUE CONTROL IN PIGLET FEED</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="BUFFER VALUE CONTROL IN PIGLET FEED" />
  <meta property="og:description"
    content="Practical formulation of modern piglet diets requires considering the buffering capacity of the ration, with the target buffer value being below 650 meq/kg. In any intensive pig farming system" />
  <meta property="og:url" content="/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en/" />
  <meta property="og:site_name" content="" />
  <meta property="article:section" content="LIVESTOCK KNOWLEDGE" />
  <meta property="article:published_time" content="2018-06-20T03:50:49+00:00" />
  <meta property="article:modified_time" content="2018-06-22T08:13:19+00:00" />
  <meta property="og:updated_time" content="2018-06-22T08:13:19+00:00" />
  <meta property="og:image" content="" />
  <meta property="og:image:secure_url"
    content="" />
  <meta property="og:image:width" content="440" />
  <meta property="og:image:height" content="260" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description"
    content="Practical formulation of modern piglet diets requires considering the buffering capacity of the ration, with the target buffer value being below 650 meq/kg. In any intensive pig farming system" />
  <meta name="twitter:title" content="BUFFER VALUE CONTROL IN PIGLET FEED" />
  <meta name="twitter:image" content="" />
  <%- include('../../partial/head.ejs') %>
  
</head>

<body data-rsssl=1
  class="post-template-default single postid-393 single-format-standard  qode-title-hidden qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">      
      <%- include('../../partial/header.ejs', { page: '', lang: 'en' , viPage: '/tin-tuc/kiem-soat-chat-luong-thuc-an-chan-nuoi.html'}) %>
      <div class="content content_top_margin">
        <div class="content_inner  ">
          <div class="container">
            <div class="container_inner default_template_holder">
              <div class="blog_single blog_holder">
                <article id="post-393"
                  class="post-393 post type-post status-publish format-standard has-post-thumbnail hentry category-kien-thuc-chan-nuoi">
                  <div class="post_detail_vietacc">
                    <div class="banner_post">
                      <div class="img_post">
                        <img src="/assets/img/tin-tuc/banner.png">
                      </div>
                      <div class="banner_post_content">
                        <div class="title_h1">
                          <h1>LIVESTOCK KNOWLEDGE</h1>
                        </div>
                      </div>
                    </div>
                    <div class="post_content_minhanh">
                      <h3>BUFFER VALUE CONTROL IN PIGLET FEED</h3>
                      <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                      <p><strong>Practical formulation of modern piglet diets requires considering the buffering capacity of the ration, with the target buffer value being below 650 meq/kg.</strong></p>
                      <p>&nbsp;</p>
                      <p>In any intensive pig farming system, there is a common challenge of smoothly transitioning piglets from the suckling phase to the weaning phase to achieve optimal and successful pig farming outcomes. This is not a new issue and has been extensively researched, analyzed, and synthesized by researchers and farmers alike. In summary, the main challenges for piglets during this transition phase include environmental changes, mixing with piglets from different sows, exposure to new feed, and the immaturity of their digestive and immune systems.</p>
                      <p><img class="size-full wp-image-312 aligncenter" src="/assets/img/tin-tuc/vitaminsvin-e1529391169144.jpg" alt="" width="440" height="293"></p>
                      <p>For all formula makers, it is essential to understand that before setting growth rate goals, we need to support the animals in developing and maintaining a healthy mature digestive system. This helps increase their appetite, stabilize the gut microbiota, improve nutrient digestion, and consequently enhance growth rate and feed efficiency.</p>
                      <p>&nbsp;</p>
                      <p>Always remember that formulating for piglets is not just about balancing amino acids or energy density of the ration, although these are crucial factors. It is also important to pay attention to other essential nutrients and important indicators. For example, the ability to neutralize dietary acid-base load (dABC) is closely related to the selection of raw materials for the formula, which significantly affects feed digestibility and the development of the digestive system.</p>
                      <p><strong>The ability to neutralize acids (or buffering capacity)</strong></p>
                      <p>The term "buffering capacity" (or buffering ability) is used to describe the ability to resist a decrease in pH under the influence of stomach acid HCl of a specific food ration.</p>
                      <p>The secretion of HCl acid is a normal digestive function, necessary for protein digestion. In formulating feed formulas, the dABC targets are expressed in milliequivalents (meq) of hydro (+) required to return pH to = 3. The following equation can be used for calculation:</p>
                      <p><strong>dABC = {(50ml NaOH*N/P}*1.000</strong></p>
                      <p><strong><em>N = Normality of NaOH (eq/L); P = Sample mass.</em></strong></p>
                      <p>High buffering capacity leads to low digestibility of organic and crude protein, thus affecting the productivity of piglets. Additionally, high buffering capacity also impacts the fermentation process in the intestines, occurring in the cecum and colon where bacteria require energy for fermentation. This will result in increased protein degradation and subsequent increase in amino acids and release of ammonia, which are toxic substances leading to diarrhea and poor growth.</p>
                      <p>Moving on to the practical aspect of formulating feed, the buffering capacity of the finished feed largely depends on the mineral and protein sources used, while grains and certain additives typically have the lowest buffering values (see Table 1).</p>
                      <p>In the face of this issue, the first step to take is to reduce the levels of Ca and P in the feed (during the first two weeks after weaning) to approximately 0.60-0.65% and 0.35-0.40%, respectively. This can be achieved by partially or completely replacing limestone (CaCO3) with calcium formate (as a Ca source) and simultaneously using monocalcium phosphate instead of dicalcium phosphate (DCP) as a P source. This will result in increased costs but will be highly beneficial in reducing the buffering capacity of the feed. While the buffering capacity of CaCO3 is 18,000-20,000 meq/kg, it is 8,500-9,000 meq/kg for Calcium Formate.</p>
                      <p>Next, the issue of controlling the level of crude protein in the formula at a low level is crucial, but it must ensure a balance of amino acids. Selecting and using both protein-rich ingredients and synthesized amino acids in parallel will help achieve this goal easily. Based on experience, constructing a feed with 17-18% crude protein requires maintaining the digestible lysine content at around 11.5-12 g/kg, and other amino acids need to be balanced accordingly. However, it is important not to eliminate valuable ingredients with high nutritional value just because they have high protein and buffering capacity. Consideration should be given to the overall composition of the raw materials in the formula, and the usage ratio depends on the cost of the ingredients and the buffering capacity set in the formula. Finally, the formula should be fine-tuned based on scientific basis and practical experience.</p>
                      <p>In conclusion, aside from the additional option of supplementing organic acids to artificially reduce buffering capacity, it is important to emphasize the significant role of personal experience of nutritionists in selecting suitable ingredients for different types of feeds. Considering the maximum dosage and taking into account specific parameters such as animal husbandry practices and regional objectives (for each farm), including weaning weight, health status, management practices, mechanical facilities, and farm structure, is crucial...</p>
                      <p>The optimal goal is for the feed to have a buffering value (ABC) of <strong>less than 650 meq/kg</strong>.</p>
                      </div>
                    </div>
                    <div class="post_relasted">
                      <div class="post_relasted_content">
                        <h3>The same article</h3>
                        <div class="Related-Post-By-Category">
                          <ul>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html"
                                  title=""CAN VITAMIN E BE REDUCED OR REPLACED IN LIVESTOCK FEED ?" thumbnail=""" ><img width="
                                  792" height="618"
                                  src="/assets/img/tin-tuc/img_chuoi_1.jpg"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                  srcset="/assets/img/tin-tuc/img_chuoi_1.jpg 792w, /assets/img/tin-tuc/img_chuoi_1-300x234.jpg 300w, /assets/img/tin-tuc/img_chuoi_1-768x599.jpg 768w, /assets/img/tin-tuc/img_chuoi_1-700x546.jpg 700w"
                                  sizes="(max-width: 792px) 100vw, 792px" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a
                                      href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html">CAN VITAMIN E BE REDUCED OR REPLACED IN LIVESTOCK FEED ?
                                    </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Vitamin E can be partially substituted or economized by using other antioxidants, but it can never be fully replaced; this article explains why vitamin E is crucial for&#8230;</p>
                                  <div class="view_more_relasted"><a
                                      href="/en/news/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi-en.html">Read more</a></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html"
                                  title="BUFFER VALUE CONTROL IN PIGLET FEED" thumbnail="" ><img width=" 800"
                                  height="560"
                                  src="/assets/img/tin-tuc/iStock_487525682-e1529470879149.jpg"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a
                                      href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html">BUFFER VALUE CONTROL IN PIGLET FEED
                                    </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Practical formulation of modern piglet diets requires considering the buffering capacity of the ration, with the target buffer value being below 650 meq/kg. In any intensive pig farming system&#8230;</p>
                                  <div class="view_more_relasted"><a
                                      href="/en/news/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con-en.html">Read more</a></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="Post-image">
                                <a href="/en/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html"
                                  title="ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE" thumbnail="" ><img width="
                                  664" height="524" src="/assets/img/tin-tuc/tin_4.png"
                                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                  srcset="/assets/img/tin-tuc/tin_4.png 664w, /assets/img/tin-tuc/tin_4-300x237.png 300w"
                                  sizes="(max-width: 664px) 100vw, 664px" /></a>
                              </div>
                              <div class="post-text">
                                <div class="post-text_1">
                                  <h4><a href="/en/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html">ADJUSTING NUTRITION FOR SOWS DURING THE FARROWING TRANSITION PHASE

                                  </a></h4>
                                  <div class="time_date"><span aria-hidden="true" class="icon_clock"></span> 20 June | 2020</div>
                                  <p>Healthier piglets will contribute to increased profitability during the rearing process. Based on recent experiments and the results of implementing advanced nutrition programs, it has been confirmed that improving nutrition for piglets&#8230;</p>
                                  <div class="view_more_relasted"><a href="/en/news/dieu-chinh-che-do-dinh-duong-cho-heo-nai-en.html">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </article> <br /><br />
              </div>
            </div>
          </div>

        </div>
      </div>      
      <%- include('../../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../../partial/bodyAssets.ejs') %>
</body>

</html>