<% if(lang === 'vi') { %>
<footer>
  <div class="footer_inner clearfix">
    <div class="footer_top_holder">
      <div class="footer_top footer_top_full">
        <div class="vc_row wpb_row section vc_row-fluid  footer_row_1 grid_section"
          style='background-color:#ae0d13; text-align:left;'>
          <div class=" section_inner clearfix">
            <div class='section_inner_margin clearfix'>
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  footer_info">
                      <div class="wpb_wrapper">
                        <ul>                                
                          <li>
                            <h3>EMAIL</h3>
                            <p>general@minhanhxnk.com</p>
                          </li>
                          <li>
                            <h3>ĐỊA CHỈ</h3>
                            <p>Số 16 đường số 3, Khu Dân Cư Him Lam, Phường Tân Hưng, Quận 7, Thành phố Hồ Chí Minh, Việt Nam.</p>                                  
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row section vc_row-fluid  footer_row_2 grid_section"
          style='background-color:#f4f4f4; text-align:left;'>
          <div class=" section_inner clearfix">
            <div class='section_inner_margin clearfix'>
              <div class="copy_right_text wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_left">
                      <div class="wpb_wrapper">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="402" height="172"
                            src="/assets/img/logo_MA.png"
                            class="vc_single_image-img attachment-full" alt=""
                            srcset="/assets/img/index/footer.png 402w, /assets/img/index/footer-300x128.png 300w, /assets/img/index/footer-400x172.png 400w"
                            sizes="(max-width: 402px) 100vw, 402px" /></div>
                      </div>
                    </div>
                    <div class="wpb_text_column wpb_content_element  display_desktop">
                      <div class="wpb_wrapper">
                        <p class="p1">Copyright 2023 Minh Anh Group. All right reserved<br />
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  footer_link">
                      <div class="wpb_wrapper">
                        <h3>Về Minh Anh Group</h3>
                        <ul>
                          <li><a href="#">Giới thiệu</a></li>
                          <li><a href="#">Sản phẩm</a></li>
                          <li><a href="#">Liên hệ</a></li>
                        </ul>
                        <ul>
                          <li><a href="#">Tin tức &amp; sự kiện</a></li>
                          <li><a href="#">Đối tác chiến lược</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div role="form" class="wpcf7" id="wpcf7-f21-o1" lang="en-US" dir="ltr">
                      <div class="screen-reader-response"></div>
                      <form action="/#wpcf7-f21-o1" method="post" class="wpcf7-form default"
                        novalidate="novalidate">
                        <div style="display: none;">
                          <input type="hidden" name="_wpcf7" value="21" />
                          <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                          <input type="hidden" name="_wpcf7_locale" value="en_US" />
                          <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f21-o1" />
                          <input type="hidden" name="_wpcf7_container_post" value="0" />
                        </div>
                        <div class="newlletter">
                          <h3>Đăng ký nhận thông tin</h3>
                          <div class="form_newslleter">
                            <p><span class="wpcf7-form-control-wrap Email"><input type="email" name="Email"
                                  value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                  aria-required="true" aria-invalid="false"
                                  placeholder="Địa chỉ email của bạn" /></span></p>
                            <p class="submit"><input type="submit" value="Gửi"
                                class="wpcf7-form-control wpcf7-submit" /></p>
                            </p>
                          </div>
                        </div>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                      </form>
                    </div>
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html social_icon_footer">
                      <div class="wpb_wrapper">
                        <h3>Kết nối với chúng tôi</h3>
                        <ul>
                          <li><a href="#"><span aria-hidden="true" class="social_facebook"></span></a></li>
                          <li><a href="#"><span aria-hidden="true" class="social_youtube"></span></a></li>
                          <li><a href="#"><span aria-hidden="true" class="social_googleplus"></span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="wpb_text_column wpb_content_element  display_mobile copy_right_comma">
                      <div class="wpb_wrapper">
                        <p class="p1">Copyright 2023 Minh Anh Group. All right reserved<br />
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="text-2" class="widget widget_text">
          <div class="textwidget">
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom_holder">
      <div class="footer_bottom">
      </div>
    </div>
  </div>
</footer>
<% } %>

<% if(lang === 'en') { %>
<footer>
  <div class="footer_inner clearfix">
    <div class="footer_top_holder">
      <div class="footer_top footer_top_full">
        <div class="vc_row wpb_row section vc_row-fluid  footer_row_1 grid_section"
          style='background-color:#ae0d13; text-align:left;'>
          <div class=" section_inner clearfix">
            <div class='section_inner_margin clearfix'>
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  footer_info">
                      <div class="wpb_wrapper">
                        <ul>
                          <li>
                            <h3>EMAIL</h3>
                            <p>general@minhanhxnk.com</p>
                          </li>
                          <li>
                            <h3>ADDRESS</h3>
                            <p>No. 16, Street No. 3, Him Lam Residential Area, Tan Hung Ward, District 7, Ho Chi Minh City, Vietnam.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row section vc_row-fluid  footer_row_2 grid_section"
          style='background-color:#f4f4f4; text-align:left;'>
          <div class=" section_inner clearfix">
            <div class='section_inner_margin clearfix'>
              <div class="copy_right_text wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_left">
                      <div class="wpb_wrapper">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="402" height="172"
                          src="/assets/img/logo_MA.png"
                          class="vc_single_image-img attachment-full" alt=""
                          srcset="/assets/img/index/footer.png 402w, /assets/img/index/footer-300x128.png 300w, /assets/img/index/footer-400x172.png 400w"
                          sizes="(max-width: 402px) 100vw, 402px" /></div>
                      </div>
                    </div>
                    <div class="wpb_text_column wpb_content_element  display_desktop">
                      <div class="wpb_wrapper">
                        <p class="p1">Copyright 2023 Minh Anh Group. All right reserved</p>
                        <p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  footer_link">
                      <div class="wpb_wrapper">
                        <h3>About MINH ANH GROUP</h3>
                        <ul>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Product</a></li>
                          <li><a href="#">Contact</a></li>
                        </ul>
                        <ul>
                          <li><a href="#">News &amp; Events</a></li>
                          <li><a href="#">Partners</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div role="form" class="wpcf7" id="wpcf7-f544-o1" lang="en-US" dir="ltr">
                      <div class="screen-reader-response"></div>
                      <form action="/en/#wpcf7-f544-o1" method="post" class="wpcf7-form default"
                        novalidate="novalidate">
                        <div style="display: none;">
                          <input type="hidden" name="_wpcf7" value="544" />
                          <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                          <input type="hidden" name="_wpcf7_locale" value="en_US" />
                          <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f544-o1" />
                          <input type="hidden" name="_wpcf7_container_post" value="0" />
                        </div>
                        <div class="newlletter">
                          <h3>Sign up for information</h3>
                          <div class="form_newslleter">
                            <p><span class="wpcf7-form-control-wrap Email"><input type="email" name="Email"
                                  value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                  aria-required="true" aria-invalid="false" placeholder="Your Email" /></span></p>
                            <p class="submit"><input type="submit" value="Send"
                                class="wpcf7-form-control wpcf7-submit" /></p>
                            </p>
                          </div>
                        </div>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                      </form>
                    </div>
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html social_icon_footer">
                      <div class="wpb_wrapper">
                        <h3>Connect with us</h3>
                        <ul>
                          <li><a href="#"><span aria-hidden="true" class="social_facebook"></span></a></li>
                          <li><a href="#"><span aria-hidden="true" class="social_youtube"></span></a></li>
                          <li><a href="#"><span aria-hidden="true" class="social_googleplus"></span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="wpb_text_column wpb_content_element  display_mobile copy_right_comma">
                      <div class="wpb_wrapper">
                        <p class="p1">Copyright 2018 Viet ACC. All right reserved<br />
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="text-13" class="widget widget_text">
          <div class="textwidget">
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom_holder">
      <div class="footer_bottom">
      </div>
    </div>
  </div>
</footer>
<% } %>