<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH AGRICULTURAL INVESTMENT JOINT STOCK COMPANY - INGERDIENT FOR PRODUCING FOODS - COSMETICS</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="INGERDIENT FOR PRODUCING FOODS - COSMETICS" />
  <meta property="og:url" content="/en/product/nguyen-lieu-thuc-pham-my-pham-en/" />
  <meta property="og:site_name" content="" />
  <meta property="og:image" content="" />
  <meta property="og:image:secure_url"
    content="" />
  <meta property="og:image:width" content="440" />
  <meta property="og:image:height" content="260" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="INGERDIENT FOR PRODUCING FOODS - COSMETICS" />
  <meta name="twitter:image" content="" />
  <%- include('../../partial/head.ejs') %>
</head>

<body data-rsssl=1
  class="page-template-default page page-id-438 page-child parent-pageid-429  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../../partial/header.ejs', { page: '', lang: 'en', viPage: '/san-pham/nguyen-lieu-thuc-pham-my-pham.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="/assets/img/san-pham/banner-1.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1><span>INGERDIENT FOR PRODUCING FOODS &#8211; COSMETICS</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="container_inner default_template_holder clearfix page_container_inner">
              <div class="vc_row wpb_row section vc_row-fluid  product_Detail_row" style=' text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_widgetised_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3>Product</h3>
                              </div>
                            </div>
                            <div class="widget widget_nav_menu">
                              <div class="menu-product-detail-en-container">
                                <ul id="menu-product-detail-en" class="menu">
                                  <li id="menu-item-766"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-766"><a
                                      href="/en/product/nong-san-nguyen-lieu-tho-en.html">FEED
                                      COMMODITIES</a></li>
                                  <li id="menu-item-1086"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086"><a
                                      href="/en/product/premix-vitamin-khoang-en.html">MINERALS &#038;
                                      VITAMIN PREMIX</a></li>
                                  <li id="menu-item-764"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-764"><a
                                      href="/en/product/phu-gia-chan-nuoi-en.html">FEED
                                      ADDITIVES</a></li>
                                  <li id="menu-item-762"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-762"><a
                                      href="/en/product/san-pham-dung-cho-trang-trai-en.html">PRODUCTS
                                      USING FOR FARM SITE</a></li>
                                  <li id="menu-item-765"
                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-438 current_page_item menu-item-765">
                                    <a href="/en/product/nguyen-lieu-thuc-pham-my-pham-en.html">INGERDIENT
                                      FOR PRODUCING FOODS – COSMETICS</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3>Partners</h3>
                              </div>
                            </div>
                            <div class="widget_text widget widget_custom_html">
                              <div class="textwidget custom-html-widget">
                                <div class="img_doitact_siderbar"><img class="alignnone size-medium wp-image-78"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_1-300x141.png"
                                  alt="" width="300" height="141" /><img class="alignnone size-medium wp-image-189"
                                  src="/assets/img/doi-tac-chien-luoc/logo_massel.svg"
                                  alt="" width="300" height="80" /><img class="alignnone size-full wp-image-192"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_2-300x300.png" alt=""
                                  width="174" height="168" /><img class="alignnone size-medium wp-image-191"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_3-300x289.png"
                                  alt="" width="300" height="188" />
                              </div>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3 class="title_mobile">News &#038; Events</h3>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <p><a class="button_learmore" href="/en/news-events.html">View
                                    All</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                            <h3><strong>ingredient FOR PRODUCING FOODS</strong></h3>
                            <p>&nbsp;</p>
                            <h3><img class="alignnone size-full wp-image-338"
                                src="/assets/img/san-pham/1528276943562.png" alt=""
                                width="440" height="260"
                                srcset="/assets/img/san-pham/1528276943562.png 440w, /assets/img/san-pham/1528276943562-300x177.png 300w"
                                sizes="(max-width: 440px) 100vw, 440px" /></h3>
                            <p>Group of high quality raw materials used in the food processing industry, in accordance
                              with standards produced in Vietnam.</p>
                            <p>Origin: Japan, France, USA, New Zealand</p>
                            <p>Product Groups:<br />
                              Whole grains</p>
                            <p>&nbsp;</p>
                            <h3>ingredient FOR PRODUCING COSMETICS</h3>
                            <p>&nbsp;</p>
                            <p><img class="alignnone size-full wp-image-339"
                                src="/assets/img/san-pham/brandbox-decovery-website-long-e1529393502969.png"
                                alt="" width="500" height="200" /></p>
                            <p>With our extensive network of partners, we have developed a range of advanced cosmetic
                              ingredients, including:</p>
                            <p>Substrate</p>
                            <p>Whitening agent</p>
                            <p>Vitamin</p>
                            <p>Serum active ingredients</p>
                            <p>Organic oils</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('../../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../../partial/bodyAssets.ejs') %>
</body>

</html>