<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH AGRICULTURAL INVESTMENT JOINT STOCK COMPANY - FEED ADDITIVES</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="FEED ADDITIVES" />
  <meta property="og:url" content="/en/product/phu-gia-chan-nuoi-en/" />
  <meta property="og:site_name" content="" />
  <meta property="og:image" content="" />
  <meta property="og:image:secure_url"
    content="" />
  <meta property="og:image:width" content="440" />
  <meta property="og:image:height" content="260" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="FEED ADDITIVES" />
  <meta name="twitter:image" content="" />
  <%- include('../../partial/head.ejs') %>
</head>

<body data-rsssl=1
  class="page-template-default page page-id-441 page-child parent-pageid-429  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../../partial/header.ejs', { page: '', lang: 'en', viPage: '/san-pham/phu-gia-chan-nuoi.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="/assets/img/san-pham/banner-1.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1><span>FEED ADDITIVES</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="container_inner default_template_holder clearfix page_container_inner">
              <div class="vc_row wpb_row section vc_row-fluid  product_Detail_row" style=' text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_widgetised_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3>Product</h3>
                              </div>
                            </div>
                            <div class="widget widget_nav_menu">
                              <div class="menu-product-detail-en-container">
                                <ul id="menu-product-detail-en" class="menu">
                                  <li id="menu-item-766"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-766"><a
                                      href="/en/product/nong-san-nguyen-lieu-tho-en.html">FEED
                                      COMMODITIES</a></li>
                                  <li id="menu-item-1086"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086"><a
                                      href="/en/product/premix-vitamin-khoang-en.html">MINERALS &#038;
                                      VITAMIN PREMIX</a></li>
                                  <li id="menu-item-764"
                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-441 current_page_item menu-item-764">
                                    <a href="/en/product/phu-gia-chan-nuoi-en.html">FEED
                                      ADDITIVES</a></li>
                                  <li id="menu-item-762"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-762"><a
                                      href="/en/product/san-pham-dung-cho-trang-trai-en.html">PRODUCTS
                                      USING FOR FARM SITE</a></li>
                                  <li id="menu-item-765"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-765"><a
                                      href="/en/product/nguyen-lieu-thuc-pham-my-pham-en.html">INGERDIENT
                                      FOR PRODUCING FOODS – COSMETICS</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3>Partners</h3>
                              </div>
                            </div>
                            <div class="widget_text widget widget_custom_html">
                              <div class="textwidget custom-html-widget">
                                <div class="img_doitact_siderbar"><img class="alignnone size-medium wp-image-78"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_1-300x141.png"
                                  alt="" width="300" height="141" /><img class="alignnone size-medium wp-image-189"
                                  src="/assets/img/doi-tac-chien-luoc/logo_massel.svg"
                                  alt="" width="300" height="80" /><img class="alignnone size-full wp-image-192"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_2-300x300.png" alt=""
                                  width="174" height="168" /><img class="alignnone size-medium wp-image-191"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_3-300x289.png"
                                  alt="" width="300" height="188" />
                              </div>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3 class="title_mobile">News &#038; Events</h3>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <p><a class="button_learmore" href="/en/news-events.html">View
                                    All</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                            <h3><strong>RONOZYME® ProAct – Maximize your proteins</strong></h3>
                            <p>&nbsp;</p>
                            <p><img class="alignnone wp-image-306 size-full"
                                src="/assets/img/san-pham/1370245223968.jpg" alt=""
                                width="440" height="260"
                                srcset="/assets/img/san-pham/1370245223968.jpg 440w, /assets/img/san-pham/1370245223968-300x177.jpg 300w"
                                sizes="(max-width: 440px) 100vw, 440px" /></p>
                            <p>Incorporating RONOZYME® ProAct in diets helps reduce feed costs without compromising
                              performance.</p>
                            <p>Protein is one of the most expensive components of any livestock diet, but is essential
                              for growth. The challenge, therefore, is to use protein as efficiently as possible so as
                              to reduce feed costs without compromising animal health.</p>
                            <p>Proteases are enzymes that break down protein molecules into the amino acids and peptides
                              needed by animals.</p>
                            <p><strong>Your benefits</strong><br />
                              Adding RONOZYME® ProAct can:</p>
                            <p>Increase protein digestibility<br />
                              Improve protein utilization by the animal<br />
                              Allow lower quality protein sources to be included in diets<br />
                              Protect the environment by reducing the nitrogen excretion from animal husbandry<br />
                              Specifically developed for inclusion in animal diets, RONOZYME® ProAct significantly
                              increases the digestibility of protein.</p>
                            <p>It complements naturally occurring proteases in feed, and considerably increases amino
                              acid and peptide supply so as to enhance animal performance. It improves the digestibility
                              of a wide range of protein sources and cereals, allowing savings in diet costs.</p>
                            <p><strong>Stability</strong><br />
                              RONOZYME® ProAct is an outstanding heat-stable protease, making it ideal for inclusion in
                              premixes and pelleted feeds.</p>
                            <p>&nbsp;</p>
                            <h3>RONOZYME<sup>®</sup> Carbohydrases – release the value in feeds</h3>
                            <p>&nbsp;</p>
                            <p><img class="alignnone wp-image-307 size-full"
                                src="/assets/img/san-pham/1370242190466.jpg" alt=""
                                width="440" height="260"
                                srcset="/assets/img/san-pham/1370242190466.jpg 440w, /assets/img/san-pham/1370242190466-300x177.jpg 300w"
                                sizes="(max-width: 440px) 100vw, 440px" /></p>
                            <p>Our carbohydrases increase energy utilization, animal performance and financial returns
                              for customers.</p>
                            <p>Animals need energy to live, grow and reproduce just as much as we do. Successful
                              livestock production therefore relies on maximizing the energy present in the diet of
                              animals. Of course, energy used more efficiently also increases financial returns for
                              producers. Our carbohydrases help do all of these things.</p>
                            <p><strong>The range of products:</strong></p>
                            <p><strong>RONOZYME® MultiGrain</strong> &#8211; <strong>Multiply the benefits</strong></p>
                            <p>The most stable combination of xylanase and β-glucanase enzymes.</p>
                            <p>RONOZYME® MultiGrain is an innovative thermostable multicomponent carbohydrase with
                              multiple enzyme activities that will remain stable under pelleting conditions of up to
                              90°C.</p>
                            <p>RONOZYME® MultiGrain contains guaranteed levels of three key enzyme activities. Its
                              unique combination of xylanase and β–glucanases offers the flexibility to safely formulate
                              when using highly variable raw materials.</p>
                            <p>RONOZYME® MultiGrain delivers:<br />
                              Improved energy utilization<br />
                              Flexible formulation<br />
                              High performance<br />
                              Reduced feed cost<br />
                              High retention after pelleting</p>
                            <p><strong>RONOZYME® WX</strong> &#8211; <strong>Harvest the energy </strong></p>
                            <div class="intro subtitle">
                              <div class="intro">RONOZYME<sup>®</sup> WX is a leading xylanase enzyme, which delivers
                                outstanding performance in poultry and swine units.</div>
                            </div>
                            <div class="par parsys">
                              <div class="image parbase section">
                                <div
                                  id="cq-image-jsp-/content/markets/anh/en_US/products/products-feedenzymes/products-feed-carbohydrases/products-feed-carbohydrases-ronozyme-wx/jcr:content/par/image">
                                </div>
                              </div>
                              <div class="text parbase section">
                                <p>RONOZYME<sup>®</sup> WX improves the digestibility of wheat, rye, triticale, barley
                                  and cereal by-products, and results in better-performing poultry and swine.</p>
                                <p>RONOZYME<sup>®</sup> WX is an exceptional mono-component xylanase product used for
                                  both intestinal viscosity reduction and nutrient release from cereals and cereal
                                  by-products.</p>
                                <ul>
                                  <li>RONOZYME<sup>®</sup> WX degrades both soluble and insoluble xylans, a key part of
                                    the cell wall structure in cereals. The degradation of the insoluble cell wall
                                    results in the release of vital nutrients trapped in the intact plant cells, and the
                                    degradation of the soluble xylan significantly reduces the viscosity of intestinal
                                    content. In both cases, the result is increased nutrient availability and
                                    digestibility.</li>
                                  <li>Metabolic energy is significantly increased, e.g., 3% in corn and 6% in wheat in
                                    broiler diets.</li>
                                </ul>
                                <p>RONOZYME<sup>®</sup> WX in swine</p>
                                <p>When incorporated into swine diets, RONOZYME<sup>®</sup> WX increases weight gain and
                                  improves feed conversion. The result is faster-growing, more efficient and more
                                  profitable animals.</p>
                                <p>RONOZYME<sup>®</sup> WX in poultry</p>
                                <p>Supplementing the diets of broiler chicken with RONOZYME<sup>®</sup> WX will improve
                                  the efficiency of feed utilization and reduce feed costs while increasing growth
                                  rates. It also improves the consistency of litter, improving the environment for
                                  poultry.</p>
                                <p><strong>Stability</strong></p>
                                <p>RONOZYME<sup>®</sup> WX is an exceptional heat-stable xylanase and our specific CT
                                  (coated thermo stable) formulation. It is free-flowing and dust-free, ensuring reduced
                                  losses during feed manufacture and making it suitable for most feed production
                                  processes.</p>
                                <p>&nbsp;</p>
                              </div>
                            </div>
                            <h3><strong>RONOZYME® phytases &#8211; release more phosphorus</strong></h3>
                            <p>&nbsp;</p>
                            <p><img class="alignnone size-full wp-image-308"
                                src="/assets/img/san-pham/1370242162363.jpg" alt=""
                                width="440" height="260"
                                srcset="/assets/img/san-pham/1370242162363.jpg 440w, /assets/img/san-pham/1370242162363-300x177.jpg 300w"
                                sizes="(max-width: 440px) 100vw, 440px" /></p>
                            <p>Our extensive range of phytases delivers great increases in phosphorus release, improving
                              performance and cutting costs.</p>
                            <p>Phosphorus is an essential nutrient in livestock diets. It affects growth, reproduction
                              and feed use.</p>
                            <p>Much of the naturally occurring phosphorus in feed ingredients is unavailable to animals.
                              With most plant phosphorus being excreted undigested, inorganic phosphate has to be added
                              to diets to compensate.</p>
                            <p>Increasing phytic acid degradation and the availability of plant phosphorus can have
                              major benefits for poultry and swine producers, including:</p>
                            <p>Lower levels of inorganic phosphorus in diets<br />
                              Reduced feed costs<br />
                              Better sustainability of animal production</p>
                            <p>The range of products:</p>
                            <p><strong>RONOZYME® HiPhos</strong></p>
                            <p>RONOZYME® HiPhos is our most powerful and active phytase, delivering exceptional and
                              consistent increases in phosphorus availability.</p>
                            <p><strong>RONOZYME® NP</strong></p>
                            <p>increases phosphorus release and utilization in poultry and swine diets.</p>
                            <p>&nbsp;</p>
                            <h3>CAROPHYLL® – because color matters</h3>
                            <p>&nbsp;</p>
                            <h3><img class="cq-dd-image" style="font-size: 16px;"
                                title="Eggs and salmon arranged on a plate"
                                src="https://www.dsm.com/content/markets/anh/en_US/products/products-carotenoids/products-carotenoids-carophyll/jcr%3acontent/par/image.img.jpg/1456329151042.jpg"
                                alt="Eggs and salmon arranged on a plate" /></h3>
                            <div class="intro subtitle">
                              <div class="intro">Much of the pleasure we derive from food comes from its visual
                                appearance, so the color of food ingredients is extremely important. We offer products
                                that allow consistent delivery of precisely-pigmented egg yolks, poultry and fish.</div>
                              <div></div>
                            </div>
                            <div class="par parsys">
                              <div class="text parbase section">
                                <p>Carotenoids play an important role in animal feed. They are vital antioxidants and
                                  also vitamin A precursors.</p>
                                <p>Their most important role in poultry farming and aquaculture however, is their
                                  ability to improve the appearance of products such as egg yolks, chicken skin and fish
                                  flesh.</p>
                                <p>Carotenoid levels vary from one plant to another, and unless poultry and fish diets
                                  are provided with supplements, the result will be variation in the appearance of food
                                  products.</p>
                                <p>Our CAROPHYLL<sup>®</sup> range of carotenoid additives allows producers to deliver
                                  precisely-colored and pigmented food reliably and consistently. We have combined our
                                  quality products, our unique beadlet technology and our many years’ experience to
                                  provide a great method for improving product quality and increasing consumer
                                  confidence.</p>
                              </div>
                            </div>
                            <h3></h3>
                            <p>&nbsp;</p>
                            <h3><strong>VEVOVITALL ® | ACID BENZOIC</strong></h3>
                            <p>&nbsp;</p>
                            <p>Delivering optimal swine performance</p>
                            <p>&nbsp;</p>
                            <p><img class="alignnone size-full wp-image-312"
                                src="/assets/img/san-pham/vitaminsvin-e1529391169144.jpg"
                                alt="" width="440" height="293" /></p>
                            <p>With our experience in feed supplementation we can help swine producers optimise
                              performance in a comprehensive manner.<br />
                              Pig in stable looking into camera<br />
                              VevoVitall® is an ultra-pure source of benzoic acid and is an excellent feed preservative.
                              It reduces the activity of micro-organisms on feed, and is particularly effective against
                              fungi and yeasts.</p>
                            <p>VevoVitall® acidic properties doesn’t just work on feed. It also works inside the animal
                              towards a favourable microflora balance hence reduced digestive disorders.</p>
                            <p><strong>Your benefits</strong><br />
                              Feed acidification with VevoVitall®</p>
                            <p>Maximizes feed value, and thus<br />
                              Enables performance optimization</p>
                            <p>&nbsp;</p>
                            <h3>DIAMOND V &#8211; Immune strength for life™</h3>
                            <p>&nbsp;</p>
                            <p><img class="alignnone wp-image-314 size-full"
                                src="/assets/img/san-pham/Untitled-1-01-e1529391388658.jpg"
                                alt="" width="440" height="290" /></p>
                            <p>Diamond V Original products represent “the one-and-only original” in the field of
                              fermentation products for animal nutrition and health. Validated by extensive
                              peer-reviewed research, Original products continue to provide the best return on
                              investment in the market today.</p>
                            <p>All products in the Original Line are manufactured using the same <i>Saccharomyces
                                cerevisiae</i>fermentation technology platform with the same high standards of quality.
                              Original products differ only in their concentration and listed source of materials
                              (OMRI-Listed<sup>®</sup> and non-GMO).</p>
                            <p>Diamond V’s Original Line consists of the following products:</p>
                            <ul>
                              <li><b>Standard:</b> Original XPC™ Ultra, Original XPC™ and Original XP™</li>
                              <li><b>OMRI-Listed<sup>®</sup>:</b> XPC™ Green and XP™ Green</li>
                              <li><b>Non-GMO:</b> XPC™<sub>LS</sub> and XP™<sub>LS</sub></li>
                              <li><b>Direct-fed microbials:</b> XP™ DFM</li>
                            </ul>
                            <p>The range of products:</p>
                            <p><strong>Syngen X</strong>:</p>
                            <p>Piglet gut health and performance</p>
                            <p>SynGenX is a natural nutritional health product specifically designed to promote gut
                              health and productivity before, during, and after weaning.</p>
                            <p>The functional metabolites in SynGenX help promote the activity of beneficial bacteria in
                              the gastrointestinal tract. The synbiotic-like activity (exerting both a prebiotic and
                              probiotic dual-action effect) promotes butyrate production and supports a healthy
                              bacterial balance to optimize immune function and overall health of the piglet.</p>
                            <p><strong>XPC Yeart Culture</strong>: The sow health and performance</p>
                            <p><strong>DV Aqua</strong>:</p>
                            <p>Balanced immunity™ for fish and shrimp</p>
                            <p>The unique metabolites in DVAQUA support balanced immunity for health and performance in
                              a wide range of cultured species including freshwater and salt-water fish species, cold
                              and warm-water fish species, and shrimp.</p>
                            <p>DVAQUA offers excellent sensory characteristics, particle size, and product stability for
                              use in all aquafeed processing systems, including steam pelleting and extrusion.</p>
                            <p>&nbsp;</p>
                            <h3><b>OLMIX <strong>MT.X+</strong></b><br />
                              <strong>THE NATURAL TOXIN BINDER FOR MANAGING MYCOTOXIN RISK</strong>
                            </h3>
                            <p>&nbsp;</p>
                            <p><img class="alignnone size-full wp-image-318"
                                src="/assets/img/san-pham/M.TOX-01-e1529391523787.jpg"
                                alt="" width="440" height="279" /></p>
                            <p>Olmix mycotoxin binders associate specific algae and clays to efficiently reduce the
                              impact of mycotoxins, including the most difficult to bind toxins, such as fusarium. The
                              MT.x+ toxin binder is incorporated directly into the feed or premix</p>
                            <p>The range of products:</p>
                            <p><strong>M.Tox</strong><br />
                              <strong>M. Tox +</strong>
                            </p>
                            <p>&nbsp;</p>
                            <h3>MFEED OLMIX &#8211; SAFE DIGESTION</h3>
                            <p>&nbsp;</p>
                            <p><img class="alignnone size-full wp-image-321"
                                src="/assets/img/san-pham/M.FEED-01-e1529391642533.jpg"
                                alt="" width="440" height="279" /></p>
                            <p>MFeed promotes digestive efficiency.</p>
                            <p>The range of products:</p>
                            <p><strong>MFeed</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('../../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../../partial/bodyAssets.ejs') %>
</body>

</html>