<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH TECHNOLOGY INVESTMENT JOINT STOCK COMPANY - PRODUCTS USING FOR FARM SITE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="PRODUCTS USING FOR FARM SITE" />
  <meta property="og:url" content="/en/product/san-pham-dung-cho-trang-trai-en/" />
  <meta property="og:site_name" content="" />
  <meta property="og:image"
    content="" />
  <meta property="og:image:secure_url"
    content="" />
  <meta property="og:image:width" content="440" />
  <meta property="og:image:height" content="343" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="PRODUCTS USING FOR FARM SITE" />
  <meta name="twitter:image"
    content="" />
  <%- include('../../partial/head.ejs') %>
</head>

<body data-rsssl=1
  class="page-template-default page page-id-449 page-child parent-pageid-429  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../../partial/header.ejs', { page: '', lang: 'en', viPage: '/san-pham/san-pham-dung-cho-trang-trai.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="/assets/img/san-pham/banner-1.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1><span>PRODUCTS USING FOR FARM SITE</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="container_inner default_template_holder clearfix page_container_inner">
              <div class="vc_row wpb_row section vc_row-fluid  product_Detail_row" style=' text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_widgetised_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3>Product</h3>
                              </div>
                            </div>
                            <div class="widget widget_nav_menu">
                              <div class="menu-product-detail-en-container">
                                <ul id="menu-product-detail-en" class="menu">
                                  <li id="menu-item-766"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-766"><a
                                      href="/en/product/nong-san-nguyen-lieu-tho-en.html">FEED
                                      COMMODITIES</a></li>
                                  <li id="menu-item-1086"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086"><a
                                      href="/en/product/premix-vitamin-khoang-en.html">MINERALS &#038;
                                      VITAMIN PREMIX</a></li>
                                  <li id="menu-item-764"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-764"><a
                                      href="/en/product/phu-gia-chan-nuoi-en.html">FEED
                                      ADDITIVES</a></li>
                                  <li id="menu-item-762"
                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-449 current_page_item menu-item-762">
                                    <a href="/en/product/san-pham-dung-cho-trang-trai-en.html">PRODUCTS
                                      USING FOR FARM SITE</a></li>
                                  <li id="menu-item-765"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-765"><a
                                      href="/en/product/nguyen-lieu-thuc-pham-my-pham-en.html">INGERDIENT
                                      FOR PRODUCING FOODS – COSMETICS</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3>Partners</h3>
                              </div>
                            </div>
                            <div class="widget_text widget widget_custom_html">
                              <div class="textwidget custom-html-widget">
                                <div class="img_doitact_siderbar"><img class="alignnone size-medium wp-image-78"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_1-300x141.png"
                                  alt="" width="300" height="141" /><img class="alignnone size-medium wp-image-189"
                                  src="/assets/img/doi-tac-chien-luoc/logo_massel.svg"
                                  alt="" width="300" height="80" /><img class="alignnone size-full wp-image-192"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_2-300x300.png" alt=""
                                  width="174" height="168" /><img class="alignnone size-medium wp-image-191"
                                  src="/assets/img/doi-tac-chien-luoc/doitact_logo_3-300x289.png"
                                  alt="" width="300" height="188" />
                              </div>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <h3 class="title_mobile">News &#038; Events</h3>
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                              </div>
                            </div>
                            <div class="widget widget_text">
                              <div class="textwidget">
                                <p><a class="button_learmore" href="/en/news-events.html">View
                                    All</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                            <p><strong>MILK REPLACEMENT </strong></p>
                            <p><img class="alignnone size-full wp-image-77"
                                src="/assets/img/san-pham/doitact_3-e1529392504214.png"
                                alt="" width="440" height="343" /></p>
                            <p>Celtilait is a specialized substitute for baby calves, which exactly meets the needs of
                              calves and grows optimally.<br />
                              It allows for accurate feed feedings at the lowest cost, and achieves similar growth
                              results as milk replacers containing 50% skimmed milk.</p>
                            <p>Production by: Celtilite</p>
                            <p>Product Groups:<br />
                              Cellaid SE &#8211; Milk replacer for calves<br />
                              Celtilait BABY &#8211; Advanced milk replacer for calves</p>
                            <p>&nbsp;</p>
                            <p><strong>CALCIUM TOP</strong></p>
                            <p><img class="alignnone size-full wp-image-336"
                                src="/assets/img/san-pham/vacuno-e1529392707504.jpg"
                                alt="" width="440" height="275" /></p>
                            <p>Provide enough calcium during the postnatal period to prevent fever. Supports metabolism,
                              increases the ability to excrete milk and supports the treatment of polio.</p>
                            <p>Made in: XVET (Germany)</p>
                            <p>&nbsp;</p>
                            <p><strong>PREMIX-VITAMIN</strong></p>
                            <p><img class="alignnone size-full wp-image-171"
                                src="/assets/img/san-pham/product_detail_img_1-e1529392844503.png"
                                alt="" width="440" height="233" /></p>
                            <p>The high quality product range used for commercial farm systems includes alternative milk
                              replacers, nutrients to support disease management, improved survival and productivity.
                            </p>
                            <p>Production: DSM</p>
                            <p>Product Groups:</p>
                            <p>Milking Cow (QLS) Hurry up the breed, raise the conception rate<br />
                              Enhance the ability to conceive, fast breed, prevent and treat cases of vitamin E and
                              selenium causing death of embryos, miscarriage, diarrhea.</p>
                            <p>Pre Calving (QLS) Helps the placenta to develop after birth<br />
                              Breast-feeding for pre-natal and post-natal cows, supporting fast and uninterrupted birth
                              of cows after birth, minimizing inflammation, and improving the health of cows.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('../../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../../partial/bodyAssets.ejs') %>
</body>

</html>