<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH TECHNOLOGY INVESTMENT JOINT STOCK COMPANY - ABOUT</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/en/about/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="About" />
  <meta property="og:url" content="/en/about/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="About" />
  <%- include('../partial/head.ejs') %>
  <style id='ctl_styles-inline-css' type='text/css'>
    .cool_timeline h1.timeline-main-title {
      font-weight: inherit !important;
      font-family: inherit !important;
      font-size: 22px !important;
      text-align: center !important;
    }

    .cool_timeline h4.timeline-main-title.center-block {
      font-weight: inherit !important;
      font-family: inherit !important;
      font-size: 22px !important;
      text-align: center !important;
    }

    .cool-timeline.white-timeline:before,
    .cool-timeline.white-timeline.one-sided:before {
      background-color: #025149;
      background-image: -webkit-linear-gradient(top, #025149 0%, #025149 8%, #025149 92%, #025149 100%);
      background-image: -moz-linear-gradient(top, #025149 0%, #025149 8%, #025149 92%, #025149 100%);
      background-image: -ms-linear-gradient(top, #025149 0%, #025149 8%, #025149 92%, #025149 100%);
    }

    .ctl_road_map_wrp li .ctl-story-year:before,
    .ctl_road_map_wrp a li:nth-child(n) .ctl-story-year:before {
      background: #025149 !important;
    }

    .ctl_road_map_wrp li:nth-of-type(1) .ctl-story-year:before,
    .ctl_road_map_wrp a:nth-of-type(1) li .ctl-story-year:before {
      background: -moz-linear-gradient(left, #02514900 0%, #02514900 1%, #025149 50%, #025149 100%) !Important;
      background: -webkit-linear-gradient(left, #02514900 0%, #02514900 1%, #025149 50%, #025149 100%) !Important;
      background: linear-gradient(to right, #02514900 0%, #02514900 1%, #025149 50%, #025149 100%) !Important;
    }

    .ctl_road_map_wrp li:nth-last-of-type(1) .ctl-story-year:before,
    .ctl_road_map_wrp a:nth-last-of-type(1) li .ctl-story-year:before {
      background: -moz-linear-gradient(left, #025149 0%, #025149 1%, #025149 50%, #02514900 100%) !Important;
      background: -webkit-linear-gradient(left, #025149 0%, #025149 1%, #025149 50%, #02514900 100%) !Important;
      background: linear-gradient(to right, #025149 0%, #025149 1%, #025149 50%, #02514900 100%) !Important;
    }

    .cool-timeline.white-timeline .timeline-year {
      -webkit-box-shadow: 0 0 0 4px white, inset 0 0 0 2px rgba(0, 0, 0, 0.05), 0 0 0 8px #025149;
      box-shadow: 0 0 0 4px white, inset 0 0 0 2px rgba(0, 0, 0, 0.05), 0 0 0 8px #025149;
    }

    .cool-timeline.white-timeline .timeline-post .iconbg-turqoise {
      box-shadow: 0 0 0 4px white, inset 0 0 0 2px #fff, 0 0 0 8px #025149;
    }

    .cool-timeline.white-timeline.compact .timeline-post .icon-color-white {
      box-shadow: 0px 0px 0 3px #025149 !Important;
    }

    .cooltimeline_cont .center-line:before,
    .cooltimeline_cont .center-line:after {
      border-color: #025149;
    }

    .cooltimeline_cont .center-line {
      background: #025149;
    }

    .cool-timeline.white-timeline .timeline-year {
      background: #38aab7;
    }

    .cool-timeline .timeline-post .timeline-content {
      background: #fff;
    }

    .cool-timeline .timeline-year .icon-placeholder span {
      font-family: inherit !important;
    }

    .cool-timeline .timeline-post .timeline-content h2.content-title,
    .ctl-popup-content h2 {
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
    }

    .ctl-popup-content .story-posted-date {
      font-family: inherit !important;
    }

    .cool-timeline .timeline-post .timeline-content .content-details,
    .ctl-popup-content {
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
    }

    .cool-timeline .timeline-post .timeline-meta .meta-details {
      font-family: inherit !important;
      font-weight: inherit !important;
    }

    .cool-timeline.white-timeline .timeline-post.even .timeline-content .content-title:before {
      border-right-color: #29b246;
    }

    .cool-timeline.white-timeline.one-sided .timeline-post.even .timeline-content .content-title:before {
      border-right-color: #29b246;
    }

    .cool-timeline.white-timeline .timeline-post.even .icon-dot-full,
    .cool-timeline.one-sided.white-timeline .timeline-post.even .icon-dot-full {
      background: #29b246;
    }

    .cool-timeline.white-timeline .timeline-post.even .icon-color-white,
    .cool-timeline.one-sided.white-timeline .timeline-post.even .icon-color-white {
      background: #29b246;
    }

    .cool-timeline.white-timeline .timeline-post.even .timeline-meta .meta-details,
    .ctl_road_map_wrp .ctl-story-year,
    .ctl_road_map_wrp .ctl-story-title,
    .ctl_road_map_wrp .ctl-story-title a {
      color: #29b246;
    }

    .cool-timeline.white-timeline .timeline-post.even .timeline-content .content-title {
      background: #29b246;
    }

    .clean-skin-tm .cool-timeline.white-timeline .timeline-post.even .timeline-content h2.content-title {
      color: #29b246;
    }

    .clean-skin-tm .cool-timeline.white-timeline.compact .timeline-post.ctl-left .timeline-content h2.content-title {
      color: #29b246;
    }

    .clean-skin-tm .cool-timeline.white-timeline.compact .timeline-post.ctl-left .timeline-content {
      border-right: 3px solid #29b246;
      border-radius: 0;
    }

    .ctl_road_map_wrp .ctl-story-title:before {
      background: -moz-linear-gradient(top, #29b246 0%, rgba(229, 229, 229, 0) 100%);
      background: -webkit-linear-gradient(top, #29b246 0%, rgba(229, 229, 229, 0) 100%);
      background: linear-gradient(to bottom, #29b246 0%, rgba(229, 229, 229, 0) 100%);
    }

    .cool-timeline.white-timeline.compact .timeline-post.ctl-left .icon-dot-full {
      background: #29b246;
    }

    .ultimate-style .timeline-post.timeline-mansory.ctl-left .timeline-content .content-title:after {
      border-left-color: #29b246;
    }

    .cool-timeline.white-timeline.compact .timeline-post.ctl-left .timeline-content .content-title,
    .cool-timeline.white-timeline.compact .timeline-post.ctl-left .icon-color-white {
      background: #29b246;
    }

    .cool-timeline.white-timeline .timeline-post.odd .timeline-content .content-title:before {
      border-left-color: #ce792f;
    }

    .cool-timeline.white-timeline.one-sided .timeline-post.odd .timeline-content .content-title:before {
      border-right-color: #ce792f;
      border-left-color: transparent;
    }

    .cool-timeline.white-timeline .timeline-post.odd .icon-dot-full,
    .cool-timeline.one-sided.white-timeline .timeline-post .icon-dot-full {
      background: #ce792f;
    }

    .cool-timeline.white-timeline .timeline-post.odd .icon-color-white,
    .cool-timeline.one-sided.white-timeline .timeline-post .icon-color-white {
      background: #ce792f;
    }

    .cool-timeline.white-timeline .timeline-post.odd .timeline-meta .meta-details,
    .ctl_road_map_wrp li.current-year .ctl-story-year,
    .ctl_road_map_wrp li.current-year .ctl-story-title,
    .ctl_road_map_wrp li:hover .ctl-story-year,
    .ctl_road_map_wrp li:hover .ctl-story-title,
    .ctl_road_map_wrp li.current-year .ctl-story-title a,
    .ctl_road_map_wrp li:hover .ctl-story-title a,
    .ctl-popup-content h2 {
      color: #ce792f;
    }

    .cool-timeline.white-timeline .timeline-post.odd .timeline-content .content-title {
      background: #ce792f;
    }

    .clean-skin-tm .cool-timeline.white-timeline .timeline-post.odd .timeline-content h2.content-title {
      color: #ce792f;
    }

    .clean-skin-tm .cool-timeline.white-timeline.compact .timeline-post.ctl-right .timeline-content h2.content-title {
      color: #ce792f;
    }

    .clean-skin-tm .cool-timeline.white-timeline.compact .timeline-post.ctl-right .timeline-content {
      border-left: 3px solid #ce792f;
      border-radius: 0;
    }

    .ultimate-style .timeline-post.timeline-mansory.ctl-right .timeline-content .content-title:after {
      border-right-color: #ce792f;
    }

    .cool-timeline.white-timeline.compact .timeline-post.ctl-right .timeline-content .content-title,
    .cool-timeline.white-timeline.compact .timeline-post.ctl-right .icon-color-white {
      background: #ce792f;
    }

    .ctl_road_map_wrp li.current-year .ctl-story-title:before,
    .ctl_road_map_wrp li:hover .ctl-story-title:before {
      background: -moz-linear-gradient(top, #ce792f 0%, rgba(229, 229, 229, 0) 100%);
      background: -webkit-linear-gradient(top, #ce792f 0%, rgba(229, 229, 229, 0) 100%);
      background: linear-gradient(to bottom, #ce792f 0%, rgba(229, 229, 229, 0) 100%);
    }

    .cool-timeline.white-timeline.compact .timeline-post.ctl-right .icon-dot-full {
      background: #ce792f;
    }

    @media (max-width:860px) {
      .clean-skin-tm .cool-timeline.white-timeline.compact .timeline-post.ctl-left.even .timeline-content h2.content-title {
        color: #29b246;
      }

      .clean-skin-tm .cool-timeline.white-timeline.compact .timeline-post.ctl-left.odd .timeline-content h2.content-title {
        color: #ce792f;
      }
    }

    .cool-timeline.white-timeline.compact .timeline-post .timeline-content h2.content-title {
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
    }

    .ctl_road_map_wrp li .ctl-story-title {
      font-size: calc(inherit - 3px) !important;
      font-family: inherit !important;
      font-weight: inherit !important;
    }

    .ctl-story-year .rm_year {
      font-family: inherit !important;
    }

    @media (max-width:860px) {
      .cool-timeline.white-timeline .timeline-post.odd .timeline-content .content-title:before {
        border-right-color: #ce792f;
        border-left-color: transparent;
      }

      .cool-timeline.white-timeline.compact .timeline-post.ctl-left.even .timeline-content .content-title,
      .cool-timeline.white-timeline.compact .timeline-post.ctl-left.even .icon-color-white,
      .cool-timeline.white-timeline.compact .timeline-post.ctl-left.even .icon-dot-full {
        background: #29b246;
      }

      .cool-timeline.white-timeline.compact .timeline-post.ctl-left.odd .timeline-content .content-title,
      .cool-timeline.white-timeline.compact .timeline-post.ctl-left.odd .icon-color-white,
      .cool-timeline.white-timeline.compact .timeline-post.ctl-left.odd .icon-dot-full {
        background: #ce792f;
      }

      .ultimate-style .timeline-post.timeline-mansory.ctl-left .timeline-content .content-title:after {
        border-left-color: transparent;
      }
    }
  </style>
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-425.disabled_footer_top .footer_top_holder,
    .page-id-425.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/assets/css/index4.css"
  media="all" />

  <style type="text/css" data-type="vc_shortcodes-custom-css">
    .vc_custom_1527655478407 {
      padding-right: 0px !important;
    }

    .vc_custom_1527655481830 {
      padding-left: 0px !important;
    }

    .vc_custom_1527655468465 {
      padding-right: 0px !important;
    }

    .vc_custom_1527655473338 {
      padding-left: 0px !important;
    }
  </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-425  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../partial/header.ejs', { page: 'about', lang: 'en', viPage: '/gioi-thieu.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="/assets/img/gioi-thieu/banner_gioithieu_main.png" alt="&nbsp;" />
              </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1 style="color:#ffffff"><span>About</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  nong_san_tho_row" style=' text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInLeft slideInLeft wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner vc_custom_1527655478407">
                      <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left   nong_san_img_1">
                          <div class="wpb_wrapper">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="994" height="902"
                                src="/assets/img/gioi-thieu/banner_gioithieu.png"
                                class="vc_single_image-img attachment-full" alt=""
                                srcset="/assets/img/gioi-thieu/banner_gioithieu.png 994w, /assets/img/gioi-thieu/banner_gioithieu-300x272.png 300w, /assets/img/gioi-thieu/banner_gioithieu-768x697.png 768w, /assets/img/gioi-thieu/banner_gioithieu-700x635.png 700w"
                                sizes="(max-width: 994px) 100vw, 994px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInRight slideInRight wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner vc_custom_1527655481830">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  nong_san_tho_text">
                          <div class="wpb_wrapper">
                            <h3>Historical development</h3>
                            <p>MINH ANH GROUP (MAG) is a leading company in the field of Trading Agricultural
                              commodities, Premix and Feed additives used in the production of livestock and aqua in
                              Vietnam.</p>
                            <p>MINH ANH GROUP has gradually established its position in the market by becoming the exclusive
                              distributor of major brands in the world such as DSM, Diamond V, Olmix, Massel ...</p>
                            <p>With a strong potential, skilled staff and experience in the livestock industry is a
                              solid foundation for MINH ANH GROUP to develop sustainably and permanently.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  nong_san_tho_row" style=' padding-top: 50px; text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInLeft slideInLeft wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner vc_custom_1527655478407">
                      <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left   nong_san_img_1">
                          <div class="wpb_wrapper">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="994" height="902"
                                src="/assets/img/gioi-thieu/organization_en.png"
                                class="vc_single_image-img attachment-full" alt=""
                                srcset="/assets/img/gioi-thieu/organization_en.png 994w, /assets/img/gioi-thieu/organization_en.png 300w, /assets/img/gioi-thieu/organization_en.png 768w, /assets/img/gioi-thieu/organization_en.png 700w"
                                sizes="(max-width: 994px) 100vw, 994px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInRight slideInRight wpb_column vc_column_container vc_col-sm-6" style="padding-bottom: 20px;">
                    <div class="vc_column-inner vc_custom_1527655481830">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  nong_san_tho_text">
                          <div class="wpb_wrapper">
                            <h3>ORGANIZATIONAL STRUCTURE</h3>
                            <p>Minh Anh Group is a diversified investment corporation with a professional and efficient organizational structure.</p>
                            <p>- The Board of Directors is responsible for supervising and directing the company's strategic development.</p>                          
                            <p>- The CEO leads the company with a strategic vision and strong leadership.</p>
                          </br>
                            <p>- The Project Department is responsible for managing and implementing the company's projects.</p>
                            <p>- The Technical Department focuses on researching, developing, and applying advanced technologies.</p>
                            <p>- The Finance and Accounting Department ensures effective financial management and transparent financial reporting.</p>
                            <p>- The Sales Department builds strong relationships with partners and customers to develop the market.</p>
                            <p>- The Human Resources Department focuses on developing talented human resources and creating a favorable working environment.</p>
                            <p>- The Market Research Department provides valuable market analysis to shape business strategies.</p>
                          </br>
                            <p>With a professional organizational structure and the passion of our team, Minh Anh Group is confident in becoming a leading technology investment company, delivering high value to customers and shareholders.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
               
                
                         
           
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  gia_tri_row grid_section"
                style='background-image:url(/assets/img/gioi-thieu/gia_Tri_cot_loi.png); text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                              <h3 style="text-align: center;">Core values</h3>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner " style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_bottom">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  text_gia_Tri">
                                          <div class="wpb_wrapper">
                                            <h4 style="text-align: center;"><strong class="phr expanded"><img
                                                  class="alignnone size-full wp-image-127"
                                                  src="/assets/img/gioi-thieu/gia_tri_hieu_qua.png"
                                                  alt="" width="94" height="124" /></strong></h4>
                                            <h4 style="text-align: center;"><strong
                                                class="phr expanded">Efficiency</strong></h4>
                                            <p style="text-align: center;">Analysis, research brings effective solutions
                                              to customers under the &#8220;win-win&#8221;</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  text_gia_Tri">
                                          <div class="wpb_wrapper">
                                            <h4 style="text-align: center;"> <img class="alignnone  wp-image-128"
                                                src="/assets/img/gioi-thieu/gia_tri_tien_phong.png"
                                                alt="" width="107" height="109" /></h4>
                                            <h4 style="text-align: center;">Leading</h4>
                                            <p style="text-align: center;">In the way of thinking, guidance and
                                              direction. Always grasp the trend and technology to maximize the benefits
                                              to customers</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  text_gia_Tri">
                                          <div class="wpb_wrapper">
                                            <h4 style="text-align: center;"> <img class="alignnone wp-image-129"
                                                src="/assets/img/gioi-thieu/trach_nhiem.png"
                                                alt="" width="126" height="126" /></h4>
                                            <h4 style="text-align: center;">Responsibility</h4>
                                            <p style="text-align: center;">With community, customers, partners and
                                              employees.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  gia_tri_row su_menh_row grid_section"
                style='background-color:#f4f4f4; text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div
                      class="wpb_animate_when_almost_visible wpb_slideInRight slideInRight wpb_column vc_column_container vc_col-sm-3">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element  su_menh_text">
                            <div class="wpb_wrapper">
                              <h3 style="text-align: center;">Vision</h3>
                              <p style="text-align: center;">To strive to become a leading economic enterprise in the
                                field of supplying products used in agricultural production and husbandry in the
                                Vietnamese market.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_column vc_column_container vc_col-sm-6">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_single_image wpb_content_element vc_align_left">
                            <div class="wpb_wrapper">
                              <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="739" height="1000"
                                  src="/assets/img/gioi-thieu/tam-nhin.jpg"
                                  class="vc_single_image-img attachment-full" alt=""
                                  srcset="/assets/img/gioi-thieu/tam-nhin.jpg 739w, /assets/img/gioi-thieu/tam-nhin-222x300.jpg 222w, /assets/img/gioi-thieu/tam-nhin-700x947.jpg 700w"
                                  sizes="(max-width: 739px) 100vw, 739px" /></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="wpb_animate_when_almost_visible wpb_slideInLeft slideInLeft wpb_column vc_column_container vc_col-sm-3">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element  su_menh_text">
                            <div class="wpb_wrapper">
                              <h3 style="text-align: center;">Mission</h3>
                              <p style="text-align: center;">Providing high quality products at competitive prices,
                                always keeping a good and effective communication bridge between domestic and foreign
                                enterprises.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid "
                style='background-image:url(/assets/img/gioi-thieu/banner_lua.png); text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  nha_cung_cap_text">
                          <div class="wpb_wrapper">
                            <p><img class="alignnone size-full wp-image-35 aligncenter" style="margin-bottom: 30px;"
                                src="/assets/img/gioi-thieu/gia_Tri_cot_loi.png" alt="" width="72" height="72" /></p>
                            <h3 style="text-align: center;">Raising the range of livestock</h3>
                            <h3 style="text-align: center;">Good feed, good food</h3>
                            <p><img class="size-full wp-image-36 aligncenter"
                                src="/assets/img/gioi-thieu/gia_Tri_cot_loi.png" alt="" width="72" height="72" /></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  gia_tri_row su_menh_row thanh_tuu_row grid_section"
                style='background-color:#f4f4f4; text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div
                      class="wpb_animate_when_almost_visible wpb_slideInLeft slideInLeft wpb_column vc_column_container vc_col-sm-6">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element  thanh_tuu_text">
                            <div class="wpb_wrapper">
                              <h3>Achievement</h3>
                              <p>Throughout the course of our activities, we, along with our customers, have developed
                                and pursued intelligent nutrition solutions for the livestock industry in a way that is
                                geared towards the development of our customers&#8217; expectations.<br />
                                With us, the most proud achievement is to receive the trust and confidence of our
                                customers by maintaining over 95% of our customers through each year.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="wpb_animate_when_almost_visible wpb_slideInRight slideInRight wpb_column vc_column_container vc_col-sm-6">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_single_image wpb_content_element vc_align_left">
                            <div class="wpb_wrapper">
                              <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="780" height="920"
                                  src="/assets/img/gioi-thieu/thanh-tuu-e1529468079459.jpg"
                                  class="vc_single_image-img attachment-full" alt="" /></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  couter_home"
                style='background-color:#ffffff; text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  title_doitact_home">
                          <div class="wpb_wrapper">
                            <h3 style="text-align: center;">Strategic partnership</h3>
                          </div>
                        </div>
                        <div class="slider_carusal_gallery_bank">
                          <section class="slider slider_carusal_gallery_bank_content">
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_massel.svg"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_doitac_1-2.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_3.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_2.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_4.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/1.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/4.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo-innov-ad.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo-R2-AGRO.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/orffa-logo.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/jefo-logo.png" alt="" />
                              </figure>
                            </div>
                          </section>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../partial/bodyAssets.ejs') %>
  <script type='text/javascript' src='/assets/js/waypoints.min.js?ver=5.4.7'></script>
  <script type='text/javascript' src='/assets/js/jquery.viewportchecker.js'></script>
  <script type='text/javascript' src='/assets/js/jquery.prettyPhoto.js'></script>
  <script type='text/javascript' src='/assets/js/ctl_scripts.js'></script>
</body>

</html>