<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH TECHNOLOGY INVESTMENT JOINT STOCK COMPANY</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="description"
    content="Thế mạnh đặc biệt của chúng tôi là sự phối hợp để tạo ra các điều kiện kinh doanh dựa vào danh mục khách hàng phong phú. Qua đó, chúng tôi có cơ sở vững chắc để mang đến những giải pháp tối ưu cho từng khách hàng. Với chúng tôi, hiệu quả chính là điều kiện hàng đầu trước khi thực hiện bất kỳ dự án nào." />
  <link rel="canonical" href="/en/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Công Ty" />
  <meta property="og:description"
    content="Thế mạnh đặc biệt của chúng tôi là sự phối hợp để tạo ra các điều kiện kinh doanh dựa vào danh mục khách hàng phong phú. Qua đó, chúng tôi có cơ sở vững chắc để mang đến những giải pháp tối ưu cho từng khách hàng. Với chúng tôi, hiệu quả chính là điều kiện hàng đầu trước khi thực hiện bất kỳ dự án nào." />
  <meta property="og:url" content="/en/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description"
    content="Thế mạnh đặc biệt của chúng tôi là sự phối hợp để tạo ra các điều kiện kinh doanh dựa vào danh mục khách hàng phong phú. Qua đó, chúng tôi có cơ sở vững chắc để mang đến những giải pháp tối ưu cho từng khách hàng. Với chúng tôi, hiệu quả chính là điều kiện hàng đầu trước khi thực hiện bất kỳ dự án nào." />
  <meta name="twitter:title" content="Công Ty" />
  <%- include('../partial/head.ejs') %>
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-829.disabled_footer_top .footer_top_holder,
    .page-id-829.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
</head>

<body data-rsssl=1
  class="home page-template page-template-full_width page-template-full_width-php page page-id-829  qode-title-hidden qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../partial/header.ejs', { page: '', lang: 'en', viPage: '/'}) %>
      <div class="content content_top_margin">
        <div class="content_inner  ">
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid " style=' text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_revslider_element wpb_content_element">
                          <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                            data-source="gallery"
                            style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                            <!-- START REVOLUTION SLIDER 5.4.7.1 fullwidth mode -->
                            <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;"
                              data-version="5.4.7.1">
                              <ul>
                                <!-- SLIDE  -->
                                <li data-index="rs-9" data-transition="fade" data-slotamount="default"
                                  data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                  data-easeout="default" data-masterspeed="300"
                                  data-thumb="/assets/img/index/chuan-anh-1-1-100x50.jpg"
                                  data-delay="5000" data-rotate="0" data-saveperformance="off" data-title="Slide"
                                  data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                                  data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                  data-description="">
                                  <!-- MAIN IMAGE -->
                                  <img src="/assets/img/index/chuan-anh-1-1.jpg"
                                    alt="" title="Sunset &#8211; Summer &#8211; HCM City" width="1920" height="900"
                                    data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                    class="rev-slidebg" data-no-retina>
                                  <!-- LAYERS -->
                                </li>
                                <!-- SLIDE  -->
                                <li data-index="rs-11" data-transition="fade" data-slotamount="default"
                                  data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                  data-easeout="default" data-masterspeed="300"
                                  data-thumb="/assets/img/index/chuan-2-1-100x50.jpg"
                                  data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1=""
                                  data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                                  data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                  <!-- MAIN IMAGE -->
                                  <img src="/assets/img/index/chuan-2-1.jpg" alt=""
                                    title="Fresh and raw chicken eggs on a conveyor belt" width="1920" height="900"
                                    data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                    class="rev-slidebg" data-no-retina>
                                  <!-- LAYERS -->
                                </li>
                                <!-- SLIDE  -->
                                <li data-index="rs-10" data-transition="fade" data-slotamount="default"
                                  data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                  data-easeout="default" data-masterspeed="300"
                                  data-thumb="/assets/img/index/chuan-3-1-100x50.jpg"
                                  data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1=""
                                  data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                                  data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                  <!-- MAIN IMAGE -->
                                  <img src="/assets/img/index/chuan-3-1.jpg" alt=""
                                    title="Cows in a fresh grassy field on a clear day" width="1920" height="900"
                                    data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                    class="rev-slidebg" data-no-retina>
                                  <!-- LAYERS -->
                                </li>
                              </ul>
                              <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                                if (htmlDiv) {
                                  htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                } else {
                                  var htmlDiv = document.createElement("div");
                                  htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                  document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                }
                              </script>
                              <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                            </div>
                            <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                              if (htmlDiv) {
                                htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                              } else {
                                var htmlDiv = document.createElement("div");
                                htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                              }
                            </script>
                            <script type="text/javascript">
                              if (setREVStartSize !== undefined) setREVStartSize(
                                { c: '#rev_slider_2_1', gridwidth: [1150], gridheight: [650], sliderLayout: 'fullwidth' });
                              var revapi2,
                                tpj;
                              (function () {
                                if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad)
                                else
                                  onLoad();
                                function onLoad() {
                                  if (tpj === undefined) {
                                    tpj = jQuery;
                                    if ("off" == "on") tpj.noConflict();
                                  }
                                  if (tpj("#rev_slider_2_1").revolution == undefined) {
                                    revslider_showDoubleJqueryError("#rev_slider_2_1");
                                  } else {
                                    revapi2 = tpj("#rev_slider_2_1").show().revolution({
                                      sliderType: "standard",
                                      jsFileLocation: "//www.viet-acc.com/wp-content/plugins/revslider/public/assets/js/",
                                      sliderLayout: "fullwidth",
                                      dottedOverlay: "none",
                                      delay: 4000,
                                      navigation: {
                                        keyboardNavigation: "off",
                                        keyboard_direction: "horizontal",
                                        mouseScrollNavigation: "off",
                                        mouseScrollReverse: "default",
                                        onHoverStop: "off",
                                        arrows: {
                                          style: "uranus",
                                          enable: true,
                                          hide_onmobile: false,
                                          hide_onleave: false,
                                          tmp: '',
                                          left: {
                                            h_align: "left",
                                            v_align: "center",
                                            h_offset: 0,
                                            v_offset: 0
                                          },
                                          right: {
                                            h_align: "right",
                                            v_align: "center",
                                            h_offset: 0,
                                            v_offset: 0
                                          }
                                        }
                                        ,
                                        bullets: {
                                          enable: true,
                                          hide_onmobile: false,
                                          style: "hermes",
                                          hide_onleave: false,
                                          direction: "horizontal",
                                          h_align: "right",
                                          v_align: "bottom",
                                          h_offset: 30,
                                          v_offset: 20,
                                          space: 5,
                                          tmp: ''
                                        }
                                      },
                                      visibilityLevels: [1240, 1024, 778, 480],
                                      gridwidth: 1150,
                                      gridheight: 650,
                                      lazyType: "none",
                                      shadow: 0,
                                      spinner: "spinner0",
                                      stopLoop: "off",
                                      stopAfterLoops: -1,
                                      stopAtSlide: -1,
                                      shuffle: "off",
                                      autoHeight: "off",
                                      disableProgressBar: "on",
                                      hideThumbsOnMobile: "off",
                                      hideSliderAtLimit: 0,
                                      hideCaptionAtLimit: 0,
                                      hideAllCaptionAtLilmit: 0,
                                      debugMode: false,
                                      fallbacks: {
                                        simplifyAll: "off",
                                        nextSlideOnWindowFocus: "off",
                                        disableFocusListener: false,
                                      }
                                    });
                                  }; /* END OF revapi call */
                                }; /* END OF ON LOAD FUNCTION */
                              }()); /* END OF WRAPPING FUNCTION */
                            </script>
                            <script>
                              var htmlDivCss = unescape("%23rev_slider_2_1%20.uranus.tparrows%20%7B%0A%20%20width%3A50px%3B%0A%20%20height%3A50px%3B%0A%20%20background%3Argba%28255%2C255%2C255%2C0%29%3B%0A%20%7D%0A%20%23rev_slider_2_1%20.uranus.tparrows%3Abefore%20%7B%0A%20width%3A50px%3B%0A%20height%3A50px%3B%0A%20line-height%3A50px%3B%0A%20font-size%3A40px%3B%0A%20transition%3Aall%200.3s%3B%0A-webkit-transition%3Aall%200.3s%3B%0A%20%7D%0A%20%0A%20%20%23rev_slider_2_1%20.uranus.tparrows%3Ahover%3Abefore%20%7B%0A%20%20%20%20opacity%3A0.75%3B%0A%20%20%7D%0A.hermes.tp-bullets%20%7B%0A%7D%0A%0A.hermes%20.tp-bullet%20%7B%0A%20%20%20%20overflow%3Ahidden%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%20%20%20%20width%3A16px%3B%0A%20%20%20%20height%3A16px%3B%0A%20%20%20%20background-color%3A%20rgba%280%2C%200%2C%200%2C%200%29%3B%0A%20%20%20%20box-shadow%3A%20inset%200%200%200%202px%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20%20%20-webkit-transition%3A%20background%200.3s%20ease%3B%0A%20%20%20%20transition%3A%20background%200.3s%20ease%3B%0A%20%20%20%20position%3Aabsolute%3B%0A%7D%0A%0A.hermes%20.tp-bullet%3Ahover%20%7B%0A%09%20%20background-color%3A%20rgba%280%2C0%2C0%2C0.21%29%3B%0A%7D%0A.hermes%20.tp-bullet%3Aafter%20%7B%0A%20%20content%3A%20%27%20%27%3B%0A%20%20position%3A%20absolute%3B%0A%20%20bottom%3A%200%3B%0A%20%20height%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20box-shadow%3A%200%200%201px%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20-webkit-transition%3A%20height%200.3s%20ease%3B%0A%20%20transition%3A%20height%200.3s%20ease%3B%0A%7D%0A.hermes%20.tp-bullet.selected%3Aafter%20%7B%0A%20%20height%3A100%25%3B%0A%7D%0A%0A");
                              var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                              if (htmlDiv) {
                                htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                              }
                              else {
                                var htmlDiv = document.createElement('div');
                                htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                                document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                              }
                            </script>
                          </div><!-- END REVOLUTION SLIDER -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  nong_san_tho_row" style=' text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInLeft slideInLeft wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left   nong_san_img_1">
                          <div class="wpb_wrapper">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1034" height="676"
                                src="/assets/img/index/about_home.png"
                                class="vc_single_image-img attachment-full" alt=""
                                srcset="/assets/img/index/about_home.png 1034w, /assets/img/index/about_home-300x196.png 300w, /assets/img/index/about_home-768x502.png 768w, /assets/img/index/about_home-1024x669.png 1024w, /assets/img/index/about_home-700x458.png 700w"
                                sizes="(max-width: 1034px) 100vw, 1034px" /></div>
                          </div>
                        </div>
                        <div class="wpb_single_image wpb_content_element vc_align_left   nong_san_img_2">
                          <div class="wpb_wrapper">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="800" height="560"
                                src="/assets/img/index/iStock_487525682-e1529470879149.jpg"
                                class="vc_single_image-img attachment-full" alt="" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInRight slideInRight wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="Slider_home_product">
                          <div class='slider_product_home'>
                            <div class="slick-item">
                              <div class="nong_san_tho_text">
                                <h3>FEED COMMODITIES</h3>
                                <p>Providing domestic and foreign commodities for using in the livestock and aqua feed
                                  manufacturing industry, product groups including Animal Protein, Vegetable Protein,
                                  Marine, Dairy and other complementary products in line with technology and Production
                                  standards for animal feed in Vietnam.</p>
                                <a class="button_learmore"
                                  href="/en/product/nguyen-lieu-thuc-pham-my-pham-en.html">Xem thêm</a>
                              </div>
                            </div>
                            <div class="slick-item">
                              <div class="nong_san_tho_text">
                                <h3>RAW MATERIALS &#8211; COSMETICS</h3>
                                <p>With a wide network, we diversify the group of raw materials used for food production
                                  - cosmetics at reasonable prices suitable to the conditions of food production and
                                  cosmetics in Vietnam.</p>
                                <a class="button_learmore"
                                  href="/en/product/nguyen-lieu-thuc-pham-my-pham-en.html">Xem thêm</a>
                              </div>
                            </div>
                            <div class="slick-item">
                              <div class="nong_san_tho_text">
                                <h3>PRODUCTS FOR FARM SITE</h3>
                                <p>The high-quality product range for small to large-scale farm systems includes
                                  alternative milk replacers, nutrients to support disease management, improved survival
                                  and optimum livestock productivity.</p>
                                <a class="button_learmore"
                                  href="/en/product/san-pham-dung-cho-trang-trai-en.html">Xem thêm</a>
                              </div>
                            </div>
                            <div class="slick-item">
                              <div class="nong_san_tho_text">
                                <h3>FEED ADDITIVES</h3>
                                <p>Providing animal feed additives from the world's leading additive brands, they are
                                  designed to optimize costs and maximize animal productivity, creating a sustainable
                                  competitive advantage for the product.</p>
                                <a class="button_learmore"
                                  href="/en/product/phu-gia-chan-nuoi-en.html">Xem thêm</a>
                              </div>
                            </div>
                            <div class="slick-item">
                              <div class="nong_san_tho_text">
                                <h3>MINERALS &#038; VITAMIN PREMIX</h3>
                                <p>Providing a range of the Premix - Vitamins are produced in the world's most advanced
                                  technology - They are designed to optimize cost and performance of livestock, in line
                                  with the environment and the technology of producing feeds. farming in Vietnam.</p>
                                <a class="button_learmore"
                                  href="/en/product/premix-vitamin-khoang-en.html">Xem thêm</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element  nong_san_tho_text">
                          <div class="wpb_wrapper">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid "
                style='background-image:url(/assets/img/index/banner_cungcap_nong-_san.png); text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  nha_cung_cap_text">
                          <div class="wpb_wrapper">
                            <p><img class="alignnone size-full wp-image-35 aligncenter" style="margin-bottom: 30px;"
                                src="/assets/img/index/quote_1.png" alt="" width="72"
                                height="72" /></p>
                            <h3 style="text-align: center;">Distributor of Commodities &#8211; Premix &#8211; Feed
                              Additives<br />
                              Vietnam&#8217;s leading Feed</h3>
                            <p><img class="size-full wp-image-36 aligncenter"
                                src="/assets/img/index/quote_2.png" alt="" width="72"
                                height="72" /></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  chuoi_gia_tri_home_row grid_section"
                style=' text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div
                      class="wpb_animate_when_almost_visible wpb_slideInRight slideInRight wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element  chuoi_gia_tri_title">
                            <div class="wpb_wrapper">
                              <h3 style="text-align: center;">A Range of Value</h3>
                              <p style="text-align: center;">At MINH ANH GROUP, we are always pursuing sustainable development
                                strategies, striving to reach the highest standards in the field of commerce to bring
                                outstanding value to our customers and partners.</p>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  text_chuoi_gia_tri">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-full wp-image-43"
                                                src="/assets/img/index/chuoi_gia_Tri_icon_1.png"
                                                alt="" width="180" height="180"
                                                srcset="/assets/img/index/chuoi_gia_Tri_icon_1.png 180w, /assets/img/index/chuoi_gia_Tri_icon_1-150x150.png 150w"
                                                sizes="(max-width: 180px) 100vw, 180px" /></p>
                                            <h3>Material Source</h3>
                                            <p>With our extensive network of partners, we have built up our quality
                                              products with the right standards in order to contribute to the stable and
                                              long-lasting supply of raw materials for manufacturers in Vietnam.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/index/img_chuoi_1.jpg"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/index/img_chuoi_1.jpg 792w, /assets/img/index/img_chuoi_1-300x234.jpg 300w, /assets/img/index/img_chuoi_1-768x599.jpg 768w, /assets/img/index/img_chuoi_1-700x546.jpg 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row display_mobile"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  text_chuoi_gia_tri">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-full wp-image-48"
                                                src="/assets/img/index/chuoi_gia_Tri_icon_2-1.png"
                                                alt="" width="195" height="195"
                                                srcset="/assets/img/index/chuoi_gia_Tri_icon_2-1.png 195w, /assets/img/index/chuoi_gia_Tri_icon_2-1-150x150.png 150w"
                                                sizes="(max-width: 195px) 100vw, 195px" /></p>
                                            <h3>Optimal solution<br />
                                              for each customers</h3>
                                            <p>Our unique strengths are synergies to create business conditions based on
                                              a rich client portfolio. Thereby, we have a solid basis to bring optimal
                                              solutions for each customer. For us, efficiency is the first priority
                                              before any project.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/index/img_chuoi_2.jpg"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/index/img_chuoi_2.jpg 792w, /assets/img/index/img_chuoi_2-300x234.jpg 300w, /assets/img/index/img_chuoi_2-768x599.jpg 768w, /assets/img/index/img_chuoi_2-700x546.jpg 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row chuoi_detail_row_left display_desktop"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_right">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/index/img_chuoi_2.jpg"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/index/img_chuoi_2.jpg 792w, /assets/img/index/img_chuoi_2-300x234.jpg 300w, /assets/img/index/img_chuoi_2-768x599.jpg 768w, /assets/img/index/img_chuoi_2-700x546.jpg 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  text_chuoi_gia_tri">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-full wp-image-48"
                                                src="/assets/img/index/chuoi_gia_Tri_icon_2-1.png"
                                                alt="" width="195" height="195"
                                                srcset="/assets/img/index/chuoi_gia_Tri_icon_2-1.png 195w, /assets/img/index/chuoi_gia_Tri_icon_2-1-150x150.png 150w"
                                                sizes="(max-width: 195px) 100vw, 195px" /></p>
                                            <h3>Optimal solution<br />
                                              for each customers</h3>
                                            <p>Our unique strengths are synergies to create business conditions based on
                                              a rich client portfolio. Thereby, we have a solid basis to bring optimal
                                              solutions for each customer. For us, efficiency is the first priority
                                              before any project.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  text_chuoi_gia_tri">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-full wp-image-50"
                                                src="/assets/img/index/chuoi_gia_Tri_icon_3.png"
                                                alt="" width="192" height="186" /></p>
                                            <h3>Human in MINH ANH GROUP</h3>
                                            <p>Not only are we meeting the needs of our customers, we also actively
                                              support our customers and partners in fulfilling their expectations, which
                                              MINH ANH GROUP has been doing for the last 10 years.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/index/img_chuoi_3.jpg"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/index/img_chuoi_3.jpg 792w, /assets/img/index/img_chuoi_3-300x234.jpg 300w, /assets/img/index/img_chuoi_3-768x599.jpg 768w, /assets/img/index/img_chuoi_3-700x546.jpg 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  couter_home grid_section"
                style='background-image:url(/assets/img/index/banner_count_down.png); text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
      
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="q_counter_holder  left boxed_counter" style=""><span class="counter  zero"
                              style="">5%</span><span class="separator small" style=""></span></div>
                          <div class="wpb_text_column wpb_content_element  text_counter">
                            <div class="wpb_wrapper">
                              <p>Economic<br />
                                growth rate</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="q_counter_holder  left boxed_counter" style=""><span class="counter  zero"
                              style="">100</span><span class="separator small" style=""></span></div>
                          <div class="wpb_text_column wpb_content_element  text_counter">
                            <div class="wpb_wrapper">
                              <p>Partners<br />
                                all the country</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="q_counter_holder  left boxed_counter" style=""><span class="counter  zero"
                              style="">85%</span><span class="separator small" style=""></span></div>
                          <div class="wpb_text_column wpb_content_element  text_counter">
                            <div class="wpb_wrapper">
                              <p>In total customers<br />
                                sticking over 3 years</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  couter_home"
                style='background-color:#ffffff; text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  title_doitact_home">
                          <div class="wpb_wrapper">
                            <h3 style="text-align: center;">Strategic partnership</h3>
                          </div>
                        </div>
                        <div class="slider_carusal_gallery_bank">
                          <section class="slider slider_carusal_gallery_bank_content">
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_massel.svg"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_doitac_1-2.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_3.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_2.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo_4.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/1.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/4.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo-innov-ad.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/logo-R2-AGRO.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/orffa-logo.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="/assets/img/doi-tac-chien-luoc/jefo-logo.png" alt="" />
                              </figure>
                            </div>
                          </section>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <script type="text/javascript">
    function revslider_showDoubleJqueryError(sliderID) {
      var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
      errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
      errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
      errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
      errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
      jQuery(sliderID).show().html(errorMessage);
    }
  </script>

  <%- include('../partial/bodyAssets.ejs') %>
  <script type='text/javascript' src='/assets/js/waypoints.min.js?ver=5.4.7'></script>
</body>

</html>