<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH TECHNOLOGY INVESTMENT JOINT STOCK COMPANY - NEWS &amp; EVENTS</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/en/news-events/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="News &amp; Events" />
  <meta property="og:url" content="/en/news-events/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="News &amp; Events" />
  <%- include('../partial/head.ejs') %>
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-452.disabled_footer_top .footer_top_holder,
    .page-id-452.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-452  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../partial/header.ejs', { page: 'news-events', lang: 'en' , viPage: '/tin-tuc-su-kien.html'}) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="/assets/img/tin-tuc-su-kien/banner-1.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1 style="color:#ffffff"><span>News &#038; Events</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  couter_home grid_section"
                style='background-color:#ffffff; text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../partial/bodyAssets.ejs') %>
</body>

</html>