<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>MINH ANH AGRICULTURAL INVESTMENT JOINT STOCK COMPANY - PRODUCTS</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

  <link rel="canonical" href="/en/product/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Products" />
  <meta property="og:url" content="/en/product/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Products" />
  <%- include('../partial/head.ejs') %>
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-429.disabled_footer_top .footer_top_holder,
    .page-id-429.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-429 page-parent  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('../partial/header.ejs', { page: 'product', lang: 'en', viPage: '/san-pham.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="/assets/img/san-pham/banner_sanpham.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1 style="color:#ffffff"><span>Products</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  chuoi_gia_tri_home_row grid_section"
                style=' text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3>FEED COMMODITIES</h3>
                                            <p>Providing domestic and foreign commodities for using in the livestock and
                                              aqua feed manufacturing industry, product groups including Animal Protein,
                                              Vegetable Protein, Marine, Dairy and other complementary products in line
                                              with technology and Production standards for animal feed in Vietnam.<br />
                                              <a class="button_learmore"
                                                href="../en/product/nong-san-nguyen-lieu-tho-en.html">LEARN
                                                MORE</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/san-pham/sanpham1.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/san-pham/sanpham1.png 792w, /assets/img/san-pham/sanpham1-300x234.png 300w, /assets/img/san-pham/sanpham1-768x599.png 768w, /assets/img/san-pham/sanpham1-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_right">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3 style="text-align: center;">MINERALS &amp; VITAMINS<br />
                                              PREMIX</h3>
                                            <p>Providing a range of the Minerals and Vitamins are produced in the
                                              world&#8217;s most advanced technology &#8211; They are designed to
                                              optimize cost and performance of livestock, in line with the environment
                                              and the technology of producing feeds. farming in Vietnam.<br />
                                              <a class="button_learmore"
                                                href="../en/product/premix-vitamin-khoang-en.html">LEARN
                                                MORE</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1205"
                                                height="748"
                                                src="/assets/img/san-pham/aqsc-01-01-01.jpg"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/san-pham/aqsc-01-01-01.jpg 1205w, /assets/img/san-pham/aqsc-01-01-01-300x186.jpg 300w, /assets/img/san-pham/aqsc-01-01-01-768x477.jpg 768w, /assets/img/san-pham/aqsc-01-01-01-1024x636.jpg 1024w, /assets/img/san-pham/aqsc-01-01-01-700x435.jpg 700w"
                                                sizes="(max-width: 1205px) 100vw, 1205px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3>FEED ADDITIVES</h3>
                                            <p>Providing animal feed additives from the world&#8217;s leading additive
                                              brands, they are designed to optimize costs and maximize animal
                                              productivity, creating a sustainable competitive advantage for the
                                              product.<br />
                                              <a class="button_learmore"
                                                href="../en/product/phu-gia-chan-nuoi-en.html">LEARN
                                                MORE</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/san-pham/sanpham3.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/san-pham/sanpham3.png 792w, /assets/img/san-pham/sanpham3-300x234.png 300w, /assets/img/san-pham/sanpham3-768x599.png 768w, /assets/img/san-pham/sanpham3-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_right">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3 style="text-align: center;">PRODUCTS<br />
                                              FOR FARM SITE</h3>
                                            <p>The high-quality product range for small to large-scale farm systems
                                              includes alternative milk replacers, nutrients to support disease
                                              management, improved survival and optimum livestock productivity.<br />
                                              <a class="button_learmore"
                                                href="../en/product/san-pham-dung-cho-trang-trai-en.html">LEARN
                                                MORE</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/san-pham/sanpham4.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/san-pham/sanpham4.png 792w, /assets/img/san-pham/sanpham4-300x234.png 300w, /assets/img/san-pham/sanpham4-768x599.png 768w,/assets/img/san-pham/sanpham4-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3>RAW MATERIAL<br />
                                              FOOD &#8211; COSMETIC</h3>
                                            <p>With a wide network, we diversify the group of raw materials used for
                                              food production &#8211; cosmetics at reasonable prices suitable to the
                                              conditions of food production and cosmetics in Vietnam.<br />
                                              <a class="button_learmore"
                                                href="../en/product/nguyen-lieu-thuc-pham-my-pham-en.html">LEARN
                                                MORE</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="/assets/img/san-pham/sanpham5.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="/assets/img/san-pham/sanpham5.png 792w, /assets/img/san-pham/sanpham5-300x234.png 300w, /assets/img/san-pham/sanpham5-768x599.png 768w, /assets/img/san-pham/sanpham5-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('../partial/footer.ejs', {lang: 'en'}) %>
    </div>
  </div>
  <%- include('../partial/bodyAssets.ejs') %>
</body>

</html>