<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH - DỰ ÁN</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/bat-dong-san/" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Dự án" />
  <meta property="og:url" content="/bat-dong-san/" />
  <meta property="og:site_name" content="Minh Anh Group" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Dự án" />
  <%- include('partial/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/bds.css">
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-97.disabled_footer_top .footer_top_holder,
    .page-id-97.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
</head>

<body data-rsssl=1
  class="page-project page-template page-template-full_width page-template-full_width-php page page-id-97 page-parent  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('partial/header.ejs', { page: 'bat-dong-san', lang: 'vi', engPage: 'en/project.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" style="height: 120px;" data-height="180">
         
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  chuoi_gia_tri_home_row grid_section"
                style=' text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="project-list wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <h2 class="title_header">DỰ ÁN BẤT ĐỘNG SẢN NHÀ ĐẤT VIỆT NAM 2023</h2>
                          <div class="br_line"><img src="/assets/img/bds/line.png" alt="icon line"></div>
                          <div class="services_text"><p style="text-align: justify;">Tổng hợp danh sách các dự án bất động sản, dự án căn hộ chung cư giá rẻ, dự án cao cấp mới nhất 2023. Tại đây <span style="color:#ff0000;"><strong>
                            CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH</strong></span> cung cấp đầy đủ tất cả thông tin về chủ đầu tư dự án, pháp lý, tiến độ xây dựng kèm theo bảng giá bán chi tiết của dự án nhà ở cập nhật mới nhất năm 2023.</p></div>
                          <div class="row project-layout">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="single-property"> <span>Đang triển khai</span>
                                <div class="property-img"> <a
                                    href="/bds/minh-anh-park-hill-cu-chi.html"><img
                                      src="/assets/img/bds/vinhomes-golden-avenue-31-370x290.jpg"
                                      alt="Vinhomes Golden Avenue Móng Cái "></a>
                                  <div class="logo-caption"><span></span></div>
                                  <div class="property-desc-top">
                                    <h2><a class="name_product"
                                        href="/bds/minh-anh-park-hill-cu-chi.html">Minh Anh Park Hill Củ Chi </a></h2>
                                    <div class="property-location">
                                      <p>Củ Chi</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="property-desc">
                                  <p>Minh Anh Park Hill Củ Chi, siêu phẩm mới của chủ đầu tư Minh Anh triển khai xây
                                    dựng tại khu...</p>
                                  <div class="property-desc-bottom">
                                    <div class="property-bottom-list">
                                      <ul>
                                        <li> <img src="/assets/img/bds/icon-6.png" alt="icon dien tich" /> <span>50-200m2</span> </li>
                                        <li> <img src="/assets/img/bds/icon-7.png" alt="icon phong ngu" /> <span>2-4</span> </li>
                                        <li> <img src="/assets/img/bds/icon-8.png" alt="icon phong tam" /> <span>1-3</span> </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="property-meta">
                                    <div class="row">
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="price">Đang cập nhật</div>
                                      </div>
                                      <div class="col-md-6 col-sm-6 col-xs-6"> <a
                                          href="/bds/minh-anh-park-hill-cu-chi.html">Xem chi tiết</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="single-property"> <span>Đang triển khai</span>
                                <div class="property-img"> <a href="/bds/minh-anh-park-hill-cu-chi.html"><img
                                      src="/assets/img/bds/glory-heights-31-370x290.jpg" alt="Glory Heights "></a>
                                  <div class="logo-caption"><span></span></div>
                                  <div class="property-desc-top">
                                    <h2><a class="name_product" href="/bds/minh-anh-park-hill-cu-chi.html">Minh Anh Park Hill Hóc Môn
                                      </a></h2>
                                    <div class="property-location">
                                      <p>Hóc Môn</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="property-desc">
                                  <p>Minh Anh Park Hill Hóc Môn - Đỉnh cao Vinh Quang cho cuộc sống sang trọng, tinh tế giao thoa
                                    cùng sự đẳng cấp. </p>
                                  <div class="property-desc-bottom">
                                    <div class="property-bottom-list">
                                      <ul>
                                        <li> <img src="/assets/img/bds/icon-6.png" alt="icon dien tich" /> <span>27– 103m2</span> </li>
                                        <li> <img src="/assets/img/bds/icon-7.png" alt="icon phong ngu" /> <span>1-3</span> </li>
                                        <li> <img src="/assets/img/bds/icon-8.png" alt="icon phong tam" /> <span>1-2</span> </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="property-meta">
                                    <div class="row">
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="price">52 triệu đồng/m2</div>
                                      </div>
                                      <div class="col-md-6 col-sm-6 col-xs-6"> <a
                                          href="/bds/minh-anh-park-hill-cu-chi.html">Xem chi tiết</a> </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div> -->
                            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="single-property"> <span>Đang triển khai xây dựng</span>
                                <div class="property-img"> <a href="/bds/minh-anh-park-hill-cu-chi.html"><img
                                      src="/assets/img/bds/ecopark-nhon-trach-dong-nai-31-370x290.jpg"
                                      alt="Eco Village Saigon River"></a>
                                  <div class="logo-caption"><span></span></div>
                                  <div class="property-desc-top">
                                    <h2><a class="name_product"
                                        href="/bds/minh-anh-park-hill-cu-chi.html">Minh Anh Park Hill Bình Thuận</a></h2>
                                    <div class="property-location">
                                      <p>Bình Thuận</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="property-desc">
                                  <p> Minh Anh Park Hill Bình Thuận - công trình sinh thái với tổng diện tích 55 ha của tập đoàn Minh Anh cung cấp
                                    đa dạng...</p>
                                  <div class="property-desc-bottom">
                                    <div class="property-bottom-list">
                                      <ul>
                                        <li> <img src="/assets/img/bds/icon-6.png" alt="icon dien tich" /> <span></span> </li>
                                        <li> <img src="/assets/img/bds/icon-7.png" alt="icon phong ngu" /> <span>1-4</span> </li>
                                        <li> <img src="/assets/img/bds/icon-8.png" alt="icon phong tam" /> <span>1-3</span> </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="property-meta">
                                    <div class="row">
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="price">Đang cập nhật</div>
                                      </div>
                                      <div class="col-md-6 col-sm-6 col-xs-6"> <a
                                          href="/bds/minh-anh-park-hill-cu-chi.html">Xem chi tiết</a> </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div> -->
                          </div>
                          <!-- <ul class="pagination-box">
                            <li class="active"><a class="active" href="javascript:void(0);">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">&gt;</a></li>
                            <li><a href="#">Cuối</a></li>
                          </ul> -->
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring">
          <div class="hotline-phone-ring-circle"></div>
          <div class="hotline-phone-ring-circle-fill"></div>
          <div class="hotline-phone-ring-img-circle"> <a href="tel:xxxxxxxx" class="pps-btn-img"> <img
                src="/assets/img/bds/icon-call.png" alt="Gọi điện thoại" width="50" height="50" /> </a>
          </div>
        </div>
        <div class="hotline-bar"> <a href="tel:xxxxxxxx"><span class="text-hotline">xxxxxxxx</span></a> </div>
      </div> -->
      <%- include('partial/footer.ejs', {lang: 'vi'}) %>
    </div>
  </div>
  <%- include('partial/bodyAssets.ejs') %>
</body>

</html>