<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH - DỰ ÁN BĐS</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/san-pham/" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Sản Phẩm" />
  <meta property="og:url" content="/san-pham/" />
  <meta property="og:site_name" content="Minh Anh Group" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Sản Phẩm" />
  <%- include('partial/head.ejs') %>
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-97.disabled_footer_top .footer_top_holder,
    .page-id-97.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-97 page-parent  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('partial/header.ejs', { page: 'bat-dong-san', lang: 'vi', engPage: 'en/bat-dong-san-en.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="assets/img/san-pham/banner_sanpham.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1 style="color:#ffffff"><span>Sản Phẩm</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  chuoi_gia_tri_home_row grid_section"
                style=' text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3 style="text-align: center;">NGUYÊN LIỆU<br />
                                              THỨC ĂN CHĂN NUÔI</h3>
                                            <p>Cung cấp nguồn nguyên liệu trong và ngoài nước sử dụng trong ngành sản
                                              xuất thức ăn chăn nuôi, các nhóm sản phẩm gồm: Đạm động vật, Đạm thực vật,
                                              Marine, Dairy và các sản phẩm bổ trợ khác phù hợp với công nghệ và tiêu
                                              chuẩn sản xuất Thức ăn chăn nuôi tại Việt Nam.<br />
                                              <a class="button_learmore"
                                                href="../san-pham/nong-san-nguyen-lieu-tho.html">TÌM HIỂU THÊM</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/san-pham/sanpham1.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/san-pham/sanpham1.png 792w, assets/img/san-pham/sanpham1-300x234.png 300w, assets/img/san-pham/sanpham1-768x599.png 768w, assets/img/san-pham/sanpham1-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row chuoi_detail_row_left display_desktop"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_right">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1205"
                                                height="748"
                                                src="assets/img/san-pham/aqsc-01-01-01.jpg"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/san-pham/aqsc-01-01-01.jpg 1205w, assets/img/san-pham/aqsc-01-01-01-300x186.jpg 300w, assets/img/san-pham/aqsc-01-01-01-768x477.jpg 768w, assets/img/san-pham/aqsc-01-01-01-1024x636.jpg 1024w, assets/img/san-pham/aqsc-01-01-01-700x435.jpg 700w"
                                                sizes="(max-width: 1205px) 100vw, 1205px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3>PREMIX VITAMIN &#8211; KHOÁNG</h3>
                                            <p>Cung cấp nhóm sản phẩm Premix &#8211; Vitamin được sản xuất theo công
                                              nghệ tiên tiến hàng đầu thế giới &#8211; chúng được thiết kế nhằm tối ưu
                                              hóa chi phí và năng suất vật nuôi, phù hợp với môi trường và công nghệ sản
                                              xuất thức ăn chăn nuôi tại Việt Nam.<br />
                                              <a class="button_learmore"
                                                href="../san-pham/premix-vitamin-khoang.html">TÌM HIỂU
                                                THÊM</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row display_mobile"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3>Premix</h3>
                                            <p>Cung cấp nguồn nguyên liệu trong và ngoài nước sử dụng trong ngành sản
                                              xuất thức ăn chăn nuôi, các nhóm sản phẩm gồm: Đạm động vật, Đạm thực vật,
                                              Marine, Dairy và các sản phẩm bổ trợ khác phù hợp với tiêu chuẩn sản xuất
                                              Thức ăn chăn nuôi tại Việt Nam.<br />
                                              <a class="button_learmore" href="../san-pham/premix-vitamin-khoang.html">TÌM HIỂU
                                                THÊM</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/san-pham/sanpham2-768x599.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/san-pham/sanpham2-768x599.png 792w, assets/img/san-pham/sanpham2-300x234.png 300w, assets/img/san-pham/sanpham2-768x599.png 768w, assets/img/san-pham/sanpham2-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3>PHỤ GIA CHĂN NUÔI</h3>
                                            <p>Cung cấp nhóm sản phẩm phụ gia chăn nuôi từ những thương hiệu phụ gia
                                              hàng đầu thế giới, chúng được thiết kế nhằm tối ưu hóa chi phí và tối đa
                                              hóa năng suất vật nuôi, tạo lợi thế cạnh tranh bền vững cho sản
                                              phẩm.<br />
                                              <a class="button_learmore" href="../san-pham/phu-gia-chan-nuoi.html">TÌM HIỂU
                                                THÊM</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/san-pham/sanpham3.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/san-pham/sanpham3.png 792w, assets/img/san-pham/sanpham3-300x234.png 300w, assets/img/san-pham/sanpham3-768x599.png 768w, assets/img/san-pham/sanpham3-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row chuoi_detail_row_left display_desktop"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_right">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/san-pham/sanpham4.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/san-pham/sanpham4.png 792w, assets/img/san-pham/sanpham4-300x234.png 300w, assets/img/san-pham/sanpham4-768x599.png 768w, assets/img/san-pham/sanpham4-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3 style="text-align: center;">SẢN PHẨM<br />
                                              DÙNG CHO TRANG TRẠI</h3>
                                            <p>Nhóm sản phẩm chất lượng cao chuyên sử dụng cho hệ thống trại thương phẩm
                                              bao gồm nhóm sữa thay thế, béo thoát qua (fat by-pass), chất dinh dưỡng hỗ
                                              trợ điều trị bệnh, nâng cao tỷ lệ sống và tối ưu năng suất chăn
                                              nuôi.<br />
                                              <a class="button_learmore"
                                                href="../san-pham/san-pham-dung-cho-trang-trai.html">TÌM HIỂU THÊM</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row display_mobile"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3>SẢN PHẨM<br />
                                              DÙNG CHO TRANG TRẠI</h3>
                                            <p>Nhóm sản phẩm chất lượng cao chuyên sử dụng cho hệ thống trại thương phẩm
                                              bao gồm nhóm sữa thay thế, chất dinh dưỡng hỗ trợ điều trị bệnh, nâng cao
                                              tỷ lệ sống và tối ưu năng suất chăn nuôi.<br />
                                              <a class="button_learmore"
                                                href="../san-pham/san-pham-dung-cho-trang-trai.html">TÌM HIỂU THÊM</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/san-pham/sanpham4.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/san-pham/sanpham4.png 792w, assets/img/san-pham/sanpham4-300x234.png 300w, assets/img/san-pham/sanpham4-768x599.png 768w, assets/img/san-pham/sanpham4-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri san_pham_text">
                                          <div class="wpb_wrapper">
                                            <h3 style="text-align: center;">NGUYÊN LIỆU<br />
                                              THỰC PHẨM &#8211; MỸ PHẨM</h3>
                                            <p>Với mạng lưới rộng khắp, chúng tôi đa dạng về nhóm nguyên liệu dùng cho
                                              sản xuất Thực phẩm &#8211; Mỹ phẩm với mức giá hợp lý, phù hợp với điều
                                              kiện sản xuất Thực phẩm và Mỹ phẩm tại Việt Nam.<br />
                                              <a class="button_learmore"
                                                href="../san-pham/nguyen-lieu-thuc-pham-my-pham.html">TÌM HIỂU THÊM</a>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/san-pham/sanpham5.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/san-pham/sanpham5.png 792w, assets/img/san-pham/sanpham5-300x234.png 300w, assets/img/san-pham/sanpham5-768x599.png 768w, assets/img/san-pham/sanpham5-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('partial/footer.ejs', {lang: 'vi'}) %>
    </div>
  </div>
  <%- include('partial/bodyAssets.ejs') %>
</body>

</html>