<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>CÔNG TY CỔ PHẦN ĐẦU TƯ NÔNG NGHIỆP MINH ANH - ĐỐI TÁC CHIẾN LƯỢC</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/doi-tac-chien-luoc/" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Đối Tác Chiến Lược" />
  <meta property="og:url" content="/doi-tac-chien-luoc/" />
  <meta property="og:site_name" content="" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Đối Tác Chiến Lược" />
  <%- include('partial/head.ejs') %>
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-73.disabled_footer_top .footer_top_holder,
    .page-id-73.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-73  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('partial/header.ejs', { page: 'doi-tac-chien-luoc', lang: 'vi', engPage: 'en/partner.html'}) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="assets/img/doi-tac-chien-luoc/banner.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1 style="color:#ffffff"><span>Đối Tác Chiến Lược</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  chuoi_gia_tri_home_row grid_section"
                style=' text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri doitac_gia_Tri_text">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-medium wp-image-78"
                                                src="assets/img/doi-tac-chien-luoc/logo_massel.svg" alt=""
                                                width="300" height="141"
                                                srcset="assets/img/doi-tac-chien-luoc/logo_massel.svg 300w, assets/img/doi-tac-chien-luoc/logo_massel.svg 369w"
                                                sizes="(max-width: 300px) 100vw, 300px" /></p>
                                            <h3>MASSEL - AUSTRALIA</h3>
                                            <p>Năm 2023, <strong>Minh Anh Group</strong> chính thức trở thành đối tác chiến
                                              lược của <strong>Massel</strong> trong việc phân phối nhóm sản phẩm không chứa gluten, lactose và các chất béo động vật, phù hợp với người ăn chay và người thuần ăn chay.</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/doi-tac-chien-luoc/logo_massel.svg"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/doi-tac-chien-luoc/product_massel.jpg 792w, assets/img/doi-tac-chien-luoc/product_massel.jpg 300w, assets/img/doi-tac-chien-luoc/product_massel.jpg 768w, assets/img/doi-tac-chien-luoc/product_massel.jpg 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_right">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri doitac_gia_Tri_text">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-medium wp-image-78"
                                                src="assets/img/doi-tac-chien-luoc/doitact_logo_1-300x141.png" alt=""
                                                width="300" height="141"
                                                srcset="assets/img/doi-tac-chien-luoc/doitact_logo_1-300x141.png 300w, assets/img/doi-tac-chien-luoc/doitact_logo_1.png 369w"
                                                sizes="(max-width: 300px) 100vw, 300px" /></p>
                                            <h3>DSM &#8211; HÀ LAN</h3>
                                            <p>Năm 2022, <strong>Minh Anh Group</strong> chính thức trở thành đối tác chiến
                                              lược của <strong>DSM</strong> trong việc phân phối nhóm sản phẩm Animal
                                              Nutrition tại thị trường Việt Nam</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/doi-tac-chien-luoc/doitact_1.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/doi-tac-chien-luoc/doitact_1.png 792w, assets/img/doi-tac-chien-luoc/doitact_1-300x234.png 300w, assets/img/doi-tac-chien-luoc/doitact_1-768x599.png 768w, assets/img/doi-tac-chien-luoc/doitact_1-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri doitac_gia_Tri_text">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-medium wp-image-80"
                                                src="assets/img/doi-tac-chien-luoc/doitact_logo_2-300x300.png" alt=""
                                                width="300" height="300"
                                                srcset="assets/img/doi-tac-chien-luoc/doitact_logo_2-300x300.png 300w, assets/img/doi-tac-chien-luoc/doitact_logo_2-150x150.png 150w, assets/img/doi-tac-chien-luoc/doitact_logo_2.png 360w"
                                                sizes="(max-width: 300px) 100vw, 300px" /></p>
                                            <h3>DIAMOND V &#8211; HOA KỲ</h3>
                                            <p>Năm 2022, <strong>Minh Anh Group</strong> trở thành nhà phân phối chính thức và
                                              duy nhất cung cấp nhóm sản phẩm Species-Specific và Original Line cho
                                              thương hiệu <strong>DIAMOND V</strong> tại Việt Nam</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="792"
                                                height="618"
                                                src="assets/img/doi-tac-chien-luoc/doitact_2.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="assets/img/doi-tac-chien-luoc/doitact_2.png 792w, assets/img/doi-tac-chien-luoc/doitact_2-300x234.png 300w, assets/img/doi-tac-chien-luoc/doitact_2-768x599.png 768w, assets/img/doi-tac-chien-luoc/doitact_2-700x546.png 700w"
                                                sizes="(max-width: 792px) 100vw, 792px" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_row wpb_row section vc_row-fluid vc_inner  chuoi_detail_row"
                            style=' text-align:left;'>
                            <div class=" full_section_inner clearfix">
                              <div class="  element_from_left">
                                <div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div
                                          class="wpb_text_column wpb_content_element  text_chuoi_gia_tri doitac_gia_Tri_text">
                                          <div class="wpb_wrapper">
                                            <p><img class="alignnone size-medium wp-image-79"
                                                src="assets/img/doi-tac-chien-luoc/doitact_logo_3-300x289.png" alt=""
                                                width="300" height="289"
                                                srcset="assets/img/doi-tac-chien-luoc/doitact_logo_3-300x289.png 300w, assets/img/doi-tac-chien-luoc/doitact_logo_3.png 324w"
                                                sizes="(max-width: 300px) 100vw, 300px" /></p>
                                            <h3>OLMIX &#8211; PHÁP</h3>
                                            <p>Năm 2022, <strong>Minh Anh Group</strong> hợp tác chiến lược cùng OLMIX trong
                                              việc phân phối nhóm sản phẩm Animal Care cho tập đoàn
                                              <strong>OLMIX</strong> tại Việt Nam</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                      <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                          <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="440"
                                                height="343"
                                                src="assets/img/doi-tac-chien-luoc/doitact_3-e1529392504214.png"
                                                class="vc_single_image-img attachment-full" alt="" /></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid "
                style='background-image:url(assets/img/doi-tac-chien-luoc/banner_doitac.png); text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  nha_cung_cap_text">
                          <div class="wpb_wrapper">
                            <p><img class="alignnone size-full wp-image-35 aligncenter" style="margin-bottom: 30px;"
                                src="assets/img/index/quote_1.png" alt="" width="72" height="72" /></p>
                            <h3 style="text-align: center;">Kết nối ngành công nghiệp chăn nuôi<br />
                              cho một cuộc sống thịnh vượng</h3>
                            <p><img class="size-full wp-image-36 aligncenter"
                                src="assets/img/index/quote_2.png" alt="" width="72" height="72" /></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row section vc_row-fluid  couter_home"
                style='background-color:#ffffff; text-align:left;'>
                <div class=" full_section_inner clearfix">
                  <div
                    class="wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  title_doitact_home">
                          <div class="wpb_wrapper">
                            <h3 style="text-align: center;">Đối tác chiến lược</h3>
                          </div>
                        </div>
                        <div class="slider_carusal_gallery_bank">
                          <section class="slider slider_carusal_gallery_bank_content">
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/logo_massel.svg"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/logo_doitac_1-2.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/logo_3.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/logo_2.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/logo_4.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/1.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/4.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/logo-innov-ad.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/logo-R2-AGRO.png"
                                  alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/orffa-logo.png" alt="" />
                              </figure>
                            </div>
                            <div class="slide-item">
                              <figure>
                                <img src="assets/img/doi-tac-chien-luoc/jefo-logo.png" alt="" />
                              </figure>
                            </div>
                          </section>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                          <div class="wpb_wrapper">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('partial/footer.ejs', {lang: 'vi'}) %>
    </div>
  </div>
  <%- include('partial/bodyAssets.ejs') %>
  <script type='text/javascript' src='assets/js/waypoints.min.js?ver=5.4.7'></script>
</body>

</html>