<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH - THANH TOÁN</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/thanh-toan/" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Thanh Toán" />
  <meta property="og:url" content="/thanh-toan/" />
  <meta property="og:site_name" content="" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Thanh Toán" />
  <%- include('partial/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/contact-form7-lib.css">
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-71.disabled_footer_top .footer_top_holder,
    .page-id-71.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
  <script src='assets/js/e4y1l.js' type="text/javascript"></script>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-71  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('partial/header.ejs', { page: 'thanh-toan', lang: 'vi', engPage: 'en/payment.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img style="height: 668px; width: 2048px;" itemprop="image"
                  src="assets/img/lien-he/banner_lien_he.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1 style="color:#ffffff"><span>Thanh Toán</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  couter_home lien_he_row grid_section"
                style=' text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element  text_lien_he">
                            <div class="wpb_wrapper">
                              <h3>THANH TOÁN BẰNG PHƯƠNG THỨC CHUYỂN KHOẢN</h3>
                            </div>
                          </div>
                          <div role="form" class="wpcf7" id="wpcf7-f7-p71-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                           
                              <div class="contact_us">
                                <div class="contact_col">
                                  <div style="width: 150px;"><img itemprop="image"
                                    src="assets/img/thanh-toan/hdbank.png" alt="&nbsp;" /></div>
                                  
                                    <div><b>TÊN TÀI KHOẢN:</b> CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH</div> 
                                    <div><b>SỐ TÀI KHOẢN  :</b> 045704070024952 (VND)</div>
                                    <div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;045840070000757 (USD)</div>
                                    <div>NGÂN HÀNG TMCP PHÁT TRIỂN TP. HỒ CHÍ MINH - CHI NHÁNH SÀI GÒN</div>
                                    <!-- <div>CHI NHÁNH SÀI GÒN</div> -->
                                    
                                </div>
                                <div class="contact_col">
                                 
                                </div>                                
                              </div>
                           
                          </div>
                        </div>

                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element  text_lien_he">
                            <div class="wpb_wrapper">
                              <h3>THANH TOÁN ONLINE</h3>
                            </div>
                          </div>
                          <div role="form" class="wpcf7" id="wpcf7-f7-p71-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                           
                              <div class="contact_us">
                                <div class="contact_col">                                  
                                  <div style="display: inline-block; width: 100px;">
                                    <img itemprop="image" src="assets/img/thanh-toan/zalopay.png" alt="&nbsp;" />
                                    
                                  </div>     
                                  <div style="display: inline-block; width: 60px">
                                    
                                    <img itemprop="image" src="assets/img/thanh-toan/momo.png" alt="&nbsp;" />
                                  </div>     
                                  <div style="display: inline-block; width: 100px">
                                    
                                    <img itemprop="image" src="assets/img/thanh-toan/paypal.png" alt="&nbsp;" />
                                  </div>   
                                  <div style="display: inline-block; width: 100px">
                                    
                                    <img itemprop="image" src="assets/img/thanh-toan/napas.png" alt="&nbsp;" />
                                  </div>    
                                  <div style="display: inline-block; width: 100px">
                                    
                                    <img itemprop="image" src="assets/img/thanh-toan/vnpay.png" alt="&nbsp;" />
                                  </div>                   
                              </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('partial/footer.ejs', {lang: 'vi'}) %>
    </div>
  </div>
  <script src="/assets/js/contact-form7-lib.js" type="text/javascript"></script>
  <%- include('partial/bodyAssets.ejs') %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  <script type="text/javascript">
    ( function( $ ) {
      emailjs.init("b7L3OdbZdzVMynV5Z");
      $('.custom-contact-form').on('submit', function(e) {
        e.preventDefault();
        var title = "From minhanhxnk website - Liên hệ : ";
        if($('.custom-contact-form')[0].checkValidity()) {
          emailjs.send('service_vt1acs9', 'template_mkibgp7', {
            from_name: title + $('[name="Name"]').val(),
            email: $('[name="Email"]').val(),
            phone: $('[name="Phone"]').val(),
            company: $('[name="Company"]').val(),
            message: $('[name="noidung"]').val()
          }, "b7L3OdbZdzVMynV5Z").then(function(response) {
            alert('Cảm ơn bạn đã quan tâm đóng góp ý kiến công ty')
          }, function(error) {
            alert('Lỗi gửi tin nhắn')
          });
        }
      });
    } )( jQuery );
 </script>
</body>

</html>