<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <title>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH - TIN TỨC SỰ KIỆN</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="canonical" href="/tin-tuc-su-kien/" />
  <meta property="og:locale" content="vi_VN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Tin Tức Sự Kiện" />
  <meta property="og:url" content="/tin-tuc-su-kien/" />
  <meta property="og:site_name" content="" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Tin Tức Sự Kiện" />
  <%- include('partial/head.ejs') %>
  <style id='stylesheet-inline-css' type='text/css'>
    .page-id-138.disabled_footer_top .footer_top_holder,
    .page-id-138.disabled_footer_bottom .footer_bottom_holder {
      display: none;
    }
  </style>
</head>

<body data-rsssl=1
  class="page-template page-template-full_width page-template-full_width-php page page-id-138  qode_grid_1200 qode-child-theme-ver- qode-theme-ver-13.8 qode-theme-vietacc disabled_footer_bottom wpb-js-composer js-comp-ver-5.4.7 vc_responsive"
  itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <div class="wrapper_inner">
      <%- include('partial/header.ejs', { page: 'tin-tuc-su-kien', lang: 'vi', engPage: 'en/news-events.html' }) %>
      <div class="content ">
        <div class="content_inner  ">
          <div class="title_outer title_without_animation with_image" data-height="180">
            <div class="title title_size_small  position_right " style="height:180px;">
              <div class="image responsive"><img itemprop="image"
                  src="assets/img/tin-tuc-su-kien/banner-1.png" alt="&nbsp;" /> </div>
              <div class="title_holder">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="title_subtitle_holder" style="padding-top:80px;">
                      <div class="title_subtitle_holder_inner">
                        <h1 style="color:#ffffff"><span>Tin Tức Sự Kiện</span></h1>
                        <span class="separator small right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full_width">
            <div class="full_width_inner">
              <div class="vc_row wpb_row section vc_row-fluid  couter_home grid_section"
                style='background-color:#ffffff; text-align:left;'>
                <div class=" section_inner clearfix">
                  <div class='section_inner_margin clearfix'>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="TinTuc_shortcode">
                            <ul>
                              <li>
                                <div class="TinTuc_SuKien_Detail">
                                  <div class="text_tintuc">
                                    <div class="text_tintuc_detail">
                                      <h4>Kiến Thức Chăn Nuôi</h4>
                                      <h3><a
                                          href="/tin-tuc/kiem-soat-chat-luong-thuc-an-chan-nuoi.html">Kiểm soát chất lượng thức ăn chăn nuôi để cải thiện lợi nhuận công ty</a></h3>
                                      <p>Vitamin E có thể được thay thế hoặc tiết kiệm bằng cách sử dụng các chất chống
                                        oxy hóa khác, nhưng không bao giờ thay thế được hoàn toàn; bài viết này giải
                                        thích lý do vì sao vitamin E rất quan trọng đối với&#8230;</p>
                                      <a href="/tin-tuc/kiem-soat-chat-luong-thuc-an-chan-nuoi.html"
                                        class="button_learmore">Xem thêm</a>
                                    </div>
                                  </div>
                                  <div class="thumbnail">
                                    <a
                                      href="/tin-tuc/kiem-soat-chat-luong-thuc-an-chan-nuoi.html"><img
                                        width="792" height="618"
                                        src="/assets/img/tin-tuc-su-kien/about_home-768x502.png"
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                        srcset="assets/img/tin-tuc-su-kien/about_home-768x502.png 792w, assets/img/tin-tuc-su-kien/about_home-300x196.png 300w, assets/img/tin-tuc-su-kien/about_home-768x502.png 768w, assets/img/tin-tuc-su-kien/about_home-700x458.png 700w"
                                        sizes="(max-width: 792px) 100vw, 792px" /></a>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="TinTuc_SuKien_Detail">
                                  <div class="text_tintuc">
                                    <div class="text_tintuc_detail">
                                      <h4>Kiến Thức Chăn Nuôi</h4>
                                      <h3><a
                                          href="/tin-tuc/6-buoc-trong-lap-cong-thuc-thuc-an-chan-nuoi.html">6
                                          bước trong lập công thức thức ăn chăn nuôi</a></h3>
                                      <p>Công thức thức ăn vẫn còn là một bí ẩn không chỉ đối với hầu hết sinh viên mới
                                        ra trường mà ngay cả đối với một số chuyên gia, những người đôi khi mới đụng
                                        chạm đến vấn đề này.</p>
                                      <a href="/tin-tuc/6-buoc-trong-lap-cong-thuc-thuc-an-chan-nuoi.html"
                                        class="button_learmore">Xem thêm</a>
                                    </div>
                                  </div>
                                  <div class="thumbnail">
                                    <a href="/tin-tuc/6-buoc-trong-lap-cong-thuc-thuc-an-chan-nuoi.html"><img
                                        width="440" height="260"
                                        src="assets/img/tin-tuc-su-kien/1528276943562.png"
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                        srcset="assets/img/tin-tuc-su-kien/1528276943562.png 440w, assets/img/tin-tuc-su-kien/1528276943562-300x177.png 300w"
                                        sizes="(max-width: 440px) 100vw, 440px" /></a>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="TinTuc_SuKien_Detail">
                                  <div class="text_tintuc">
                                    <div class="text_tintuc_detail">
                                      <h4>Kiến Thức Chăn Nuôi</h4>
                                      <h3><a
                                          href="/tin-tuc/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi.html">Có
                                          thể cắt giảm hoặc thay thế vitamin E trong thức ăn chăn nuôi ?</a></h3>
                                      <p>Vitamin E có thể được thay thế hoặc tiết kiệm bằng cách sử dụng các chất chống
                                        oxy hóa khác, nhưng không bao giờ thay thế được hoàn toàn; bài viết này giải
                                        thích lý do vì sao vitamin E rất quan trọng đối với&#8230;</p>
                                      <a href="/tin-tuc/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi.html"
                                        class="button_learmore">Xem thêm</a>
                                    </div>
                                  </div>
                                  <div class="thumbnail">
                                    <a
                                      href="/tin-tuc/co-the-cat-giam-hoac-thay-the-vitamin-e-trong-thuc-an-chan-nuoi.html"><img
                                        width="792" height="618"
                                        src="assets/img/tin-tuc-su-kien/img_chuoi_1.jpg"
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                        srcset="assets/img/tin-tuc-su-kien/img_chuoi_1.jpg 792w, assets/img/tin-tuc-su-kien/img_chuoi_1-300x234.jpg 300w, assets/img/tin-tuc-su-kien/img_chuoi_1-768x599.jpg 768w, assets/img/tin-tuc-su-kien/img_chuoi_1-700x546.jpg 700w"
                                        sizes="(max-width: 792px) 100vw, 792px" /></a>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="TinTuc_SuKien_Detail">
                                  <div class="text_tintuc">
                                    <div class="text_tintuc_detail">
                                      <h4>Kiến Thức Chăn Nuôi</h4>
                                      <h3><a
                                          href="/tin-tuc/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con.html">Kiểm
                                          soát giá trị đệm trong thức ăn heo con</a></h3>
                                      <p>Thực tiễn xây dựng khẩu phần thức ăn heo con hiện đại cần tính đến khả năng đệm
                                        của khẩu phần, mục tiêu kiểm soát khả năng đệm đạt dưới 650 meq/kg. &nbsp; Trong
                                        bất kỳ hệ thống chăn nuôi heo thâm canh nào cũng&#8230;</p>
                                      <a href="/tin-tuc/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con.html"
                                        class="button_learmore">Xem thêm</a>
                                    </div>
                                  </div>
                                  <div class="thumbnail">
                                    <a href="/tin-tuc/kiem-soat-gia-tri-dem-trong-thuc-an-heo-con.html"><img
                                        width="800" height="560"
                                        src="assets/img/tin-tuc-su-kien/iStock_487525682-e1529470879149.jpg"
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                        alt="" /></a>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="TinTuc_SuKien_Detail">
                                  <div class="text_tintuc">
                                    <div class="text_tintuc_detail">
                                      <h4>Kiến Thức Chăn Nuôi</h4>
                                      <h3><a href="/tin-tuc/dieu-chinh-che-do-dinh-duong-cho-heo-nai.html">Điều chỉnh chế độ dinh dưỡng cho heo
                                          nái trong giai đoạn chuyển tiếp khi sinh</a></h3>
                                      <p>Heo con có sức sống tốt hơn sẽ giúp tăng lợi nhuận trong quá trình chăn nuôi.
                                        Dựa trên những thí nghiệm gần đây và kết quả thực hiện chương trình dinh dưỡng
                                        tiên tiến đã khẳng định rằng cải thiện dinh dưỡng cho heo&#8230;</p>
                                      <a href="/tin-tuc/dieu-chinh-che-do-dinh-duong-cho-heo-nai.html" class="button_learmore">Xem thêm</a>
                                    </div>
                                  </div>
                                  <div class="thumbnail">
                                    <a href="/tin-tuc/dieu-chinh-che-do-dinh-duong-cho-heo-nai.html"><img width="664" height="524"
                                        src="assets/img/tin-tuc-su-kien/tin_4.png"
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                        srcset="assets/img/tin-tuc-su-kien/tin_4.png 664w, assets/img/tin-tuc-su-kien/tin_4-300x237.png 300w"
                                        sizes="(max-width: 664px) 100vw, 664px" /></a>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include('partial/footer.ejs', {lang: 'vi'}) %>
    </div>
  </div>

  <%- include('partial/bodyAssets.ejs') %>
</body>

</html>